.mypagePage .top .topTitle {
    padding-top: 0;
}

.subTop .top .topTitle {
    padding-top: 34px;
    text-align: center;
}

.mypagePage .top .topTitle .title {
    padding-top: 110px;
    font-size: 40px;
    background: url(/img/FcTogether.jpg) 50% 0/auto 90px no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    position: relative;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px
}









