<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="layout/common/header :: load('Layout Sample Page')"></head>
<body>
<!-- Preloader -->
<div th:replace="layout/common/preloader :: load()"></div>

<!-- Navbar -->
<nav th:replace="layout/common/navigator :: load()"></nav>

<!-- Main Sidebar Container -->
<aside th:replace="layout/common/sider :: load()"></aside>

<!-- 에디터 코드 추가 -->


<!-- Content Wrapper. Contains page content -->
<div id="app" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">구단목록 관리 페이지</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/layout/adminpage">Home</a></li>
                        <li class="breadcrumb-item active">구단목록 관리 페이지</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- 처리 결과 얼럿 -->
    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}"></p>
    </div>

    <!-- Main content -->
    <div class="adminTab">
        <ul id="nav-1">
            <li class="slide1"></li>
            <li class="slide2"></li>
            <li class="slide3"></li>
            <li class="slide4"></li>
            <li class="slide5"></li>
            <li><a th:href="@{./}" data-team-type="k5">K5 구단 목록</a></li>
            <li><a href="#/" data-team-type="k7">K7 구단 목록</a></li>
            <li><a href="#/" data-team-type="w1">Woman 구단 목록</a></li>
            <li id="register-team"><a href="#/">구단 등록</a></li>
        </ul>
        <script src="/dist/js/clublist_management.js"></script>
    </div>

    <!-- 구단 등록 -->
    <div class="cnt_bbs" id="cnt_bbs" style="display: none;">
        <h1 class="text-3xl py-4 border-b mb-10">구단 정보</h1>

        <div id="viewContainer" class="container mx-auto py-6 px-4 textarea">
            <form action="/admin/layout/insertTeamInfo" method="post" enctype="multipart/form-data">
                <div class="content-box">
                    <div class="form-list view-list">
                        <input type="hidden" name="no" value="">
                        <div class="col">
                            <dl class="flex-align-center">
                                <dt id="teamName-label">팀이름</dt>
                                <dd id="teamName-value"></dd>
                            </dl>
                            <dl>
                                <dt id="filePath-label">팀로고</dt>
                                <dd id="filePath-value"></dd>
                            </dl>
                            <dl>
                                <dt id="teamLeagueGb-label">참가리그</dt>
                                <dd id="teamLeagueGb-value"></dd>
                            </dl>
                        </div>
                        <div class="submit-btn">
                            <button type="button" class="tb_btn blueM">구단 등록</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <link rel="stylesheet" href="/dist/css/video.css">
    </div>
    <!-- 선수 등록 Ena -->



    <!-- 테이블 시작 -->
    <div id="tableContainer" class="container mx-auto py-6 px-4">
        <h1 class="text-3xl py-4 border-b mb-10">K5 구단목록</h1>
        <div id="selectedRowsBanner" class="bg-teal-200 fixed top-60 left-0 right-0 z-50 w-full shadow" style="display: none;">
            <div class="container mx-auto px-4 py-4">
                <div class="flex md:items-center">
                    <div class="mr-4 flex-shrink-0">
                        <svg class="h-8 w-8 text-teal-600" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div id="selectionCount" class="text-teal-800 text-lg">0 rows are selected</div>
                </div>
            </div>
        </div>


        <div class="mb-4 flex justify-between items-center">
            <!-- 테이블 검색 -->
            <div class="flex-1 pr-4">
                <div class="relative md:w-1/3">
                    <input type="search" class="w-full pl-10 pr-4 py-2 rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Search...">
                    <div class="absolute top-0 left-0 inline-flex items-center p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                            <circle cx="10" cy="10" r="7"></circle>
                            <line x1="21" y1="21" x2="15" y2="15"></line>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- 테이블 검색 and -->
            <div>
                <div class="shadow rounded-lg flex">
                    <div class="relative">
                        <button id="displayButton" class="rounded-lg inline-flex items-center bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline text-gray-500 font-semibold py-2 px-2 md:px-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:hidden" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                <path d="M5.5 5h13a1 1 0 0 1 0.5 1.5L14 12L14 19L10 16L10 12L5 6.5a1 1 0 0 1 0.5 -1.5"></path>
                            </svg>
                            <span class="hidden md:block">Display</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </button>
                        <div id="columnSelection" class="z-40 absolute top-0 right-0 w-40 bg-white rounded-lg shadow-lg mt-12 -mr-1 block py-1 overflow-hidden" style="display: none;">
                            <!-- Column checkboxes will be appended here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="height: 405px;">
            <table id="teamsTable" class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                <thead>
                <!-- 테이블 항목 -->
                <tr class="text-left">
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                        <label class="text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer">
                            <input id="selectAllCheckbox" type="checkbox" class="form-checkbox focus:outline-none focus:shadow-outline">
                        </label>
                    </th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs teamLogo">팀 로고</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs teamName">팀 이름</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs teamLeagueGb">소속 리그</th>
                </tr>
                </thead>
                <tbody>
                <!-- 데이터 동적으로 삽입될 위치 -->
                </tbody>
            </table>
        </div>

    </div>
    <!-- 테이블 and -->

    <div class="buttonContainer" id="buttonContainer">
        <div class="leftContainer">
            <button class="deleteButton">삭제</button>
            <button class="checkButton">보기</button>
        </div>
        <button class="writeButton">구단등록</button>
        <link rel="stylesheet" href="/dist/css/qna.css">
    </div>
</div>


</div>

<!-- Main footer -->
<footer th:replace="layout/common/footer :: load()"></footer>

<!-- common javascript -->
<div th:include="layout/common/script :: load()"></div>

<script th:inline="javascript">

    $(document).ready(function() {
        $('.writeButton').click(function() {
            // 폼을 'create' 상태로 설정하고 탭 이동 전 로컬스토리지 값을 저장
            var savedLeague = localStorage.getItem('teamLeagueGb');
            $("#register-team a").trigger('click'); // 탭 이동
            localStorage.setItem('teamLeagueGb', savedLeague); // 탭 이동 후 로컬스토리지 값을 복원

            // 입력 필드 설정
            setTimeout(function() {
                clearAndAddInputField('teamName-value', '팀 이름', 'teamName');
                clearAndAddFileUploadField('filePath-value', 'teamLogo');
                clearAndAddInputField('teamLeagueGb-value', '참가리그', 'teamLeagueGb', savedLeague, true); // 로컬스토리지 값으로 초기화, 읽기 전용 설정
            }, 100);
        });

        // 파일 업로드 필드 추가 함수
        function clearAndAddFileUploadField(containerId, name) {
            var container = $('#' + containerId);
            container.empty(); // 기존 필드 제거
            var fileUploadHTML = '<input type="file" name="' + name + '" accept="image/*">';
            container.html(fileUploadHTML);
        }

        // 입력 필드를 추가하는 함수
        function clearAndAddInputField(id, hint, name, defaultValue = '', readOnly = false) {
            var container = document.getElementById(id);
            container.innerHTML = ''; // 기존 필드 제거
            var input = document.createElement('input');
            input.type = 'text';
            input.style.width = '100%'; // 폼에 맞게 스타일 조정
            input.placeholder = hint;
            input.name = name;
            input.value = defaultValue; // 기본값 설정
            if (readOnly) {
                input.setAttribute('readonly', 'readonly'); // 읽기 전용 속성 추가
            }

            container.appendChild(input); // 새로운 입력 필드 추가
        }

        // "구단 등록" 버튼 이벤트 처리
        $('.submit-btn button').click(function(e) {
            e.preventDefault(); // 기본 폼 제출 동작 방지

            // 모든 필드가 채워졌는지 확인
            var isAllFilled = true;
            var emptyFieldName = "";

            // 필수 입력 필드 검증
            $('form[action="/admin/layout/insertTeamInfo"] input[type="text"], form[action="/admin/layout/insertTeamInfo"] input[type="file"]').each(function() {
                if (!$(this).val().trim() && isAllFilled) {
                    isAllFilled = false;
                    emptyFieldName = $(this).attr('name'); // 빈 필드의 name을 가져옴
                }
            });

            if (!isAllFilled) {
                alert(emptyFieldName + " 필드를 채워주세요.");
                return;
            }

            var form = $('form[action="/admin/layout/insertTeamInfo"]')[0];
            var formData = new FormData(form);

            // 로컬 스토리지에 저장된 참가리그 값을 추가
            var savedLeague = localStorage.getItem('teamLeagueGb');
            formData.append('teamLeagueGb', savedLeague);

            // 모든 입력 필드를 formData에 추가
            $('form[action="/admin/layout/insertTeamInfo"] input, form[action="/admin/layout/insertTeamInfo"] select').each(function() {
                if (this.type === 'file') {
                    // 파일 필드의 경우, 파일 객체 자체를 추가
                    if (this.files.length > 0) {
                        formData.append(this.name, this.files[0]);
                    }
                } else {
                    // 다른 모든 필드
                    if (this.name && this.value) {
                        formData.append(this.name, this.value);
                    }
                }
            });

            // FormData 디버깅
            console.log("폼 데이터:");
            formData.forEach((value, key) => {
                console.log(key + ": " + value);
            });

            // AJAX 요청으로 서버에 데이터 전송
            $.ajax({
                url: form.action,
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function(response) {
                    alert('구단등록 성공');
                    window.location.href = '/admin/layout/clublist'; // 성공 시 페이지 리다이렉션
                },
                error: function(xhr, status, error) {
                    alert('구단등록 실패: ' + error);
                    console.error("에러 응답 데이터:", xhr.responseText);
                }
            });
        });







         // JWT 토큰을 디코딩하는 함수
         function parseJwt(token) {
             var base64Url = token.split('.')[1];
             var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
             var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
                 return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
             }).join(''));

             return JSON.parse(jsonPayload);
         }

         // JWT 토큰이 저장된 곳에서 가져오기
         var token = localStorage.getItem('accessToken');

         // 토큰에서 사용자 이름 추출
         var username = parseJwt(token).sub;

         // 사용자 이름이 정상적으로 추출되었는지 콘솔에 로깅
         console.log("사용자 이름: ", username);

         // HTML 페이지에 사용자 이름 노출
         document.querySelector('.d-block').textContent = username + " 관리자";

         // 선택된 행들을 저장하는 배열
         var selectedRows = [];
         // 표시 버튼의 상태 (열림/닫힘)
         var isOpen = false;

         // 선택된 행의 수를 업데이트하고, 배너의 위치와 표시 상태를 정하는 함수
         var updateSelectedCount = function() {
             var navbarHeight = $('.main-header.navbar.navbar-expand.navbar-white.navbar-light').outerHeight();
             $('#selectedRowsBanner').css('top', navbarHeight);
             // 체크된 rowCheckbox의 개수를 세어서 카운트를 업데이트
             var checkedCount = $('.rowCheckbox:checked').length;
             $('#selectionCount').text(checkedCount + " 행이 선택되었습니다.");
             if (checkedCount > 0) {
                 $('#selectedRowsBanner').show();
             } else {
                 $('#selectedRowsBanner').hide();
             }
         };

         // 표시 버튼을 클릭하면 열림/닫힘 상태를 토글하고, 컬럼 선택 영역을 표시/숨김
         $('#displayButton').click(function() {
             isOpen = !isOpen;
             if (isOpen) {
                 $('#columnSelection').show();
             } else {
                 $('#columnSelection').hide();
             }
         });

         // 표시 버튼이나 컬럼 선택 영역 외의 곳을 클릭하면 컬럼 선택 영역을 숨김
         $(document).click(function(event) {
             if (!$(event.target).closest('#displayButton').length && !$(event.target).closest('#columnSelection').length) {
                 isOpen = false;
                 $('#columnSelection').hide();
             }
         });

         // 컬럼 체크박스를 클릭하면 해당 컬럼을 표시/숨김
         $('#columnSelection').on('click', '.column-checkbox', function() {
             var key = $(this).attr('name');
             $('.' + key).toggleClass('hidden');
         });

         // "모두 선택" 체크박스를 클릭하면 모든 행을 선택/선택 해제
         $("#selectAllCheckbox").click(function() {
             $(".rowCheckbox").prop('checked', $(this).prop('checked'));
             selectedRows = [];
             if ($(this).prop('checked')) {
                 $('.rowCheckbox').each(function() {
                     selectedRows.push(parseInt($(this).attr('name')));
                 });
             }
             updateSelectedCount();
         });

         // 행 체크박스를 클릭하면 해당 행을 선택/선택 해제
         $(document).on('click', '.rowCheckbox', function() {
             var id = parseInt($(this).attr('name'));
             if ($(this).prop('checked')) {
                 selectedRows.push(id);
             } else {
                 var index = selectedRows.indexOf(id);
                 if (index > -1) {
                     selectedRows.splice(index, 1);
                 }
             }

             // 모든 행이 선택되었으면 "모두 선택" 체크박스를 체크, 그렇지 않으면 체크 해제
             if ($('.rowCheckbox:checked').length == $('.rowCheckbox').length) {
                 $('#selectAllCheckbox').prop('checked', true);
             } else {
                 $('#selectAllCheckbox').prop('checked', false);
             }
             updateSelectedCount();
         });




       // 삭제 클릭 시 실행




       // 보기 클릭 시 실행
       $('.checkButton').click(function() {
            if (selectedRows.length === 0) {
                alert("확인할 글을 선택해주세요.");
            } else if (selectedRows.length > 1) {
                alert("확인할 글을 하나만 선택해주세요.");
            } else {
                var teamId = selectedRows[0]; // 'teamName' 대신 'teamId'를 사용
                var accessToken = localStorage.getItem('accessToken');
                var url = `/admin/layout/TeamView?id=${encodeURIComponent(teamId)}`; // 쿼리 스트링 변경

                $.ajax({
                    url: url,
                    method: "GET",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
                    },
                    success: function(response) {
                        var teamInfo = response.team;

                        // 팀 정보 갱신
                        $('#teamName-value').text(teamInfo.teamName);
                        $('#filePath-value').html(`<img src='${teamInfo.teamLogo}' class='h-16 w-16 object-cover rounded-full' alt='${teamInfo.teamName}'/>`);
                        $('#teamLeagueGb-value').text(teamInfo.teamLeagueGb);

                        // 팀 정보 탭 활성화
                        $("#register-team a").text("구단 정보");
                        $("#register-team a").trigger('click');

                        $('.tb_btn.blueM').text('목록');

                        // 버튼 클릭 이벤트 핸들러 설정
                        $('.tb_btn.blueM').off('click').on('click', function() {
                            // 지정된 URL로 이동
                            window.location.href = '/admin/layout/clublist';
                        }); // 여기에 닫는 괄호와 세미콜론을 추가했습니다.

                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        });







         $(document).ready(function() {
             var teamListKeys = ['teamLogo', 'teamName', 'teamLeagueGb'];
             var currentLeague = null; // 현재 활성화된 리그 추적

             // 리그 이름 매핑
             var leagueNames = {
                 'k5': 'K5 구단목록',
                 'k7': 'K7 구단목록',
                 'w1': 'Woman 구단목록'
             };

             // 열 체크박스 동적 생성
             $.each(teamListKeys, function(index, key) {
                 var label = $('<label/>').addClass('flex justify-start items-center text-truncate hover:bg-gray-100 px-4 py-2');
                 var div = $('<div/>').addClass('text-teal-600 mr-3');
                 var checkbox = $('<input/>').attr('type', 'checkbox').attr('name', key).addClass('form-checkbox focus:outline-none focus:shadow-outline column-checkbox').prop('checked', true);
                 var divText = $('<div/>').addClass('select-none text-gray-700').text(key);

                 div.append(checkbox);
                 label.append(div, divText);
                 $('#columnSelection').append(label);

                 checkbox.change(function() {
                     $('.' + key).toggle();
                 });
             });

             // 탭 클릭 이벤트 핸들러
             $('#nav-1 a').on('click', function(e) {
                 e.preventDefault();
                 var teamType = $(this).data('team-type');
                 loadTeams(teamType); // 해당 리그 데이터 로드
             });

             function loadTeams(teamLeagueGb) {
                 if (teamLeagueGb === currentLeague) {
                     return; // 중복 로드 방지
                 }
                 currentLeague = teamLeagueGb; // 현재 리그 업데이트
                 localStorage.setItem('teamLeagueGb', teamLeagueGb); // 리그 변경 시 로컬 스토리지 업데이트

                 var accessToken = localStorage.getItem('accessToken');
                 $.ajax({
                    url: "/admin/layout/getTeamList",
                    method: "GET",
                    headers: { "Authorization": "Bearer " + accessToken },
                    data: { league: teamLeagueGb },
                    success: function (data) {
                        $('#teamsTable tbody').empty(); // 테이블 내용 비우기
                        $.each(data, function (i, team) {
                            var tr = $('<tr/>');
                            tr.append($("<td class='border-dashed border-t border-gray-200 px-3'/>").append(
                                $("<label class='text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer'/>").append(
                                    $("<input type='checkbox' class='form-checkbox rowCheckbox focus:outline-none focus:shadow-outline' name='" + team.id + "' data-teamId='" + team.id + "'/>")
                                )
                            ));
                            $.each(teamListKeys, function (j, key) {
                                var value = team[key];
                                var content;
                                // 사진 경로가 있는 경우 이미지로 노출
                                if (key === 'teamLogo' && value) {
                                    content = "<img src='" + value + "' class='h-16 w-16 object-cover rounded-full' alt='" + team.teamName + "'/>";
                                } else {
                                    content = "<span class='text-gray-700 px-6 py-3 flex items-center'>" + value + "</span>";
                                }
                                tr.append("<td class='border-dashed border-t border-gray-200 " + key + "'>" + content + "</td>");
                            });
                            $('#teamsTable tbody').append(tr);
                        });
                        // 업데이트 타이틀
                        $('.text-3xl.py-4.border-b.mb-10').text(leagueNames[teamLeagueGb]);
                    }
                });
             }

             // 설정된 리그 값으로 초기 페이지 로드
             loadTeams('k5'); // 'k5'를 기본 리그로 설정하여 초기 로드
             $('#nav-1 a[data-team-type="k5"]').addClass('active'); // 'k5' 탭을 활성화 상태로 설정
         });
     });




</script>


</body>
</html>