<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>noticeView</title>
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/media/noticeview.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div class="container">
    <div id="contents" class="contents view-wrap">
        <div class="layout-inner">
            <section class="notice-wrap">
                <div class="view-top">
                    <h1 class="tit" th:text="${notice.noticeTitle}"></h1>
                    <div class="view-info">
                        <span class="txt-num" th:text="${notice.noticeDate}"></span>
                    </div>
                </div>
                <div class="view-cont ql-editor">
                    <p th:utext="${notice.noticeContent}"></p>
                </div>
                <div class="formBtns">
                    <a id="default_butt" href="http://localhost:8081/media/notice" class="btn btn-default">목록</a>
                </div>
            </section>
        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        // URL에서 noticeNum 추출
        var urlParams = new URLSearchParams(window.location.search);
        var noticeNum = urlParams.get('no');

        // noticeNum 해당하는 문의 메시지 로드
        $.ajax({
            url: '/media/noticeview?no=' + noticeNum,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                // 서버에서 반환한 데이터를 사용하여 공지사항의 제목, 날짜, 내용을 업데이트
                $('.tit').text(data.notice.title);
                $('.txt-num').text(data.notice.date);
                $('#notice-content').html(data.notice.content);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    });
</script>



</body>
</html>
