<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <title>photo</title>
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/media/photo.css" rel="stylesheet"/>
     <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
     <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div class="container">
    <div class="photoPage" id="content">
        <div class="subTop">
            <div class="top">
                <div class="container">
                    <div class="topTitle">
                        <p class="title">
                            <span class="mobileBreak"><strong></strong>구단사진</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="tabMenu">
                <div class="container">
                    <a href="/media/all" class="tabLink">
                        <span>전체</span>
                    </a>
                    <a href="/media/notice"
                       aria-current="page">
                        <span>공지사항</span>
                    </a>
                    <a href="/media/news" class="tabLink">
                        <span>구단소식</span>
                    </a>
                    <a href="/media/photo" class="tabLink router-link-exact-active router-link-active current">
                        <span>구단사진</span>
                    </a>
                    <a href="/media/video" class="tabLink">
                        <span>영상</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="list-contents">
            <div class="photo-container">
                <div class="photo-board">
                    <div class="photo-item-container">
                        <!-- <div class="news-detail">
                             <div class="news-thumbnail" style="background-image: url('https://static.mims.kr/upload/suG3cOmTNpBUkM72CCXX20230925014050817314.jpg');"></div>
                             <div class="news-contents">
                                 <div class="news-title">
                                     <p id="news-title"></p> &lt;!&ndash; 수정: id 값을 추가했습니다. &ndash;&gt;
                                 </div>
                                 <div class="news-date" id="news-date"> &lt;!&ndash; 수정: id 값을 추가했습니다. &ndash;&gt;
                                 </div>
                             </div>
                         </div>-->

                    </div>
                </div>
                <div class="formBtns">
                    <button id="loadMore" class="btn btn-more">More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var limit = 9; // 한 번에 photo 목록을 조회할 개수
        var start = 0; // 조회 시작 위치
        var activeTabHref = $(".tabLink.router-link-exact-active.router-link-active.current").attr("href"); // 현재 활성화된 탭의 href 저장

        loadPhotoList(start, limit); // 사진 목록 로딩 함수 호출

        $("#loadMore").click(function() {
            start += limit;
            loadPhotoList(start, limit); // "더 보기" 클릭 시 추가 목록 로딩
        });

       $("body").on("click", ".tabLink", function(e) {
            var clickedTabHref = $(this).attr("href");
            if (activeTabHref !== clickedTabHref) {
                // 다른 탭 클릭 시 기본 동작 수행
                return;
            }

            e.preventDefault(); // 같은 탭을 다시 클릭한 경우 기본 동작 방지
        });

        // 사진 목록 로딩 함수
        function loadPhotoList(start, limit) {
            $.ajax({
                url: '/media/photo/list',
                type: 'GET',
                data: {
                    start: start,
                    limit: limit
                },
                dataType: 'json',
               success: function(photoList) {
                    if (photoList.length === 0) {
                        alert('더 이상 표시할 구단 사진이 없습니다.');
                        return;
                    }

                    // 기존 목록을 비우고 새로 로드
                    $('.photo-item-container').empty();

                    $.each(photoList, function(index, photo) {
                        var srcRegex = /<img[^>]+src="([^">]+)"/;
                        var match = photo.cpContent.match(srcRegex);
                        var imgSrc = match ? match[1] : '/img/FcTogether.jpg';

                        var photoItem = '<a href="/media/photoview?no=' + photo.cpIdx + '">' +
                            '<div class="photo-detail">' +
                            '<div class="photo-thumbnail" style="background-image: url(' + imgSrc + ');"></div>' +
                            '<div class="photo-contents">' +
                            '<div class="photo-title">' + photo.cpTitle + '</div>' +
                            '<div class="photo-date-and-hits">' +
                                            '<i class="fa-regular fa-calendar"></i> ' + photo.cpRegdate +
                                            ' <i class="fa-regular fa-eye"></i> ' + photo.cpHits +
                                        '</div>' +
                            '<div class="photo-table">' +
                                '<p>' + photo.tableGb + '</p>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</a>';
                        $('.photo-item-container').append(photoItem);
                    });
                },
                error: function(error) {
                    console.error('사진을 가져오는데 실패했습니다.', error);
                }
            });
        }
    });
</script>
<footer>
    <th:block th:include="layout/footer"></th:block>
</footer>
</body>
</html>