<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<!--<head>
    <meta charset="UTF-8">
    <title>notice</title>
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/media/notice.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>-->
<body>
<div class="container">
    <div class="noticePage" id="content">
        <div class="subTop">
            <div class="top">
                <div class="container">
                    <div class="topTitle">
                        <p class="title">
                            <span class="mobileBreak"><strong></strong>영상</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="tabMenu">
                <div class="container">
                    <a href="/media/all" class="tabLink">
                        <span>전체</span>
                    </a>
                    <a href="/media/notice"
                       aria-current="page">
                        <span>공지사항</span>
                    </a>
                    <a href="/media/news" class="tabLink">
                        <span>구단소식</span>
                    </a>
                    <a href="/media/photo" class="tabLink">
                        <span>구단사진</span>
                    </a>
                    <a href="/media/video" class="tabLink router-link-exact-active router-link-active current">
                        <span>영상</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>