

.newsContainer {
    width: 1120px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
}

.mediaRoomContainer {
   /* display: flex;*/ /*컨텐츠 내용에 따라 노출 크기 처리*/
    margin-top: 77px;
}

.newsInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.111rem;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.newsInformation .titleBox > p {
    font-size: 1.333rem;
    line-height: 2rem;
    font-weight: 700;
    max-width: 910px;
}

.newsInformation .titleBox > div {
    display: flex;
    font-size: 0.888rem;
    color: rgba(0, 0, 0, 0.5);
    -webkit-box-align: center;
    align-items: center;
}

.newsInformation .titleBox > div .titleInfo {
    display: grid;
    grid-template-columns: 3.3em 1fr;
    font-weight: 400;
}

.newsInformation .titleBox > div .titleInfo p:first-child {
    font-weight: 700;
}

.newsInformation .titleBox .line {
    width: 1px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 1.111rem;
}

.newsInformation .share {
    display: flex;
    gap: 0.667rem;
}

.newsContent {
   /* border-bottom: 1px solid rgb(0, 0, 0);*/
    font-weight: 400;
}

.newsContent .content {
    padding: 3.111rem 2.111rem;
    font-size: 0.944rem;
    letter-spacing: -0.6px;
}

.iQdlyk {
    font-size: 1rem;
    line-height: 1.777rem;
    letter-spacing: -0.64px;
    font-weight: 500;
}

.iQdlyk > div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.222rem 2.111rem;
}

.iQdlyk > div > p:first-child {
    opacity: 0.6;
}

.iQdlyk .arrow {
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6);
    border-width: 0px 1px 1px 0px;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    margin: 8px 36px 0px 20px;
}

.iQdlyk .arrow.up {
    transform: rotate(225deg);
    margin: 7px 36px 0px 20px !important;
}

.btn {
    display: inline-block;
    min-width: 125px;
    padding: 1.1em 1em 1em;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    border-radius: 4px;
    border: 1px solid #034f36;
    background-color: #ffc954;
}

.formBtns {
    margin-top: 48px;
    text-align: center;
}

.btn.btn-default {
   /* min-width: 173px;*/
    font-size: 18px;
    font-weight: 700;
}












