.noticePage .top .topTitle {
  padding-top: 0;
}

.subTop .top .topTitle {
  padding-top: 34px;
  text-align: center;
}

.noticePage .top .topTitle .title {
    margin-left: -90px;
    margin-right: -40px;
    padding-top: 110px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    background: url(/img/FcTogether.jpg) 50% 0/auto 90px no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.subTop .tabMenu {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #777;
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
}

.subTop .tabMenu .current,
.subTop .tabMenu .router-link-exact-active {
  color: #046a38;
}

.subTop .tabMenu a {
  display: inline-block;
  position: relative;
  padding: 0 36px;
  vertical-align: middle;
}

.subTop .tabMenu a span {
  display: inline-block;
  position: relative;
  padding: 25px 0;
  vertical-align: top;
}

.tabMenu .tabLink span {
  color: #000000; /* 검정색 */
}

.tabMenu .tabLink.current span {
  color: #f4ae15; /* 선택된 탭의 글자 색상 */
}

.tabMenu .tabLink.current span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffc954; /* 선택된 탭의 아래 줄 색상 */
}

.tabContent .content {
  padding-top: 30px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contents > .layout-inner {
    max-width: 1040px;
    padding: 0 15px 30px;
    box-sizing: border-box;
}

.cont-tit {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
}

.list-item {
    display: flex;
    flex-direction: column;
    padding: 17px 10px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.list-item:last-child {
    border-color: #ddd;
}

.list-item > .col + .col {
    margin-top: 7px;
}

.list-item.fixed {
    background-color: #f7f7f7;
}

.list-item.fixed .notice-tit {
    font-weight: 700;
}

.list-item .col.tit a {
    display: block;
    display: -webkit-box;
    max-height: 48px;
    line-height: 24px;
    font-size: 17px;
    text-overflow: ellipsis;
    word-break: keep-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-item .txt-num,
.list-item .txt-hit {
    color: #888;
    font-size: 13px;
}

.list-item .col.tit:hover {
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: #121212;
    text-decoration: none;
}
.notice-wrap .btn {
    display: inline-block;
    min-width: 125px;
    padding: 1.1em 1em 1em;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    border-radius: 4px;
    border: 1px solid #034f36;
    background-color: #ffc954;
}

.formBtns {
    margin-top: 48px;
    text-align: center;
}

.btn.btn-more {
    min-width: 173px;
    font-size: 18px;
    font-weight: 700;
}

