<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/team/teampage.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="https://fonts.cdnfonts.com/css/d-din" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="teamPage" id="content">
        <div class="subTop">
            <div class="top">
                <div class="container">
                    <div class="topTitle">
                        <p class="title">
                            <span class="mobileBreak"><strong></strong>팀 소개</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 메인 탭 메뉴 -->
            <div class="tabMenu">
                <div class="container">
                    <ul class="tab-bar">
                        <li data-num="1" class="tab wave dark main-tab"><a href="#">K5 선수단</a></li>
                        <li data-num="2" class="tab wave dark main-tab"><a href="#">K7 선수단</a></li>
                        <li data-num="3" class="tab wave dark main-tab"><a href="#">W리그 선수단</a></li>
                        <li data-num="4" class="tab wave dark main-tab"><a href="#">코칭스태프</a></li>
                        <div class="indicator"></div>
                    </ul>
                </div>
            </div>
            <!-- 서브 탭 메뉴 -->
            <div class="sub_tabMenu">
                <div class="sub_container">
                    <ul class="sub-tab-bar">
                        <li data-num="1" class="sub-tab wave dark sub-tab"><a href="#">GK</a></li>
                        <li data-num="2" class="sub-tab wave dark sub-tab"><a href="#">DF</a></li>
                        <li data-num="3" class="sub-tab wave dark sub-tab"><a href="#">MF</a></li>
                        <li data-num="4" class="sub-tab wave dark sub-tab"><a href="#">FW</a></li>
                        <div class="sub-indicator"></div>
                    </ul>
                </div>
            </div>
            <div class="tab__content">
                <!-- 팀 멤버 섹션 시작 -->
                <section class="team-member section">
                </section>
                <!-- 팀 멤버 섹션 끝 -->
            </div>
        </div>
    </div>

</div>
<script>
    var waveBtnInit = function () {
        // 메인 탭과 서브 탭을 모두 선택
        var mainTabs = document.querySelectorAll('.main-tab.wave');
        var subTabs = document.querySelectorAll('.sub-tab.wave');
        var mainIndicator = document.querySelector('.tab-bar .indicator');
        var subIndicator = document.querySelector('.sub-tab-bar .sub-indicator');

        // 인디케이터 위치 업데이트 함수
        function updateIndicator(indicator, index, tabType, tabs) {
            // 탭의 전체 길이와 간격 계산
            var totalWidth = tabs.length * tabs[0].offsetWidth; // 탭의 개수 * 탭 하나의 너비
            var tabWidth = tabs[0].offsetWidth; // 탭 하나의 너비
            var offset = (totalWidth - tabWidth) / (tabs.length - 1); // 간격 계산
            var marginLeft = index * offset; // 인디케이터의 왼쪽 여백 계산

            // 인디케이터 위치 및 크기 업데이트
            indicator.style.width = tabWidth + 'px'; // 인디케이터 너비 업데이트
            indicator.style.marginLeft = marginLeft + 'px'; // 인디케이터 왼쪽 여백 업데이트
        }

        // 탭 클릭 이벤트 핸들러
        function addWaveEffect(tabs, indicator, tabType) {
            tabs.forEach(function(tab, index) {
                tab.addEventListener('click', function(e) {
                    var newRound = document.createElement('div');
                    var x = e.pageX - tab.offsetLeft;
                    var y = e.pageY - tab.offsetTop;

                    newRound.className = 'cercle anim';
                    newRound.style.left = x + "px";
                    newRound.style.top = y + "px";
                    tab.appendChild(newRound);

                    // 인디케이터 위치 업데이트
                    updateIndicator(indicator, index, tabType, tabs);

                    // 애니메이션이 완료된 후 newRound 요소 제거
                    setTimeout(function() {
                        newRound.remove();
                    }, 1200);
                });
            });
        }

        // 첫 번째 탭에 대한 인디케이터 위치 초기화
        if (mainTabs.length > 0) updateIndicator(mainIndicator, 0, 'main', mainTabs);
        if (subTabs.length > 0) updateIndicator(subIndicator, 0, 'sub', subTabs);

        // 메인 탭과 서브 탭에 대한 이벤트 리스너 추가
        addWaveEffect(mainTabs, mainIndicator, 'main');
        addWaveEffect(subTabs, subIndicator, 'sub');
    };

    // 페이지 로드 시 함수 실행
    waveBtnInit();





 $(document).ready(function() {
    var allPlayersData = null;

    // 최초로 k5 탭 데이터를 불러오도록 추가한 코드
    displayPlayersByTab(1);

    $('.main-tab').on('click', function() {
        var selectedTabNum = $(this).data('num');

        // 코칭스태프 탭이 선택되었는지 확인하고 서브 탭 메뉴를 숨기거나 표시
        if (selectedTabNum === 4) {
            $('.sub_tabMenu').hide();
        } else {
            $('.sub_tabMenu').show();
        }

        clearTableData();
        displayPlayersByTab(selectedTabNum);
        resetSubTabInfo();
        $('html, body').animate({
            scrollTop: $(this).offset().top
        }, 900);
    });

    $('.sub-tab').on('click', function() {
        var selectedSubTabNum = $(this).data('num');
        filterPlayersByPosition(selectedSubTabNum);
    });

    function resetSubTabInfo() {
        $('.team-member.section').hide();
        $('.sub-tab[data-num="1"]').click();
        $('.team-member.section').show();
    }

    function loadAllPlayersData(callback) {
        $.ajax({
            url: "/team/layout/get_allPlayerInfo",
            method: "GET",
            success: function(data) {
                allPlayersData = data;
                if (typeof callback === 'function') {
                    callback();
                }
            }
        });
    }

    function displayPlayersByTab(tabNum) {
        if (!allPlayersData) {
            loadAllPlayersData(function() {
                displayPlayers(tabNum);
            });
        } else {
            displayPlayers(tabNum);
        }
    }

    function displayPlayers(tabNum) {
        var playerType;
        switch(tabNum) {
            case 1:
                playerType = 'k5';
                break;
            case 2:
                playerType = 'k7';
                break;
            case 3:
                playerType = 'w1';
                break;
            case 4:
                loadCoachingStaffData();
                return;
            default:
                playerType = '';
        }

        if (playerType) {
            var players = allPlayersData[playerType];
            if (players) {
                addPlayersToTable(players, playerType);
            }
        }
    }

    function addPlayersToTable(players, playerType) {
        var orderedPositions = ['GK', 'DF', 'MF', 'FW'];
        orderedPositions.forEach(function(position) {
            var playersInSection = players.filter(function(player) {
                return player[playerType + 'PlayerPosition'] === position;
            });
            if (playersInSection.length > 0) {
                var sectionHtml = `<section class="team-member section">
                                      <h3 class="title title--underline">${position}</h3>
                                      <ul class="team-member__list">`;

                playersInSection.forEach(function(player) {
                    var playerHtml = `<li class="team-member__item">
                                        <a class="team-member__link" href="#">
                                            <div class="team-member__img-holder">
                                                <img class="team-member__img lozad"
                                                     src="${player.filePath}"  // 파일 테이블에서 선수테이블에 맞는 사진 노출
                                                     alt="${player[playerType + 'PlayerEnName']}"
                                                     data-loaded="true">
                                            </div>
                                            <div class="team-member__data">
                                                <div class="team-member__data-unit">
                                                    <p class="team-member__number">${player[playerType + 'PlayerNum']}</p>
                                                    <p class="team-member__role">${player[playerType + 'PlayerPosition']}</p>
                                                </div>
                                                <div class="team-member__data-unit">
                                                    <p class="team-member__name-ja" wovn-ignore="true">${player[playerType + 'PlayerName']}</p>
                                                    <p class="team-member__name-en">${player[playerType + 'PlayerEnName']}</p>
                                                    <p class="team-member__text">${player[playerType + 'PlayerBirth']}<br>${player[playerType + 'PlayerHeight']} / ${player[playerType + 'PlayerWeight']}</p>
                                                </div>
                                            </div>
                                        </a>
                                       </li>`;
                    sectionHtml += playerHtml;
                });

                sectionHtml += `</ul></section>`;
                $('.tab__content').append(sectionHtml);
            }
        });
    }


   function loadCoachingStaffData() {
        $.ajax({
            url: "/team/layout/get_teamStaffInfo",
            method: "GET",
            success: function(data) {
                var teamStaff = data;
                var sectionHtml = `
                    <section class="team-member section">
                        <h3 class="title title--underline">Staff</h3>
                        <ul class="team-member__list team-member__list--staff">`;

                teamStaff.forEach(function(staff) {
                    var staffHtml = `
                        <li class="team-member__item">
                            <a class="team-member__link" href="#">
                                <div class="team-member__img-holder">
                                    <img class="team-member__img lozad"
                                         src="${staff.filePath}"  // 수정된 부분
                                         alt="${staff.teamStaffEnName}"
                                         data-loaded="true">
                                </div>
                                <div class="team-member__data">
                                    <div class="team-member__data-unit">
                                        <p class="team-member__role">${staff.teamStaffRole} / ${staff.teamLeagueGb}</p>
                                        <p class="team-member__name-ja" wovn-ignore="true">${staff.teamStaffName}</p>
                                        <p class="team-member__name-en">${staff.teamStaffEnName}</p>
                                        <p class="team-member__text">${staff.teamStaffBirth}</p>
                                    </div>
                                </div>
                            </a>
                        </li>`;
                    sectionHtml += staffHtml;
                });

                sectionHtml += `
                        </ul>
                    </section>`;
                $('.tab__content').append(sectionHtml);
            }
        });
    }


    function clearTableData() {
        $('.tab__content').empty();
    }

    function filterPlayersByPosition(positionNum) {
        $('.team-member.section').hide();
        var positionMap = {1: 'GK', 2: 'DF', 3: 'MF', 4: 'FW'};
        var selectedPosition = positionMap[positionNum];
        $('.team-member.section').each(function() {
            if ($(this).find('.title--underline').text() === selectedPosition) {
                $(this).show();
            }
        });
    }

    loadAllPlayersData(); // 페이지 로딩 시 모든 플레이어 데이터 로드
});


</script>
<footer>
    <th:block th:include="layout/footer"></th:block>
</footer>
</body>
</html>