<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="layout/common/header :: load('Layout Sample Page')"></head>
<body class="antialiased sans-serif bg-gray-200">
<!-- Preloader -->
<div th:replace="layout/common/preloader :: load()"></div>

<!-- Navbar -->
<nav th:replace="layout/common/navigator :: load()"></nav>

<!-- Main Sidebar Container -->
<aside th:replace="layout/common/sider :: load()"></aside>

<!-- Content Wrapper. Contains page content -->
<div id="app" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">관리자 페이지</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/layout/adminpage">Home</a></li>
                        <li class="breadcrumb-item active">관리자 페이지</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="adminTab">
        <ul id="nav-1">
            <li class="slide1"></li>
            <li class="slide2"></li>
            <li><a href="#/list">User 목록</a></li>
            <li><a href="#/section1photos">섹션 사진목록</a></li>
            <li><a href="#/leagueRanking">리그순위</a></li>
            <li><a href="#/section1photoregistration">섹션 사진등록</a></li>
            <li><a href="#/rankRegistration">순위등록</a></li>
        </ul>
        <script src="/dist/js/adminpage.js"></script>
    </div>

    <!-- User 목록 -->
    <div class="container mx-auto py-6 px-4" id="listContent">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl py-4 border-b mb-10">User 목록</h1>
            <button id="deleteUserButton" class="bg-red-500 text-white px-4 py-2 rounded-lg">선택된 사용자 삭제</button>
        </div>
        <div id="selectedRowsBannerUser" class="bg-teal-200 fixed top-60 left-0 right-0 z-50 w-full shadow" style="display: none;">
            <div class="container mx-auto px-4 py-4">
                <div class="flex md:items-center">
                    <div class="mr-4 flex-shrink-0">
                        <svg class="h-8 w-8 text-teal-600" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div id="selectionCountUser" class="text-teal-800 text-lg">0 행이 선택되었습니다.</div>
                </div>
            </div>
        </div>
        <div class="mb-4 flex justify-between items-center">
            <div class="flex-1 pr-4">
                <div class="relative md:w-1/3">
                    <input type="search" class="w-full pl-10 pr-4 py-2 rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Search...">
                    <div class="absolute top-0 left-0 inline-flex items-center p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                            <circle cx="10" cy="10" r="7"></circle>
                            <line x1="21" y1="21" x2="15" y2="15"></line>
                        </svg>
                    </div>
                </div>
            </div>
            <div>
                <div class="shadow rounded-lg flex">
                    <div class="relative">
                        <button id="displayButton" class="rounded-lg inline-flex items-center bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline text-gray-500 font-semibold py-2 px-2 md:px-4">
                            <svg xmlns="http://www.w3.org/1999/xhtml" class="w-6 h-6 md:hidden" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                <path d="M5.5 5h13a1 1 0 0 1 0.5 1.5L14 12L14 19L10 16L10 12L5 6.5a1 1 0 0 1 0.5 -1.5"></path>
                            </svg>
                            <span class="hidden md:block">Display</span>
                            <svg xmlns="http://www.w3.org/1999/xhtml" class="w-5 h-5 ml-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </button>
                        <div id="columnSelection" class="z-40 absolute top-0 right-0 w-40 bg-white rounded-lg shadow-lg mt-12 -mr-1 block py-1 overflow-hidden" style="display: none;">
                            <!-- Column checkboxes will be appended here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="height: 405px;">
            <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative" id="mainTable">
                <thead>
                <tr class="text-left">
                    <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                        <label class="text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer">
                            <input id="selectAllCheckboxUser" type="checkbox" class="form-checkbox focus:outline-none focus:shadow-outline">
                        </label>
                    </th>
                    <template>
                        <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs"></th>
                    </template>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs id">회원번호</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs username">회원아이디</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs email">Email</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs roles">roles</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs user_real_name">회원이름</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs user_gender">회원성별</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs user_phone">Phone</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs user_address">회원주소</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs user_birth">생년월일</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs user_like_player">좋아하는 선수</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs user_marketing">마케팅 동의</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs providerId">소셜로그인 플렛폼</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs provider">소셜로그인아이디</th>
                </tr>
                </thead>
                <tbody id="userTableBody">
                <!-- 사용자 데이터가 여기에 추가됩니다 -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- User 목록 끝 -->

    <!-- 리그 순위 콘텐츠 -->
    <div id="leagueRankingContent" class="container mx-auto py-6 px-4" style="display: none;">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl py-4 border-b mb-10">리그 순위</h1>
            <button id="saveRankingButton" class="bg-green-500 text-white px-4 py-2 rounded-lg">순위 저장</button>
        </div>
        <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="height: 405px;">
            <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                <thead>
                <tr class="text-left">
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">리그</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">순위</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">팀</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">경기수</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">승</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">무</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">패</th>
                    <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">승점</th>
                </tr>
                </thead>
                <tbody id="leagueRankingTableBody">
                <!-- 리그 순위 데이터가 여기에 추가됩니다 -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- 리그 순위 끝 -->

    <!-- 섹션1 사진 목록 -->
    <div id="section1PhotoListContainer" class="container mx-auto py-6 px-4" style="display: none;">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl py-4 border-b mb-10">섹션1 사진 목록</h1>
            <button id="deletePhotoButton" class="bg-red-500 text-white px-4 py-2 rounded-lg">선택된 사진 삭제</button>
        </div>
        <div id="selectedRowsBannerPhoto" class="bg-teal-200 fixed top-60 left-0 right-0 z-50 w-full shadow" style="display: none;">
            <div class="container mx-auto px-4 py-4">
                <div class="flex md:items-center">
                    <div class="mr-4 flex-shrink-0">
                        <svg class="h-8 w-8 text-teal-600" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div id="selectionCountPhoto" class="text-teal-800 text-lg">0 행이 선택되었습니다.</div>
                </div>
            </div>
        </div>
        <div id="section1PhotoList">
            <!-- 섹션1 사진 목록이 여기에 추가됩니다 -->
        </div>
    </div>

    <!-- 섹션1 사진 등록 폼 -->
    <div id="section1PhotoForm" class="container mx-auto py-6 px-4" style="display: none;">
        <h1 class="text-3xl py-4 border-b mb-10">섹션1 사진 등록</h1>
        <form id="section1PhotoUploadForm" action="/admin/layout/uploadSection1Photo" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="file" class="block text-gray-700">Upload File:</label>
                <input type="file" id="file" name="file" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none">
            </div>
            <div class="mb-4">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Submit</button>
            </div>
        </form>
    </div>
    <!-- 섹션1 사진 등록 폼 끝 -->

    <!-- 순위 등록 폼 -->
    <div id="insertRankingFormContainer" class="container mx-auto py-6 px-4" style="display: none;">
        <h1 class="text-3xl py-4 border-b mb-10">순위 등록</h1>
        <form id="insertRankingForm">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                <div>
                    <label for="insertLeagueGb" class="block text-gray-700">리그 구분</label>
                    <input type="text" id="insertLeagueGb" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div>
                    <label for="insertLeagueRank" class="block text-gray-700">순위</label>
                    <input type="number" id="insertLeagueRank" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div>
                    <label for="insertTeamName" class="block text-gray-700">팀</label>
                    <input type="text" id="insertTeamName" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div>
                    <label for="insertGamesPlayed" class="block text-gray-700">경기수</label>
                    <input type="number" id="insertGamesPlayed" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div>
                    <label for="insertWins" class="block text-gray-700">승</label>
                    <input type="number" id="insertWins" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div>
                    <label for="insertDraws" class="block text-gray-700">무</label>
                    <input type="number" id="insertDraws" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div>
                    <label for="insertLosses" class="block text-gray-700">패</label>
                    <input type="number" id="insertLosses" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
                <div>
                    <label for="insertPoints" class="block text-gray-700">승점</label>
                    <input type="number" id="insertPoints" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                </div>
            </div>
            <button type="button" id="insertRankingButton" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg">추가</button>
        </form>
    </div>
    <!-- 순위 등록 폼 끝 -->

</div>

<!-- Main footer -->
<footer th:replace="layout/common/footer :: load()"></footer>

<!-- common javascript -->
<div th:include="layout/common/script :: load()"></div>

<script th:inline="javascript">
    // JWT 토큰을 파싱하는 함수
    function parseJwt(token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    };

    // 로컬 스토리지에서 액세스 토큰을 가져와서 유저명을 파싱하고 출력
    var token = localStorage.getItem('accessToken');
    var username = parseJwt(token).sub;
    console.log("Username: ", username);
    document.querySelector('.d-block').textContent = username + " 관리자";

    $(document).ready(function () {
        // 기존 로직

        // 선택된 행들을 저장하는 배열
        var selectedRowsUser = [];
        var selectedRowsPhoto = [];
        // 표시 버튼의 상태 (열림/닫힘)
        var isOpen = false;

        // 선택된 행의 수를 업데이트하고, 배너의 위치와 표시 상태를 정하는 함수
        var updateSelectedCountUser = function() {
            var navbarHeight = $('.main-header.navbar.navbar-expand.navbar-white.navbar-light').outerHeight();
            $('#selectedRowsBannerUser').css('top', navbarHeight);
            // 체크된 rowCheckbox의 개수를 세어서 카운트를 업데이트
            var checkedCount = $('.rowCheckboxUser:checked').length;
            $('#selectionCountUser').text(checkedCount + " 행이 선택되었습니다.");
            if (checkedCount > 0) {
                $('#selectedRowsBannerUser').show();
            } else {
                $('#selectedRowsBannerUser').hide();
            }
        };

        var updateSelectedCountPhoto = function() {
            var navbarHeight = $('.main-header.navbar.navbar-expand.navbar-white.navbar-light').outerHeight();
            $('#selectedRowsBannerPhoto').css('top', navbarHeight);
            // 체크된 rowCheckbox의 개수를 세어서 카운트를 업데이트
            var checkedCount = $('.rowCheckboxPhoto:checked').length;
            $('#selectionCountPhoto').text(checkedCount + " 행이 선택되었습니다.");
            if (checkedCount > 0) {
                $('#selectedRowsBannerPhoto').show();
            } else {
                $('#selectedRowsBannerPhoto').hide();
            }
        };

        // 표시 버튼을 클릭하면 열림/닫힘 상태를 토글하고, 컬럼 선택 영역을 표시/숨김
        $('#displayButton').click(function() {
            isOpen = !isOpen;
            if (isOpen) {
                $('#columnSelection').show();
            } else {
                $('#columnSelection').hide();
            }
        });

        // 표시 버튼이나 컬럼 선택 영역 외의 곳을 클릭하면 컬럼 선택 영역을 숨김
        $(document).click(function(event) {
            if (!$(event.target).closest('#displayButton').length && !$(event.target).closest('#columnSelection').length) {
                isOpen = false;
                $('#columnSelection').hide();
            }
        });

        // 컬럼 체크박스를 클릭하면 해당 컬럼을 표시/숨김
        $('#columnSelection').on('click', '.column-checkbox', function () {
            var key = $(this).attr('name');
            $('.' + key).toggleClass('hidden');
        });

        // "모두 선택" 체크박스를 클릭하면 모든 행을 선택/선택 해제 (User)
        $("#selectAllCheckboxUser").click(function(){
            $(".rowCheckboxUser").prop('checked', $(this).prop('checked'));
            selectedRowsUser = [];
            if ($(this).prop('checked')) {
                $('.rowCheckboxUser').each(function() {
                    selectedRowsUser.push(parseInt($(this).attr('name')));
                });
            }
            updateSelectedCountUser();
        });

        // "모두 선택" 체크박스를 클릭하면 모든 행을 선택/선택 해제 (Photo)
        $("#selectAllCheckboxPhoto").click(function(){
            $(".rowCheckboxPhoto").prop('checked', $(this).prop('checked'));
            selectedRowsPhoto = [];
            if ($(this).prop('checked')) {
                $('.rowCheckboxPhoto').each(function() {
                    selectedRowsPhoto.push(parseInt($(this).attr('name')));
                });
            }
            updateSelectedCountPhoto();
        });

        // 행 체크박스를 클릭하면 해당 행을 선택/선택 해제 (User)
        $(document).on('click', '.rowCheckboxUser', function(){
            var id = parseInt($(this).attr('name'));
            if ($(this).prop('checked')) {
                selectedRowsUser.push(id);
            } else {
                var index = selectedRowsUser.indexOf(id);
                if (index > -1) {
                    selectedRowsUser.splice(index, 1);
                }
            }

            // 모든 행이 선택되었으면 "모두 선택" 체크박스를 체크, 그렇지 않으면 체크 해제
            if ($('.rowCheckboxUser:checked').length == $('.rowCheckboxUser').length) {
                $('#selectAllCheckboxUser').prop('checked', true);
            } else {
                $('#selectAllCheckboxUser').prop('checked', false);
            }
            updateSelectedCountUser();
        });

        // 행 체크박스를 클릭하면 해당 행을 선택/선택 해제 (Photo)
        $(document).on('click', '.rowCheckboxPhoto', function(){
            var id = parseInt($(this).attr('name'));
            if ($(this).prop('checked')) {
                selectedRowsPhoto.push(id);
            } else {
                var index = selectedRowsPhoto.indexOf(id);
                if (index > -1) {
                    selectedRowsPhoto.splice(index, 1);
                }
            }

            // 모든 행이 선택되었으면 "모두 선택" 체크박스를 체크, 그렇지 않으면 체크 해제
            if ($('.rowCheckboxPhoto:checked').length == $('.rowCheckboxPhoto').length) {
                $('#selectAllCheckboxPhoto').prop('checked', true);
            } else {
                $('#selectAllCheckboxPhoto').prop('checked', false);
            }
            updateSelectedCountPhoto();
        });

        // 사용자 정보 키
        var userKeys = ['id', 'username', 'email', 'roles', 'userRealName', 'userGender', 'userPhone', 'userAddress', 'userBirth', 'userLikePlayer', 'userMarketing', 'provider', 'providerId'];

        // 컬럼 선택 영역에 체크박스와 라벨을 추가
        $.each(userKeys, function(index, key) {
            var label = $('<label/>').addClass('flex justify-start items-center text-truncate hover:bg-gray-100 px-4 py-2');
            var div = $('<div/>').addClass('text-teal-600 mr-3');
            var checkbox = $('<input/>').attr('type', 'checkbox').attr('name', key).addClass('form-checkbox focus:outline-none focus:shadow-outline column-checkbox').prop('checked', true);
            var divText = $('<div/>').addClass('select-none text-gray-700').text(key);

            div.append(checkbox);
            label.append(div, divText);
            $('#columnSelection').append(label);
        });

        var accessToken = localStorage.getItem('accessToken');

        // 사용자 정보를 가져와서 테이블에 추가
        $.ajax({
            url: "/admin/layout/getUserInfo",
            method: "GET",
            headers: {
                "Authorization": "Bearer " + accessToken
            },
            success: function(data) {
                var users = data;
                $.each(users, function(i, principalDetails) {
                    var user = principalDetails.user;
                    var tr = $('<tr/>');
                    tr.append("<td class='border-dashed border-t border-gray-200 px-3'><label class='text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer'><input type='checkbox' class='form-checkbox rowCheckboxUser focus:outline-none focus:shadow-outline' name='" + user.id + "'></label></td>");

                    $.each(user, function(key, value) {
                        if (userKeys.includes(key)) {
                            tr.append("<td class='border-dashed border-t border-gray-200 " + key + "'><span class='text-gray-700 px-6 py-3 flex items-center'>" + value + "</span></td>");
                        }
                    });

                    $('#userTableBody').append(tr);
                });
                updateSelectedCountUser(); // 초기화
            }
        });

        // 섹션1 사진 목록 탭 클릭 이벤트 추가
        $('#nav-1 a[href="#/section1photos"]').click(function (event) {
            event.preventDefault(); // 기본 동작 방지
            $('#listContent').hide(); // User 목록을 숨김
            $('#leagueRankingContent').hide(); // 리그순위 목록을 숨김
            $('#section1PhotoForm').hide(); // 섹션1 사진 등록 폼을 숨김
            $('#insertRankingFormContainer').hide(); // 리그 순위 인서트 폼을 숨김
            $('#section1PhotoListContainer').show(); // 섹션1 사진 목록을 표시
            selectedRowsPhoto = []; // 선택 항목 초기화
            updateSelectedCountPhoto(); // 선택 항목 수 초기화
            loadSection1Photos(); // 섹션1 사진 데이터 로드 함수 호출
        });

        // 섹션1 사진 등록 탭 클릭 이벤트 추가
        $('#nav-1 a[href="#/section1photoregistration"]').click(function (event) {
            event.preventDefault(); // 기본 동작 방지
            $('#listContent').hide(); // User 목록을 숨김
            $('#leagueRankingContent').hide(); // 리그순위 목록을 숨김
            $('#insertRankingFormContainer').hide(); // 리그 순위 인서트 폼을 숨김
            $('#section1PhotoListContainer').hide(); // 섹션1 사진 목록을 숨김
            $('#section1PhotoForm').show(); // 섹션1 사진 등록 폼을 표시
            selectedRowsPhoto = []; // 선택 항목 초기화
            updateSelectedCountPhoto(); // 선택 항목 수 초기화
        });

        // 리그 순위 탭 클릭 이벤트 추가
        $('#nav-1 a[href="#/leagueRanking"]').click(function (event) {
            event.preventDefault(); // 기본 동작 방지
            $('#listContent').hide(); // User 목록을 숨김
            $('#section1PhotoForm').hide(); // 섹션1 사진 등록 폼을 숨김
            $('#section1PhotoListContainer').hide(); // 섹션1 사진 목록을 숨김
            $('#insertRankingFormContainer').hide(); // 리그 순위 인서트 폼을 숨김
            $('#leagueRankingContent').show(); // 리그 순위 콘텐츠를 표시
            loadLeagueRankings(); // 리그 순위 데이터 로드 함수 호출
        });

        // 순위 등록 탭 클릭 이벤트 추가
        $('#nav-1 a[href="#/rankRegistration"]').click(function (event) {
            event.preventDefault(); // 기본 동작 방지
            $('#listContent').hide(); // User 목록을 숨김
            $('#section1PhotoForm').hide(); // 섹션1 사진 등록 폼을 숨김
            $('#section1PhotoListContainer').hide(); // 섹션1 사진 목록을 숨김
            $('#leagueRankingContent').hide(); // 리그 순위 콘텐츠를 숨김
            $('#insertRankingFormContainer').show(); // 리그 순위 인서트 폼을 표시
        });

        // 다른 탭 클릭 시 섹션1 사진 등록 폼과 목록을 숨김
        $('#nav-1 a[href!="#/section1photos"][href!="#/section1photoregistration"][href!="#/leagueRanking"][href!="#/rankRegistration"]').click(function (event) {
            $('#section1PhotoForm').hide(); // 섹션1 사진 등록 폼을 숨김
            $('#section1PhotoListContainer').hide(); // 섹션1 사진 목록을 숨김
            $('#insertRankingFormContainer').hide(); // 리그 순위 인서트 폼을 숨김
            $('#listContent').show(); // User 목록을 표시
            $('#leagueRankingContent').hide(); // 리그 순위 콘텐츠를 숨김
            selectedRowsUser = []; // 선택 항목 초기화
            selectedRowsPhoto = []; // 선택 항목 초기화
            updateSelectedCountUser(); // 선택 항목 수 초기화
            updateSelectedCountPhoto(); // 선택 항목 수 초기화
        });

        function loadSection1Photos() {
            var accessToken = localStorage.getItem('accessToken');
            $.ajax({
                url: "/admin/layout/getSection1Photos", // 섹션1 사진 데이터를 가져오는 API 엔드포인트
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + accessToken
                },
                success: function (data) {
                    var photos = data; // 받은 데이터
                    var content = '<div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="height: 405px;">';
                    content += '<table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">';
                    content += '<thead>';
                    content += '<tr class="text-left">';
                    content += '<th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">';
                    content += '<label class="text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer">';
                    content += '<input id="selectAllCheckboxPhoto" type="checkbox" class="form-checkbox focus:outline-none focus:shadow-outline">';
                    content += '</label>';
                    content += '</th>';

                    content += '<template>';
                    content += '<th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs"></th>';
                    content += '</template>';

                    content += '<th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">파일명</th>';
                    content += '<th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">파일 경로</th>';
                    content += '<th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs">테이블 구분</th>';
                    content += '</tr>';
                    content += '</thead>';
                    content += '<tbody>';

                    // 파일 데이터 추가
                    $.each(photos, function (i, photo) {
                        content += '<tr>';
                        content += '<td class="border-dashed border-t border-gray-200 px-3"><label class="text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer"><input type="checkbox" class="form-checkbox rowCheckboxPhoto focus:outline-none focus:shadow-outline" name="' + photo.fileIdx + '"></label></td>';
                        content += '<td class="border-dashed border-t border-gray-200"><span class="text-gray-700 px-6 py-3 flex items-center">' + photo.fileName + '</span></td>';
                        content += '<td class="border-dashed border-t border-gray-200"><span class="text-gray-700 px-6 py-3 flex items-center"><img src="' + photo.filePath + '" style="max-width: 100px;"></span></td>';
                        content += '<td class="border-dashed border-t border-gray-200"><span class="text-gray-700 px-6 py-3 flex items-center">' + photo.tableGb + '</span></td>';
                        content += '</tr>';
                    });

                    content += '</tbody>';
                    content += '</table>';
                    content += '</div>';

                    // 기존 콘텐츠를 섹션1 사진 목록으로 교체
                    $('#section1PhotoList').html(content);

                    // 체크박스 이벤트 다시 바인딩
                    bindCheckboxEvents();
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }

        function loadLeagueRankings() {
            var accessToken = localStorage.getItem('accessToken');
            $.ajax({
                url: "/admin/layout/getLeagueRankings",
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + accessToken
                },
                success: function(data) {
                    var rankings = data;
                    var content = '';
                    $.each(rankings, function (i, ranking) {
                        content += '<tr>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600 leagueGb">' + ranking.leagueGb + '</td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><input type="number" value="' + ranking.leagueRank + '" data-league-gb="' + ranking.leagueGb + '" data-team-name="' + ranking.teamName + '" data-old-value="' + ranking.leagueRank + '" class="rankingInput leagueRankInput"></td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><input type="text" value="' + ranking.teamName + '" data-league-gb="' + ranking.leagueGb + '" data-old-value="' + ranking.teamName + '" class="rankingInput teamNameInput"></td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><input type="number" value="' + ranking.gamesPlayed + '" data-league-gb="' + ranking.leagueGb + '" data-team-name="' + ranking.teamName + '" data-old-value="' + ranking.gamesPlayed + '" class="rankingInput gamesPlayedInput"></td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><input type="number" value="' + ranking.wins + '" data-league-gb="' + ranking.leagueGb + '" data-team-name="' + ranking.teamName + '" data-old-value="' + ranking.wins + '" class="rankingInput winsInput"></td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><input type="number" value="' + ranking.draws + '" data-league-gb="' + ranking.leagueGb + '" data-team-name="' + ranking.teamName + '" data-old-value="' + ranking.draws + '" class="rankingInput drawsInput"></td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><input type="number" value="' + ranking.losses + '" data-league-gb="' + ranking.leagueGb + '" data-team-name="' + ranking.teamName + '" data-old-value="' + ranking.losses + '" class="rankingInput lossesInput"></td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><input type="number" value="' + ranking.points + '" data-league-gb="' + ranking.leagueGb + '" data-team-name="' + ranking.teamName + '" data-old-value="' + ranking.points + '" class="rankingInput pointsInput"></td>';
                        content += '<td class="border-dashed border-t border-gray-200 px-6 py-2 text-gray-600"><button class="deleteRankingButton bg-red-500 text-white px-2 py-1 rounded-lg" data-league-gb="' + ranking.leagueGb + '" data-team-name="' + ranking.teamName + '">삭제</button></td>';
                        content += '</tr>';
                    });
                    $('#leagueRankingTableBody').html(content);
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }

        $('#saveRankingButton').click(function() {
            var updatedRankings = [];
            var changesDetected = false;

            $('.rankingInput').each(function() {
                var leagueGb = $(this).data('league-gb');
                var teamName = $(this).data('team-name');
                var field = $(this).attr('class').split(' ')[1].replace('Input', '');
                var oldValue = $(this).data('old-value');
                var newValue = field === 'teamName' ? $(this).val() : parseInt($(this).val());

                if (oldValue != newValue) {
                    changesDetected = true;
                    var existingRanking = updatedRankings.find(function(r) {
                        return r.leagueGb === leagueGb && r.teamName === teamName;
                    });

                    if (existingRanking) {
                        existingRanking[field] = newValue;
                    } else {
                        var newRanking = {
                            leagueGb: leagueGb,
                            teamName: teamName,
                            leagueRank: null,
                            gamesPlayed: null,
                            wins: null,
                            draws: null,
                            losses: null,
                            points: null,
                        };
                        newRanking[field] = newValue;
                        updatedRankings.push(newRanking);
                    }
                }
            });

            if (!changesDetected) {
                alert("수정사항이 없습니다.");
                return;
            }

            if (!confirm("수정하시겠습니까?")) {
                return;
            }

            var accessToken = localStorage.getItem('accessToken');
            $.ajax({
                url: "/admin/layout/updateLeagueRankings",
                method: "POST",
                headers: {
                    "Authorization": "Bearer " + accessToken,
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(updatedRankings),
                success: function() {
                    alert('리그 순위가 성공적으로 업데이트되었습니다.');
                    loadLeagueRankings();
                },
                error: function(error) {
                    alert('리그 순위 업데이트 중 오류가 발생했습니다.');
                }
            });
        });

        // 순위 추가 버튼 클릭 이벤트 핸들러
        $('#insertRankingButton').click(function() {
            var leagueGb = $('#insertLeagueGb').val();
            var leagueRank = $('#insertLeagueRank').val();
            var teamName = $('#insertTeamName').val();
            var gamesPlayed = $('#insertGamesPlayed').val();
            var wins = $('#insertWins').val();
            var draws = $('#insertDraws').val();
            var losses = $('#insertLosses').val();
            var points = $('#insertPoints').val();

            if (!leagueGb || !leagueRank || !teamName || !gamesPlayed || !wins || !draws || !losses || !points) {
                alert('모든 필드를 입력해 주세요.');
                return;
            }

            var newRanking = {
                leagueGb: leagueGb,
                leagueRank: parseInt(leagueRank),
                teamName: teamName,
                gamesPlayed: parseInt(gamesPlayed),
                wins: parseInt(wins),
                draws: parseInt(draws),
                losses: parseInt(losses),
                points: parseInt(points)
            };

            var accessToken = localStorage.getItem('accessToken');
            $.ajax({
                url: "/admin/layout/insertLeagueRanking",
                method: "POST",
                headers: {
                    "Authorization": "Bearer " + accessToken,
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(newRanking),
                success: function() {
                    alert('새로운 리그 순위가 성공적으로 추가되었습니다.');
                    loadLeagueRankings();
                    $('#insertRankingForm')[0].reset();
                },
                error: function(error) {
                    alert('리그 순위 추가 중 오류가 발생했습니다.');
                }
            });
        });


        $(document).on('click', '.deleteRankingButton', function() {
            if (!confirm("정말 삭제하시겠습니까?")) {
                return;
            }

            var leagueGb = $(this).data('league-gb');
            var teamName = $(this).data('team-name');
            var accessToken = localStorage.getItem('accessToken');
            $.ajax({
                url: "/admin/layout/deleteLeagueRanking",
                method: "DELETE",
                headers: {
                    "Authorization": "Bearer " + accessToken,
                    "Content-Type": "application/json"
                },
                data: JSON.stringify({ leagueGb: leagueGb, teamName: teamName }),
                success: function() {
                    alert('리그 순위가 성공적으로 삭제되었습니다.');
                    loadLeagueRankings();
                },
                error: function(error) {
                    alert('리그 순위 삭제 중 오류가 발생했습니다.');
                }
            });
        });


        function bindCheckboxEvents() {
            // "모두 선택" 체크박스를 클릭하면 모든 행을 선택/선택 해제 (User)
            $("#selectAllCheckboxUser").click(function(){
                $(".rowCheckboxUser").prop('checked', $(this).prop('checked'));
                selectedRowsUser = [];
                if ($(this).prop('checked')) {
                    $('.rowCheckboxUser').each(function() {
                        selectedRowsUser.push(parseInt($(this).attr('name')));
                    });
                }
                updateSelectedCountUser();
            });

            // "모두 선택" 체크박스를 클릭하면 모든 행을 선택/선택 해제 (Photo)
            $("#selectAllCheckboxPhoto").click(function(){
                $(".rowCheckboxPhoto").prop('checked', $(this).prop('checked'));
                selectedRowsPhoto = [];
                if ($(this).prop('checked')) {
                    $('.rowCheckboxPhoto').each(function() {
                        selectedRowsPhoto.push(parseInt($(this).attr('name')));
                    });
                }
                updateSelectedCountPhoto();
            });

            // 행 체크박스를 클릭하면 해당 행을 선택/선택 해제 (User)
            $(document).on('click', '.rowCheckboxUser', function(){
                var id = parseInt($(this).attr('name'));
                if ($(this).prop('checked')) {
                    selectedRowsUser.push(id);
                } else {
                    var index = selectedRowsUser.indexOf(id);
                    if (index > -1) {
                        selectedRowsUser.splice(index, 1);
                    }
                }

                // 모든 행이 선택되었으면 "모두 선택" 체크박스를 체크, 그렇지 않으면 체크 해제
                if ($('.rowCheckboxUser:checked').length == $('.rowCheckboxUser').length) {
                    $('#selectAllCheckboxUser').prop('checked', true);
                } else {
                    $('#selectAllCheckboxUser').prop('checked', false);
                }
                updateSelectedCountUser();
            });

            // 행 체크박스를 클릭하면 해당 행을 선택/선택 해제 (Photo)
            $(document).on('click', '.rowCheckboxPhoto', function(){
                var id = parseInt($(this).attr('name'));
                if ($(this).prop('checked')) {
                    selectedRowsPhoto.push(id);
                } else {
                    var index = selectedRowsPhoto.indexOf(id);
                    if (index > -1) {
                        selectedRowsPhoto.splice(index, 1);
                    }
                }

                // 모든 행이 선택되었으면 "모두 선택" 체크박스를 체크, 그렇지 않으면 체크 해제
                if ($('.rowCheckboxPhoto:checked').length == $('.rowCheckboxPhoto').length) {
                    $('#selectAllCheckboxPhoto').prop('checked', true);
                } else {
                    $('#selectAllCheckboxPhoto').prop('checked', false);
                }
                updateSelectedCountPhoto();
            });
        }

        bindCheckboxEvents(); // 초기 로드 시 이벤트 바인딩

        // 섹션1 사진 등록 폼 제출 시 username 값 추가
        $('#section1PhotoUploadForm').submit(function(event) {
            event.preventDefault(); // 기본 동작 방지

            // username 값을 폼 데이터에 추가
            var formData = new FormData(this);
            formData.append('username', username);

            // AJAX 요청으로 폼 데이터 전송
            $.ajax({
                url: $(this).attr('action'),
                method: $(this).attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    alert('사진이 성공적으로 업로드되었습니다.');
                    location.reload();
                },
                error: function(error) {
                    alert('사진 업로드에 실패하였습니다.');
                }
            });
        });

        // 삭제 버튼 클릭 이벤트
        $('#deleteUserButton').click(function() {
            deleteSelectedItems(selectedRowsUser, '/admin/layout/deleteUsers', 'users');
        });

        $('#deletePhotoButton').click(function() {
            deleteSelectedItems(selectedRowsPhoto, '/admin/layout/deleteSection1Photos', 'photos');
        });

        // 선택된 항목 삭제 함수
        function deleteSelectedItems(selectedItems, apiUrl, itemType) {
            if (selectedItems.length === 0) {
                alert('삭제할 항목을 선택해주세요.');
                return;
            }

            if (confirm('선택한 항목을 삭제하시겠습니까?')) {
                var accessToken = localStorage.getItem('accessToken');
                $.ajax({
                    url: apiUrl,
                    method: 'DELETE',
                    headers: {
                        "Authorization": "Bearer " + accessToken,
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify(selectedItems),
                    success: function() {
                        alert('선택한 항목이 삭제되었습니다.');
                        location.reload();
                    },
                    error: function() {
                        alert('삭제 중 오류가 발생했습니다.');
                    }
                });
            }
        }

        // 사용자 목록 갱신 함수
        function loadUserList() {
            $.ajax({
                url: "/admin/layout/getUserInfo",
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + accessToken
                },
                success: function(data) {
                    $('#userTableBody').empty(); // 기존 사용자 목록 비우기
                    var users = data;
                    $.each(users, function(i, principalDetails) {
                        var user = principalDetails.user;
                        var tr = $('<tr/>');
                        tr.append("<td class='border-dashed border-t border-gray-200 px-3'><label class='text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer'><input type='checkbox' class='form-checkbox rowCheckboxUser focus:outline-none focus:shadow-outline' name='" + user.id + "'></label></td>");

                        $.each(user, function(key, value) {
                            if (userKeys.includes(key)) {
                                tr.append("<td class='border-dashed border-t border-gray-200 " + key + "'><span class='text-gray-700 px-6 py-3 flex items-center'>" + value + "</span></td>");
                            }
                        });

                        $('#userTableBody').append(tr);
                    });
                    updateSelectedCountUser(); // 초기화
                }
            });
        }
    });
</script>

</body>
</html>
