<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/layout/footer.css" rel="stylesheet"/>
</head>
<body>


<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                <p>등록번호: 549-82-00495</p>
                <p>대표자: 주효진, 윤영웅 (공동대표)</p>
                <p>개업연월일: 2023년 05월 30일</p>
                <p>법인등록번호: 110351-0017695</p>
                <p>사업장 소재지: 서울특별시 중구 퇴계로 187, 907-3호(필동1가)</p>
                <p>본점 소재지: 서울특별시 중구 퇴계로 187, 9층 907-2호(필동1가, 국제빌딩)</p></p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                    <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer>

<!--
<div class="categories">
    <a href="#">media</a>
    <a href="#">fanzone</a>
    <a href="/team/teampage">Team</a>
    <a href="/club/clubpage">Club</a>
    <a href="/history/historypage">History</a>
    <a href="/match/matchpage">Match</a>
</div>

<div class="header">성동구민축구단에프씨(FC)투게더</div>
<div class="info">
    <p>등록번호: 549-82-00495</p>
    <p>대표자: 주효진, 윤영웅 (공동대표)</p>
    <p>개업연월일: 2023년 05월 30일</p>
    <p>법인등록번호: 110351-0017695</p>
    <p>사업장 소재지: 서울특별시 중구 퇴계로 187, 907-3호(필동1가)</p>
    <p>본점 소재지: 서울특별시 중구 퇴계로 187, 9층 907-2호(필동1가, 국제빌딩)</p>
</div>
-->

</body>
</html>