<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/layout/footer.css" rel="stylesheet"/>
</head>
<body>
<footer>

    <div class="support container">
        <a class="item" href="https://www.sd.go.kr/main/index.do" target="_blank"><img
                src="/img/footer/seongdonggu.png" alt="서울특별시 성동구" title=""></a>
        <a class="item" href="http://www.sdsportal.or.kr/" target="_blank"><img
                src="/img/footer/seongdonggu-sportsClub.png" alt="성동구 체육회" title=""></a>
        <a class="item" href="https://www.google.com/search?q=%EC%84%B1%EB%8F%99%EA%B5%AC+%EC%8B%9C%EC%84%A4%EA%B4%80%EB%A6%AC%EA%B3%B5%EB%8B%A8&sca_esv=64bfd657b885de45&sca_upv=1&hl=ko&sxsrf=ADLYWIIfCrgnICpC4_0qlFkCSzcHh0T4mw%3A1715842089054&ei=KaxFZqvvArak2roPxpGViAg&udm=&oq=%EC%84%B1%EB%8F%99%EA%B5%AC+%EC%8B%9C%EC%84%A4&gs_lp=Egxnd3Mtd2l6LXNlcnAiEOyEseuPmeq1rCDsi5zshKQqAggAMgUQABiABDIFEAAYgAQyBBAAGB4yBBAAGB4yBhAAGB4YDzIGEAAYCBgeMgIQJjICECYyAhAmMgIQJkiSV1DTCVj5S3ADeAGQAQGYAcYBoAGBFKoBBDAuMTW4AQPIAQD4AQGYAgmgApoIqAIUwgIHECMYJxjqAsICEBAAGAMYtAIY6gIYjwHYAQHCAhAQLhgDGLQCGOoCGI8B2AEBwgIKECMYgAQYJxiKBcICCxAAGIAEGLEDGIMBwgILEC4YgAQYsQMYgwHCAgQQIxgnwgIREC4YgAQYsQMY0QMYgwEYxwHCAgQQLhgDwgIEEAAYA8ICERAuGIAEGLEDGIMBGMcBGK8BwgILEC4YgAQYxwEYrwHCAggQLhiABBjUAsICBRAuGIAEmAMFugYGCAEQARgKkgcDMy42oAeF0wE&sclient=gws-wiz-serp/" target="_blank"><img
                src="/img/footer/sdsportal.png" alt="성동구 시설관리공단"></a>
        <a class="item" href="https://sdfa.oopy.io/" target="_blank"><img
                src="/img/footer/sdfa.oopy.png" alt="성동구 축구협회"></a>
        <a class="item" href="https://www.kumsan1925.com/" target="_blank"><img
                src="/img/footer/kumsan1925.png" alt="금산미학한의원"></a>
        <a class="item" href="https://hgm6952.com/" target="_blank"><img
                src="/img/footer/hgm.png" alt="한결엠"></a>
        <a class="item" href="http://bumikorea.co.kr/" target="_blank"><img
                src="/img/footer/bumi.png" alt="부미스포츠"></a>
    </div>

    <div class="categories">
        <a th:href="@{/club/clubpage}">클럽 투게더</a>
        <a th:href="@{/team/teampage}">팀 소개</a>
        <a th:href="@{/match/matchpage}">경기 일정/결과</a>
        <a th:href="@{/history/historypage}">클럽 역사</a>
        <a th:href="@{/media/notice}">미디어 센터</a>
        <a th:href="@{/management/management_customer_support}">경영/고객 지원</a>

    </div>


    <div>
        <div class="information container">
            <img src="/img/FcTogether-removebg.png">
            <div>
                사업장 소재지: 서울특별시 중구 퇴계로 187, 907-3호(필동1가) | 등록번호: 549-82-0049 | 대표자: 주효진, 윤영웅 (공동대표) | 법인등록번호: 110351-0017695
                | <br>본점 소재지: 서울특별시 중구 퇴계로 187, 9층 907-2호(필동1가, 국제빌딩) | 대표전화: 010-5590-5841 | 이메일: fctogether@naver.com
            </div>
            <button id="topBtn" class="top-button">Top</button>
        </div>
    </div>


</footer>
<script>
    // 버튼이 스크롤 위치에 따라 나타나거나 숨기도록 설정
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("topBtn").style.display = "block";
        } else {
            document.getElementById("topBtn").style.display = "none";
        }
    }

    // 버튼 클릭 시 페이지 맨 위로 스크롤하는 함수
    document.getElementById("topBtn").onclick = function() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    };
</script>

</body>
</html>