<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link href="/css/layout/header.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div class="top">
    <div class="logo">
        <a href="/">
            <img src="/img/FcTogether.jpg" alt="" id="logoImg">
        </a>
    </div>

    <div class="utils">
        <!-- 로그인 상태를 보여주는 부분 -->
        <span id="account-info" style="display: none;"></span>
        <a id="logout-link" href="/user/logout" class="link" style="display: none;" onclick="logout()">로그아웃</a>

        <!-- 로그아웃 상태를 보여주는 부분 -->
        <a id="login-link" href="/user/LoginForm" class="link" style="display: none;">로그인</a>
        <a id="join-link" href="/user/JoinForm" class="link" style="display: none;">회원가입</a>
    </div>
</div>
<script>
    $(document).ready(function() {
        var token = localStorage.getItem('accessToken');
        if (token) {
            $.ajax({
                url: '/user/api',
                type: 'GET',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', token);
                },
                success: function(data) {
                    $('#account-info').text(data.username + '님, 반갑습니다.');
                    $('#logout-link').show();
                    $('#account-info').show();
                },
                error: function() {
                    $('#login-link').show();
                    $('#join-link').show();
                    console.error('사용자 정보를 가져오는 데 실패했습니다.');
                }
            });
        } else {
            $('#login-link').show();
            $('#join-link').show();
        }
    });

    function logout() {
        localStorage.removeItem('accessToken'); // 로컬 스토리지에서 accessToken 토큰 제거
        location.href = "/logout";
        alert("로그아웃 되었습니다.");
    }
</script>

<div class="gnbBox">
    <div class="container">
        <ul class="mainMenuBox">
            <li class="mainMenu">CLUB</li>
            <li class="mainMenu">TEAM</li>
            <li class="mainMenu">MATCH</li>
            <li class="mainMenu">HISTORY</li>
            <li class="mainMenu">RECORD</li>
            <li class="mainMenu">MEDIA</li>
            <li class="mainMenu">SERVICE</li>
        </ul>
    </div>
</div>
</body>
</html>
