<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team Staff Detail</title>
    <link th:href="@{/css/layout/header.css}" rel="stylesheet" />
</head>
<body>
<div class="top">
    <div class="logo">
        <a th:href="@{/}" aria-current="page">
            <img th:src="@{img/FcTogether.jpg}" alt="" id="logoImg">
        </a>
    </div>
    <div class="utils">
        <a href="/member/signin" class="link">로그인</a>
        <a href="/member/JoinForm" class="link">회원가입</a>
    </div>
</div>

<div class="gnbBox">
    <div class="container">
        <ul class="mainMenuBox">
            <li class="mainMenu">CLUB</li>
            <li class="mainMenu">TEAM</li>
            <li class="mainMenu ">MATCH</li>
            <li class="mainMenu">HISTORY</li>
            <li class="mainMenu">RECORD</li>
            <li class="mainMenu">MEDIA</li>
            <li class="mainMenu">SERVICE</li>
        </ul>
    </div>
</div>
</body>
</html>
