.joinPage-container {
    position: relative;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.memberPage .memberBox.join {
    padding: 0 0 240px;
    /*background-color: #f6f6f6;*/
}

.memberPage .memberBox.wide.join {
    padding: 100px 150px;
}


.memberPage .memberBox.join .myjoinBox {
    padding: 80px 200px 0;
}

.memberPage .wide .topTitle {
    padding-top: 0;
    background: none;
}

.memberPage .wide .topTitle .subTitle {
    margin-top: 28px;
    margin-bottom: 60px;
}

.memberPage .topTitle .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: #000
}

.memberPage .topTitle {
    margin-left: -40px;
    margin-right: -40px;
    padding-top: 110px;
    text-align: center;
    background: url(/img/logo_180.6a44e4e2.png) 50% 0/auto 90px no-repeat
}

 .pcBreak {
        display: block!important;
}

.formGroup {
    position: relative;
    margin-bottom: 28px;
    padding-left: 160px
}

.formGroup .label {
    position: absolute;
    /*top: 18px;*/
    left: 0;
    width: 140px;
    font-size: 16px;
    font-weight: 500;
    color: #000
}

.formGroup .label .required {
    font-weight: 400;
    color: #FF0000;
}

.formGroup .invalidMessage {
    margin-top: 5px;
    font-size: 14px;
    color: #046a38
}

 .input {
     width: 100%;
     padding: 16px 20px 14px;
     font-size: 14px;
     font-weight: 500;
     line-height: 1.3;
     color: #000;
     border-radius: 4px;
     border: 1px solid #ddd;
     background-color: #fff
 }

 .formGroup .withBtn .btn {
     position: absolute;
     top: 0;
     right: 0;
     height: 50px;
     width: 120px;
     min-width: 0;
     padding-left: 5px;
     padding-right: 5px;
     font-size: 14px;
     font-weight: 400;
 }

#id_butt.btn.whiteLightgrey {
    color: #444;
    border-color: #d9d9d9;
    background-color: #fff;
}

#email_butt.btn.whiteLightgrey {
    color: #444;
    border-color: #d9d9d9;
    background-color: #fff;
}

.btn.whiteLightgrey {
    color: #444;
    border-color: #d9d9d9;
    background-color: #fff;
}

.btn {
    display: inline-block;
    min-width: 125px;
    padding: 1.1em 1em 1em;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    border-radius: 4px;
    border: 1px solid #034f36;
    background-color: #ffc954
}

/*헤더 영역 침범*/
.memberBox * {
    box-sizing: border-box;
}


.formGroup .withBtn {
    position: relative;
    padding-right: 132px;
}

.messageContainer {
    color: red;
    margin-top: 5px;
}

.textarea {
    height: 200px;
    padding: 24px 32px;
    overflow: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    border: 1px solid #e5e5e5;
    background-color: #fff
}

.textarea.height110 {
    height: 110px;
}

.formGroup .checkAgree {
    margin-top: 10px;
}

.checkAgree {
    display: flex;
    justify-content: center
}

.checkAgree .checkbox {
    margin-left: 20px
}

.agreeAll {
    margin-top: 90px;
    text-align: center
}

.btn.signup_butt,
.btn.cancel_butt {
    min-width: 173px;
    font-size: 18px;
    font-weight: 700;
}

.formBtns {
    margin-top: 48px;
    text-align: center;
}













