<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JoinForm</title>
    <th:block th:include="layout/header"></th:block>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<script>
    $(function () {
        let checkid = false;
        let checkemail = false;
        let idcheck = '';
        let emailcheck = '';

        function checkId(id) {
            return id == idcheck;
        }

        function checkEmail(email) {
            return email == emailcheck;
        }

        $("#id_butt").click(function () {
            const pattern = /^\w{5,12}$/;
            const input_id = $("#showId").val();

            if (!pattern.test(input_id)) {
                $("#message").css('color', 'red').html("5~12자의 영문/숫자를 입력하세요.");
                checkid = false;
                return;
            }

            $.ajax({
                url: "idCheck",
                data: { member_id: input_id },
                success: function (resp) {
                    console.log("ID 중복 확인 결과:", resp);
                    if (resp === -1) {
                        $("#message").css('color', 'red').html("이 ID는 이미 사용 중입니다.");
                        checkid = false;
                        idcheck = '';
                    } else if (resp === 1) {
                        $("#message").css('color', 'green').html("사용 가능한 ID입니다.");
                        checkid = true;
                        idcheck = input_id;
                    } else {
                        // 예외 처리: resp 값이 -1 또는 1이 아닌 경우
                        $("#message").css('color', 'red').html("ID 중복 확인에 실패했습니다.");
                        checkid = false;
                        idcheck = '';
                    }
                }
            });
        });

        // 이메일 중복 확인 버튼 클릭 이벤트 핸들러
        $("#email_butt").click(function () {
            const pattern = /^[A-Za-z0-9_]{1,100}@[A-Za-z0-9_]{1,100}\.[A-Za-z0-9]{2,3}$/;
            const input_email = $("#email").val();

            if (!pattern.test(input_email)) {
                $("#email_message").css('color', 'red').html("이메일 형식을 확인하세요.");
                checkemail = false;
                return;
            }

            $.ajax({
                url: "emailCheck",
                data: { memberEmail: input_email },
                success: function (resp) {
                    console.log("이메일 중복 확인 결과:", resp);
                    if (resp === -1) {
                        $("#email_message").css('color', 'red').html("이 이메일은 이미 사용 중입니다.");
                        checkemail = false;
                        emailcheck = '';
                    } else if (resp === 1) {
                        $("#email_message").css('color', 'green').html("사용 가능한 이메일입니다.");
                        checkemail = true;
                        emailcheck = 'input_email';
                    } else {
                        $("#email_message").css('color', 'red').html("이메일 중복 확인에 실패했습니다.");
                        checkemail = false;
                        emailcheck = '';
                    }
                }
            });
        });

        $("#signupForm").submit(function (e) {
            e.preventDefault(); // 폼 제출을 막음

            // 필요한 변수 가져오기
            var id = $('#showId').val().trim();
            var name = $('#name').val().trim();
            var date_birth = $('#member_birth').val().trim();
            var phoneNumber = $('#phoneNumber').val().trim();
            var email = $('#email').val().trim();

            // ID 입력 확인
            if (id === '') {
                alert('ID를 입력하세요.');
                $("#showId").focus();
                return false;
            }

            // 중복된 ID 확인
            if (!checkid) {
                alert("ID의 사용 가능 여부를 확인하세요.");
                $("#showId").focus();
                return false;
            }

            // 비밀번호 입력 확인
            var password = $('#password').val().trim();
            if (password === '') {
                alert('비밀번호를 입력하세요.');
                $("#password").focus();
                return false;
            }

            // 비밀번호 확인 입력 확인
            var passwordConfirm = $('#passwordConfirm').val().trim();
            if (passwordConfirm === '') {
                alert('비밀번호 확인을 입력하세요.');
                $("#passwordConfirm").focus();
                return false;
            }

            // 비밀번호 일치 확인
            if (password !== passwordConfirm) {
                alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
                $("#passwordConfirm").focus();
                return false;
            }

            // 이름 입력 확인
            if (name === '') {
                alert('이름을 입력하세요.');
                $("#name").focus();
                return false;
            }

            // 휴대폰 번호 입력 확인
            if (phoneNumber === '') {
                alert('휴대폰 번호를 입력하세요.');
                $("#phoneNumber").focus();
                return false;
            }

            // 이메일 입력 확인
            if (email === '') {
                alert('이메일을 입력하세요.');
                $("#email").focus();
                return false;
            }

            // 생년월일 입력 확인
            if (date_birth === '') {
                alert('생년월일을 입력하세요.');
                $("#member_birth").focus();
                return false;
            }

            // 모든 입력이 확인되었을 때 폼 제출
            $(this).unbind('submit').submit(); // 폼 제출
        });
    });
</script>
<body>
<div class="container">
    <form action="/api/v1/join" method="post" name="signupForm" id="signupForm">
        <div class="formGroup">
            <label class="label">아이디 <span class="required">(필수)</span></label>
            <input type="text" id="showId" name="member_id" class="input">
            <input type="button" id="id_butt" value="중복확인">
        </div>
        <div id="message" style="color: red; margin-top: 5px;"></div>
        <div class="formGroup">
            <label class="label" for="password">비밀번호 입력<span class="required">(필수)</span></label>
            <input type="password" id="password" name="member_pw" placeholder="비밀번호를 입력하세요" class="input">
        </div>
        <div id="password_message" style="color: red; margin-top: 5px;"></div>
        <div class="formGroup">
            <label class="label">비밀번호 확인</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="비밀번호를 다시 입력하세요"
                   class="input">
        </div>
        <div class="formGroup">
            <label class="label" for="name">이름 <span class="required">(필수)</span></label>
            <div class="withBtn">
                <input type="text" id="name" name="member_name" class="input">
            </div>
        </div>
        <div class="formGroup">
            <label class="label">성별 <span class="required">(필수)</span></label>
            <div>
                <input type="radio" id="male" name="member_gender" value="male">
                <label for="male">남성</label>
            </div>
            <div>
                <input type="radio" id="female" name="member_gender" value="female">
                <label for="female">여성</label>
            </div>
        </div>
        <div class="formGroup">
            <label class="label" for="phoneNumber">휴대폰번호 <span class="required">(필수)</span></label>
            <div class="withBtn">
                <input type="text" id="phoneNumber" class="input" name="member_phone"
                       placeholder="000-0000-0000 형식">
            </div>
        </div>
        <div class="formGroup">
            <label class="label" for="email">이메일 주소 <span class="required">(필수)</span></label>
            <div class="withBtn">
                <input type="email" id="email" name="member_email" placeholder="이메일 주소를 입력하세요" class="input">
                <button type="button" id="email_butt" value="이메일 중복체크">이메일 중복체크</button>
            </div>
        </div>
        <div id="email_message" style="color: red; margin-top: 5px;"></div>
        <div class="formGroup">
            <label class="label" for="member_birth">생년월일 <span class="required">(필수)</span></label>
            <div class="withBtn">
                <input type="text" name="member_birth" id="member_birth" placeholder="YYYY-MM-DD 형식">
            </div>
        </div>
        <div class="formGroup">
            <label class="label">광고성 수신동의 <span class="required">(선택)</span></label>
            <div class="textarea height110">
                FC투게더 주식회사(이하 FC투게더)는 FC투게더 웹사이트 이용자(정보주체)를 대상으로 맞춤형 마케팅을 진행하기 위하여 개인정보의 마케팅 활용 및 광고성 메시지 수신 동의를
                받고 있습니다.<br><br>
                ① 마케팅 목적으로 처리하는 개인정보 항목<br>
                : 이름, 휴대폰번호, 생년월일, 성별, 우편번호, 좋아하는 선수, 티켓 구매내역, 웹사이트 접속 빈도<br><br>
                ② 개인정보의 세부 처리 목적<br>
                - 서비스 안내 및 개선에 활용 : 경기 관람을 위한 정보 안내, 서비스 및 만족도 조사, 회원의 서비스 이용 통계 집계 및 분석, 신규 서비스 개발을 위한 리서치<br>
                - 맞춤형 마케팅에 활용 : 접속 빈도, 티켓 구매내역에 따른 포인트 지급, 쿠폰 제공<br>
                - 맞춤형 메시지 발송에 활용 : 전자적 전송매체를 이용한 이벤트 정보, 프로모션 정보 등의 광고성 메시지 발송<br><br>
                ③ 개인정보 수집 방법<br>
                - FC투게더 운영하는 FC투게더 웹사이트 회원가입을 통한 수집<br>
                - 티켓예매 위탁사를 통한 수집(개인정보의 제3자 제공)<br><br>
                ④ 개인정보 보유 및 이용 기간<br>
                : 회원탈퇴 또는 동의 철회 시<br><br>
                ⑤ 동의를 거부할 권리 및 동의 거부 시 불이익<br>
                : 이용자(정보주체)는 개인정보의 마케팅 활용 및 광고성 메시지 수신 동의를 거부할 권리가 있습니다.<br><br>
                단, 동의를 거부하는 경우에는 포인트 지급(적립 및 사용)이 어려우며 경품, 맞춤형 쿠폰 제공이 어렵습니다. 그 밖의 불이익은 없습니다.<br>
            </div>
        </div>
        <div class="checkAgree">
            <div class="checkbox radio">
                <input type="radio" name="member_marketing" id="agree_sms_y" value="Y">
                <label for="agree_sms_y">동의</label>
            </div>
            <div class="checkbox radio">
                <input type="radio" name="member_marketing" id="agree_sms_n" value="N">
                <label for="agree_sms_n">미동의</label>
            </div>
        </div>

        <div class="formGroup">
            <label class="label" for="sample4_postcode">우편번호 검색 <span class="required">(필수)</span></label>
            <div class="withBtn">
                <input type="text" id="sample4_postcode" placeholder="우편번호를 검색하세요" class="input">
                <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" id="sample4_roadAddress" name="member_address" placeholder="도로명주소">
                <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                <span id="guide" style="color:#999;display:none"></span>
            </div>
        </div>
        <div class="formGroup">
            <label class="label" for="selectLeague">좋아하는 선수 선택 <span class="required">(필수)</span></label>
            <select class="input" name="member_like_player_gb" id="selectLeague">
                <option value="">리그선택</option>
                <option value="K5_Player">K5</option>
                <option value="K7_Player">K7</option>
                <option value="S_Player">S리그</option>
            </select>
            <select class="input" name="member_like_player" id="playerSelect">
                <option value="">선수선택</option>
            </select>
        </div>

        <div class="formGroup">
            <button type='submit' value="Sign up" class='signup_butt' id='signup_butt'>회원가입</button>
            <button type='button' value="취소" class='cancel_butt' id='cancel_btn'>취소</button>
        </div>
    </form>
</div>
<script>
    //우편번호 찾기
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }

    //좋아하는 선수 처리
    var leagueSelect = document.getElementById('selectLeague');
    leagueSelect.onchange = function() {
        var playerSelect = document.getElementById('playerSelect');
        playerSelect.innerHTML = "<option value=''>선수선택</option>"; // 선수 선택 목록 초기화

        var selectedLeague = leagueSelect.options[leagueSelect.selectedIndex].value;

        // AJAX 요청
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var players = JSON.parse(this.responseText);
                players.forEach(function(player) {
                    var option = document.createElement('option');
                    var playerName = player.k5PlayerName || player.k7PlayerName || player.splayerName || "선수없음";
                    var playerNum = player.k5PlayerNum || player.k7PlayerNum || player.splayerNum || "0";
                    option.value = option.text = playerName + " (" + playerNum + ")";
                    playerSelect.add(option);
                });
            }
        };
        xhttp.open("GET", "/member/players?selectLeague=" + selectedLeague, true);
        xhttp.send();
    };
</script>
</body>
</html>