@import url('https://fonts.cdnfonts.com/css/d-din');




 /*==========================*/

 .site-footer {
   background-color: #26272b !important;
   padding: 45px 0 20px !important;
   font-size: 15px !important;
   line-height: 24px !important;
   color: #737373 !important;
 }

 .site-footer hr {
   border-top-color: #bbb !important;
   opacity: 0.5 !important;
 }

 .site-footer hr.small {
   margin: 20px 0 !important;
 }

 .site-footer h6 {
   color: #fff !important;
   font-size: 16px !important;
   text-transform: uppercase !important;
   margin-top: 5px !important;
   letter-spacing: 2px !important;
 }

 .site-footer a {
   color: #737373 !important;
 }

 .site-footer a:hover {
   color: #3366cc !important;
   text-decoration: none !important;
 }

 .footer-links {
   padding-left: 0 !important;
   list-style: none !important;
 }

 .footer-links li {
   display: block !important;
 }

 .footer-links a {
   color: #737373 !important;
 }

 .footer-links a:active,
 .footer-links a:focus,
 .footer-links a:hover {
   color: #3366cc !important;
   text-decoration: none !important;
 }

 .footer-links.inline li {
   display: inline-block !important;
 }

 .site-footer .social-icons {
   text-align: right !important;
 }

 .site-footer .social-icons a {
   width: 40px !important;
   height: 40px !important;
   line-height: 40px !important;
   margin-left: 6px !important;
   margin-right: 0 !important;
   border-radius: 100% !important;
   background-color: #33353d !important;
 }

 .copyright-text {
   margin: 0 !important;
 }

 @media (max-width: 991px) {
   .site-footer [class^='col-'] {
     margin-bottom: 30px !important;
   }
 }

 @media (max-width: 767px) {
   .site-footer {
     padding-bottom: 0 !important;
   }

   .site-footer .copyright-text,
   .site-footer .social-icons {
     text-align: center !important;
   }
 }

 .social-icons {
   padding-left: 0 !important;
   margin-bottom: 0 !important;
   list-style: none !important;
 }

 .social-icons li {
   display: inline-block !important;
   margin-bottom: 4px !important;
 }

 .social-icons li.title {
   margin-right: 15px !important;
   text-transform: uppercase !important;
   color: #96a2b2 !important;
   font-weight: 700 !important;
   font-size: 13px !important;
 }

 .social-icons a {
   background-color: #eceeef !important;
   color: #818a91 !important;
   font-size: 16px !important;
   display: inline-block !important;
   line-height: 44px !important;
   width: 44px !important;
   height: 44px !important;
   text-align: center !important;
   margin-right: 8px !important;
   border-radius: 100% !important;
   -webkit-transition: all 0.2s linear !important;
   -o-transition: all 0.2s linear !important;
   transition: all 0.2s linear !important;
 }

 .social-icons a:active,
 .social-icons a:focus,
 .social-icons a:hover {
   color: #fff !important;
   background-color: #29aafe !important;
 }

 .social-icons.size-sm a {
   line-height: 34px !important;
   height: 34px !important;
   width: 34px !important;
   font-size: 14px !important;
 }

 .social-icons a.facebook:hover {
   background-color: #3b5998 !important;
 }

 .social-icons a.twitter:hover {
   background-color: #00aced !important;
 }

 .social-icons a.linkedin:hover {
   background-color: #007bb6 !important;
 }

 .social-icons a.dribbble:hover {
   background-color: #ea4c89 !important;
 }

 @media (max-width: 767px) {
   .social-icons li.title {
     display: block !important;
     margin-right: 0 !important;
     font-weight: 600 !important;
   }
 }
