<!DOCTYPE html>
<html lang="" class="memberPage" xmlns:th="http://www.thymeleaf.org">
<head>
   <!-- <meta charset="UTF-8">
    <title>header</title>
    <link href="/css/layout/header.css" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
        <div class="container">
            <div class="noticePage" id="content">
                <div class="subTop">
                    <div class="top">
                        <div class="container">
                            <div class="topTitle">
                                <p class="title">
                                    <span class="mobileBreak"><strong></strong>구단소식</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tabMenu">
                        <div class="container">
                            <a href="/media/all" class="tabLink">
                                <span>전체</span>
                            </a>
                            <a href="/media/notice" aria-current="page">
                                <span>공지사항</span>
                            </a>
                            <a href="/media/news" class="tabLink router-link-exact-active router-link-active current">
                                <span>구단소식</span>
                            </a>
                            <a href="/media/photo" class="tabLink">
                                <span>경기사진</span>
                            </a>
                            <a href="/media/video" class="tabLink">
                                <span>영상</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-contents">
                    <div class="news-container">
                        <div class="news-board">
                            <div class="news-item-container">
                                <!-- <div class="news-detail">
                                     <div class="news-thumbnail" style="background-image: url('https://static.mims.kr/upload/suG3cOmTNpBUkM72CCXX20230925014050817314.jpg');"></div>
                                     <div class="news-contents">
                                         <div class="news-title">
                                             <p id="news-title"></p> &lt;!&ndash; 수정: id 값을 추가했습니다. &ndash;&gt;
                                         </div>
                                         <div class="news-date" id="news-date"> &lt;!&ndash; 수정: id 값을 추가했습니다. &ndash;&gt;
                                         </div>
                                     </div>
                                 </div>-->
                                <div class="news-detail">
                                    <div class="news-thumbnail"
                                         style="background-image: url(&quot;https://static.mims.kr/upload/yWaunikDYBOYy9edin7C20231222051038265013.jpg&quot;);"></div>
                                    <div class="news-contents">
                                        <div class="news-title"><p>2024 파리올림픽 양궁 대표팀 홍승진 총감독 선임</p>
                                        </div>
                                        <div class="news-date">2023.12.22</div>
                                    </div>
                                </div>
                                <div class="news-detail">
                                    <div class="news-thumbnail"
                                         style="background-image: url(&quot;https://static.mims.kr/upload/6Z099bnnK8gGq9n667Nw20231218063418687571.jpg&quot;);"></div>
                                    <div class="news-contents">
                                        <div class="news-title"><p>2023 현대모비스와 함께하는 학교스포츠클럽 양궁대회 개최
                                            (2학기)</p></div>
                                        <div class="news-date">2023.12.18</div>
                                    </div>
                                </div>
                                <div class="news-detail">
                                    <div class="news-thumbnail"
                                         style="background-image: url(&quot;https://static.mims.kr/upload/EIWNR6zP3xhRaSf41vEz20231204002230496143.jpg&quot;);"></div>
                                    <div class="news-contents">
                                        <div class="news-title"><p>‘60년의 역사’ 2023 한국 양궁 60주년 기념 행사
                                            개최</p></div>
                                        <div class="news-date">2023.12.01</div>
                                    </div>
                                </div>
                                <div class="news-detail">
                                    <div class="news-thumbnail"
                                         style="background-image: url(&quot;https://static.mims.kr/upload/VjhSUaeX4MpdvEOVUgWU20231204001451686230.jpg&quot;);"></div>
                                    <div class="news-contents">
                                        <div class="news-title"><p>제12회 경기도교육감배 학교스포츠클럽 양궁대회 개최</p>
                                        </div>
                                        <div class="news-date">2023.11.24</div>
                                    </div>
                                </div>
                                <div class="news-detail">
                                    <div class="news-thumbnail"
                                         style="background-image: url(&quot;https://static.mims.kr/upload/KOOyp1WyniKjPUe1ngI020231110001736991704.jpg&quot;);"></div>
                                    <div class="news-contents">
                                        <div class="news-title"><p>2023 아시아선수권대회 결과_2024 파리올림픽 전 세부종목 출전
                                            확정</p></div>
                                        <div class="news-date">2023.11.09</div>
                                    </div>
                                </div>
                                <div class="news-detail">
                                    <div class="news-thumbnail"
                                         style="background-image: url(&quot;https://static.mims.kr/upload/MQwXGuHh1gsxT0vkVvEk20231103212643989719.jpg&quot;);"></div>
                                    <div class="news-contents">
                                        <div class="news-title"><p>2023 아시아선수권대회 출전</p></div>
                                        <div class="news-date">2023.11.04</div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
             $.ajax({
                 url: '/media/news/list',
                 type: 'GET',
                 data: {
                     start: 0,
                     limit: 9
                 },
                 dataType: 'json',
                 success: function(newsList) {
                     // newsList 배열을 반복하여 각 뉴스 아이템을 동적으로 생성합니다.
                     $.each(newsList, function(index, news) {
                         var newsItem = `
                             <div class="news-detail">
                                 <div class="news-thumbnail" style="background-image: url('/img/FcTogether.jpg');"></div>
                                 <div class="news-contents">
                                     <div class="news-title">
                                         <p>${news.newsTitle}</p>
                                     </div>
                                     <div class="news-date">
                                         <p>${news.newsRegdate}</p>
                                     </div>
                                 </div>
                             </div>
                         `;
                         // 생성한 뉴스 아이템을 웹 페이지에 추가합니다.
                         $('.news-item-container').append(newsItem);
                     });
                 },
                 error: function(error) {
                     console.error('뉴스를 가져오는데 실패했습니다.', error);
                 }
             });
         });

        </script>
    </div>
</div>

</body>
</html>