<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/club/clubpage.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="https://fonts.cdnfonts.com/css/d-din" rel="stylesheet">

    <style>
       #greeting {
       width:350px;
       height:450px;
       resize:none;
       border:none;
       }
    </style>
</head>
<body class="club-page-body">
<div class="team-container">
    <div class="teamPage" id="content">
        <div class="subTop">
            <div class="top">
                <div class="container">
                    <div class="topTitle">
                        <p class="title">
                            <span class="mobileBreak"><strong></strong>선수단 소개</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 메인 탭 메뉴 -->
            <div class="tabMenu">
                <div class="container">
                    <a href="javascript:void(0);" data-num="1"
                       class="main-tab wave router-link-exact-active router-link-active current">
                        <span>인사말</span>
                    </a>
                    <a href="javascript:void(0);" data-num="2" class="main-tab wave">
                        <span>조직도</span>
                    </a>
                </div>
            </div>
            <!-- 서브 탭 메뉴 -->
            <div>
<textarea id="greeting">안녕하십니까? 성동구민축구단 투게더 단장 오정수입니다.

저는 오랫동안 축구를 통해 다양한 사람들과 소통하고 교감하며, 경쟁 속에서 동료와 상대를 존중하는 축구의 특성에 매료되어 왔습니다.

이러한 경험을 통해 스포츠가 사회 전반에 걸쳐 긍정적인 영향을 미칠 수 있다는 것을 깨달았습니다. 특히 아마추어 축구팀의 체계적인 성장이 한국 축구 발전의 밑거름이 될 수 있다고 생각합니다.

FC투게더는 이러한 축구와 사회의 긍정적인 시너지 효과를 실현하고자 하는 팀입니다. 다 ‘함께’라는 가치관을 바탕으로 젊은 선수들의 비전과 선진 축구 시스템을 접목하여 한국 축구의 새로운 모델을 만들어 나가고자 합니다.

이를 위해 성동구민과 팬 여러분의 지속적인 관심과 성원이 필요합니다. '구민 구단'이라는 성동의 자부심을 가지고 스포츠 강국, 스포츠 이벤트 메카 성동을 만들어 나가는 데 힘쓰겠습니다.

감사합니다.</textarea>
            </div>

        </div>
    </div>

</div>
<script>

</script>
<footer>
    <th:block th:include="layout/footer"></th:block>
</footer>
</body>
</html>