<html lang="ko">
<head>


    <title>국민통합위원회&gt;위원회 사람들&gt;고문단 </title>
    <meta name="naver-site-verification" content="d064f5fe52381624055426849a39b63ce7667231">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxmum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="/resource/templete/nl/common/img/common/favicon.png">
    <link rel="apple-touch-icon" href="/resource/templete/nl/common/img/common/favicon.png">

    <meta name="keywords" content="국민통합위원회">
    <meta name="description" content="국민통합위원회에 오신 것을 환영합니다">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta property="og:image" content="/resource/templete/nl/common/img/common/favicon.png">
    <meta property="og:url" content="https://www.k-cohesion.go.kr/PCNC/">
    <meta property="og:description" content="대통령직속 국민통합위원회에 오신 것을 환영합니다">
    <meta property="og:title" content="대통령직속 국민통합위원회">
    <!--header-->


    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script>
        var isOldIe = false;
    </script>
    <!--[if lt IE 10]>
    <script>
        isOldIe = true;
    </script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-65875867-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-65875867-3');
    </script>

    <!-- national library lib -->
    <!-- CSS정리 -->
    <!-- CSS정리 : 공통 -->
    <link rel="stylesheet" type="text/css" href="/resource/common/css/slick.css" media="all" onload="this.media='all';">
    <link rel="stylesheet" type="text/css" href="/resource/common/css/jquery.scrollbar.css" media="all"
          onload="this.media='all';">
    <link rel="stylesheet" type="text/css" href="/resource/common/css/jquery.bxslider.min.css" media="all"
          onload="this.media='all';">
    <link rel="stylesheet" type="text/css" href="/resource/common/css/datepicker.css" media="all"
          onload="this.media='all';">

    <!-- CSS정리 : 서브용 -->
    <link rel="stylesheet" type="text/css" href="/resource/common/css/asRange.css" media="all"
          onload="this.media='all';">
    <!-- //CSS정리 -->

    <script src="/resource/common/js/jquery-1.12.3.min.js"></script>
    <script defer="" src="/resource/common/js/slick.js"></script>
    <script src="/resource/common/js/bootstrap-datepicker.js"></script>
    <script defer="" src="/resource/common/js/jquery.bxslider.min.js"></script>
    <script defer="" src="/resource/common/js/jquery.scrollbar.js"></script>
    <script defer="" src="/resource/common/js/jquery.outside.js"></script>
    <script defer="" src="/resource/common/js/jquery-asRange.js"></script>
    <!-- //national library lib -->
    <!-- CMS COMMON lib -->
    <script src="/resource/common/jquery_plugin/common_functions.js"></script>
    <script defer="" src="/resource/common/jquery_plugin/validation/validator.js"></script>
    <script defer="" src="/resource/common/jquery_plugin/validation/accessability.js"></script>
    <script defer="" src="/cheditor/cheditor.js"></script>
    <script defer="" src="/resource/common/jquery_plugin/popWin.js"></script>
    <link href="/resource/common/css/loading-spiner.css" rel="stylesheet" type="text/css">


    <!-- national library script -->
    <script defer="" src="/resource/templete/manpa/js/layout.js"></script>
    <script src="/resource/templete/manpa/js/common.js"></script>

    <script src="/resource/templete/manpa/js/jquery.gallery.js"></script>
    <script defer="" src="/resource/templete/manpa/js/sub.js"></script>
    <!--//header-->

    <script>


        function goSearchForm(obj) {
            var frm = document.forms[obj];
            if (!frm.kwd.value) {
                alert("검색어를 입력해주세요.");
                frm.kwd.focus();
                return;
            }
            window.location = frm.action + "?" + $(frm).serialize();
        }
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body id="top" class="">
<div class="wrap">
    <!-- skip -->
    <div id="skipInclude">
        <!--skip start-->
        <ul class="skip_menu">
            <li><a href="#sub_content">본문 바로가기</a></li>
            <li><a href="#gnb">메뉴 바로가기</a></li>
        </ul>
    </div>
    <!-- // skip -->
    <!-- 본문 영역 -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/resource/templete/manpa/common/css/common.css">
    <link rel="stylesheet" type="text/css" href="/resource/templete/manpa/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/resource/templete/manpa/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resource/templete/manpa/css/sub.css">
    <link rel="stylesheet" type="text/css" href="/resource/templete/manpa/css/webzine.css">
    <script type="text/javascript">
        $(document).ready(function(){
            $('.menu-lnb__item > a').each(function () {
                var $this = $(this).text();
                var $field = $('.title_wrap .title').text();

                if ($this == $field) {
                    $(this).closest('li').addClass('on');
                }
            });
        });

        function goHeaderSearch(){
            var kwd = $('#haaderKwd').val();

            if(kwd == ""){
                alert('검색어를 입력해주세요.');
            }else{
                location.href="/MANPA/contents/searchList.do?schType=B&pageNum=1&pageSize=10&schFld=&kwd="+encodeURIComponent(kwd);
            }

        }

    </script>
    <!-- header -->
    <div class="headerInclude">
        <div class="header_wrap">
            <div class="header pretendard_medium">
                <div class="inner">
                    <h1 class="logo"><a href="/" title="대통령직속 국립통합위원회 메인으로 바로가기" class="flex_wrap flexCenter"><span
                            class="hidden">대통령직속 국립통합위원회</span></a></h1>
                    <nav class="gnb_wrap" id="gnb">

                        <ul class="menu-gnb-depth1">
                            <li class="menu-gnb-depth1__item" id="GNB_P10000000000">
                                <a href="/PCNC/contents/P10100000000.do" class="depth"><span>위원회 소개</span></a>
                                <ul class="menu-gnb-depth2">
                                    <li class="menu-gnb-depth2__item" id="GNB_P10200000000">
                                        <a href="/PCNC/contents/P10200000000.do">위원장 인사말</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P10100000000">
                                        <a href="/PCNC/contents/P10100000000.do">경과·활동연혁</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P10300000000">
                                        <a href="/PCNC/contents/P10300000000.do">비전·핵심과제</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P10600000000">
                                        <a href="/PCNC/contents/P10600000000.do">조직도</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P10700000000">
                                        <a href="/PCNC/contents/P10700000000.do">찾아오시는 길</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-gnb-depth1__item depth1-current--active" id="GNB_P80000000000">
                                <a href="#none" class="depth"><span>위원회 사람들</span></a>
                                <ul class="menu-gnb-depth2">
                                    <li class="menu-gnb-depth2__item depth2-current--active" id="GNB_P80100000000">
                                        <a href="/PCNC/contents/P80100000000.do">고문단</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P80200000000">
                                        <a href="/PCNC/contents/P80200000000.do">분과위원</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P80300000000">
                                        <a href="/PCNC/contents/P80300000000.do">당연직위원</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P80400000000">
                                        <a href="/PCNC/contents/P80400000000.do">특위위원</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-gnb-depth1__item" id="GNB_P20000000000">
                                <a href="/PCNC/contents/P20200000000.do" class="depth"><span>위원회 활동</span></a>
                                <ul class="menu-gnb-depth2">
                                    <li class="menu-gnb-depth2__item" id="GNB_P20200000000">
                                        <a href="/PCNC/contents/P20200000000.do">사진뉴스</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P20300000000">
                                        <a href="/PCNC/contents/P20300000000.do">영상뉴스</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P20400000000">
                                        <a href="/PCNC/contents/P20400000000.do">카드뉴스</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P20500000000">
                                        <a href="/PCNC/contents/P20500000000.do">공감영상</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P20600000000">
                                        <a href="/PCNC/contents/P20600000000.do?viewCount=12">쇼츠SHORTS</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-gnb-depth1__item" id="GNB_P30000000000">
                                <a href="/PCNC/contents/P30300000000.do" class="depth"><span>언론홍보</span></a>
                                <ul class="menu-gnb-depth2">
                                    <li class="menu-gnb-depth2__item" id="GNB_P30300000000">
                                        <a href="/PCNC/contents/P30300000000.do">보도자료</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P30400000000">
                                        <a href="/PCNC/contents/P30400000000.do">언론보도</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P30600000000">
                                        <a href="/PCNC/contents/P30600000000.do">e-브리핑</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P30700000000">
                                        <a href="/PCNC/contents/P30700000000.do">인터뷰·기고</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-gnb-depth1__item" id="GNB_P40000000000">
                                <a href="/PCNC/contents/P30200000000.do" class="depth"><span>알림마당</span></a>
                                <ul class="menu-gnb-depth2">
                                    <li class="menu-gnb-depth2__item" id="GNB_P30200000000">
                                        <a href="/PCNC/contents/P30200000000.do">공지사항</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P20100000000">
                                        <a href="/PCNC/contents/P20100000000.do">공개일정</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P40300000000">
                                        <a href="/PCNC/contents/P40300000000.do">정보공개</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P40200000000">
                                        <a href="/PCNC/contents/P40200000000.do">안건자료</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P40100000000">
                                        <a href="/PCNC/contents/P40100000000.do">규정·참고자료</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-gnb-depth1__item" id="GNB_P50000000000">
                                <a href="/PCNC/contents/P50400000000.do" class="depth"><span>국민소통</span></a>
                                <ul class="menu-gnb-depth2">
                                    <li class="menu-gnb-depth2__item" id="GNB_P50700000000">
                                        <a href="/PCNC/contents/P50700000000.do">청년마당</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P50500000000">
                                        <a href="/PCNC/contents/P50500000000.do">행사안내</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P50400000000">
                                        <a href="/PCNC/contents/P50400000000.do">공모전</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-gnb-depth1__item" id="">
                                <a href="/PCNC/contents/P90000000009.do" class="depth"><span>웹진</span></a>
                                <ul class="menu-gnb-depth2">
                                    <li class="menu-gnb-depth2__item" id="">
                                        <a href="/PCNC/contents/P90000000009.do">웹진</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P10920000000">
                                        <a href="/PCNC/contents/P10920000000.do">2024 핵심키워드</a>
                                    </li>
                                    <li class="menu-gnb-depth2__item" id="GNB_P10900000000">
                                        <a href="/PCNC/contents/P10900000000.do">2023 핵심키워드</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <ul class="sns_list flex_wrap">
                        <li class="sns_item youtube"><a href="https://www.youtube.com/channel/UCpahM_5JL1tEM8acntisFMQ"
                                                        target="_blank"><span class="hidden">유튜브 새 창으로 바로가기</span></a>
                        </li>
                        <li class="sns_item insta"><a href="https://www.instagram.com/k_cohesion/" target="_blank"><span
                                class="hidden">인스타그램 새 창으로 바로가기</span></a></li>
                        <li class="sns_item fb"><a href="https://www.facebook.com/국민통합위원회-101302956004912"
                                                   target="_blank"><span class="hidden">페이스북 새 창으로 바로가기</span></a></li>
                        <li class="sns_item blog"><a
                                href="https://blog.naver.com/prologue/PrologueList.naver?blogId=kcohesion&amp;skinType=&amp;skinId=&amp;from=menu"
                                target="_blank"><span class="hidden">블로그 새 창으로 바로가기</span></a></li>
                    </ul>
                    <a href="#;" class="h_menu" id="hMenu"><span class="hidden">메뉴 열기</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- //header -->
    <div class="contents_wrap float_wrap">

        <!--sub visual start-->
        <div class="sub_visual_wrap flex_wrap flex_center">
            <h2 class="depth1_tit SCDream5" id="depth1_tit">고문단</h2>
        </div>
        <!--sub visual end-->
        <!-- container -->
        <div id="container" class="sub float_wrap">
            <!-- contents -->
            <div id="content" class="inner">
                <div id="lnbInclude">
                    <div class="lnb_wrap m_hidden">
                        <!-- <h2 class="depth2_tit flex_wrap flex_center" id="depth2_tit">current depth2</h2> -->
                        <!-- S: 프로그램추가 영역 -->

                        <h2 class="lnb_title">위원회 사람들</h2>
                        <ul class="menu-lnb">
                            <li class="menu-lnb__item is_lnb1--opened" id="SNB_P80100000000">
                                <a href="/PCNC/contents/P80100000000.do" title="선택됨">고문단</a>
                            </li>
                            <li class="menu-lnb__item" id="SNB_P80200000000">
                                <a href="/PCNC/contents/P80200000000.do">분과위원</a>
                            </li>
                            <li class="menu-lnb__item" id="SNB_P80300000000">
                                <a href="/PCNC/contents/P80300000000.do">당연직위원</a>
                            </li>
                            <li class="menu-lnb__item" id="SNB_P80400000000">
                                <a href="/PCNC/contents/P80400000000.do">특위위원</a>
                            </li>
                        </ul>
                        <!-- E: 프로그램추가 영역 -->
                    </div>
                </div>

                <div id="sub_content" class="sub_contents">
                    <div class="breadcrumb float_wrap" role="navigation">
                        <ol class="breadcrumb_list float_wrap m_hidden">
                            <li class="breadcrumb_item home"><a href="/" title="메인페이지로 이동"><span class="hidden">홈</span></a>
                            </li>
                            <li class="breadcrumb_item">위원회 사람들</li>
                            <li class="breadcrumb_item current">고문단</li>
                        </ol>
                    </div>
                    <div class="page_tit_wrap">
                        <h1 class="page_tit SCDream5" id="page_tit">
                            고문단</h1>
                        <!--page util start-->
                        <div class="page_util m_hidden">
                            <span><a href="javascript:window.print();" class="page_util_item print" title="인쇄"><span
                                    class="hidden">인쇄</span></a></span>
                            <!-- 				            <span><a href="#;" class="page_util_item scrap" title="스크랩"><span class="hidden">스크랩</span></a></span> -->
                            <span>
				              <a href="#;" class="page_util_item share" title="공유"><span class="hidden">공유</span></a>
				              <div class="share_sns_wrap">
					                <ul class="share_sns">
					                	<li class="blog"><a href="#"
                                                            onclick="ManpaJs.sendSns('naverBlog', 'https://www.k-cohesion.go.kr/PCNC/contents/P80100000000.do', '제목 입력')"
                                                            title="블로그로 공유 새창 열림" class=""><span
                                                class="hidden">블로그</span></a></li>
			                    		<li class="facebook"><a href="#"
                                                                onclick="ManpaJs.sendSns('facebook', 'https://www.k-cohesion.go.kr/PCNC/contents/P80100000000.do', '제목 입력')"
                                                                title="페이스북으로 공유 새창 열림" class=""><span class="hidden">페이스북</span></a></li>
			                    		<li class="twitter"><a href="#"
                                                               onclick="ManpaJs.sendSns('twitter', 'https://www.k-cohesion.go.kr/PCNC/contents/P80100000000.do', '제목 입력')"
                                                               title="트위터로 공유 새창 열림" class=""><span
                                                class="hidden">트위터</span></a></li>
			                    		<li class="copy_link"><a href="#" onclick="fn_linkCopy();" title="링크복사"
                                                                 class=""><span class="hidden">링크복사</span></a></li>
					                </ul>
				                <button class="close_share_sns pointer">닫기</button>
				              </div>
				            </span>
                        </div>
                        <!--page util end-->
                    </div>

                    <!-- 본문 영역 -->
                    <!-- sub_inner start -->
                    <div class="sub_inner ">
                        <form name="form1" id="form1" method="get">
                            <input type="hidden" name="orType" id="orType" value="5">
                            <input type="hidden" name="orCode" id="orCode" value="P008">
                        </form>

                        <!-- 여기서는 직급코드에 따라 직급 표출을 해야 하기 때문에 조건문이 많이 들어감 -->
                        <!-- 상세 템플릿일 경우 -->
                        <ul class="organization_info_list">
                            <li class="organization_info_item">
                                <div class="img_wrap"
                                     style="background: url(/comm/viewImage.do?f=48DOLzOO80gNXECTQHxh8vAecVHpvWc3nIgGDlmE6%2F3CFVXshcExJ1iVBj8A3djPw8EL0i4nbi12XNr9BTYM3Q%3D%3D) no-repeat center / auto 100%"></div>
                                <div class="txt_wrap">
                                    <h4 class="name">신영균</h4>
                                    <p class="position">국민통합위원회 고문단</p>
                                    <ul class="info_list dash_list">
                                        <li class="info_item">現 국민의힘 상임 고문단 회장</li>
                                        <li class="info_item">前 국회의원</li>
                                        <li class="info_item">前 영화배우</li>
                                    </ul>
                                </div>
                            </li>
                            <!-- 상세 템플릿일 경우 -->
                            <li class="organization_info_item">
                                <div class="img_wrap"
                                     style="background: url(/comm/viewImage.do?f=soH47%2BaN5JtghbbeMRWIMURdHuzCfc0n6AJC%2BCjwMpDlge0ZHh4umLozk830fn8b9qEyy4J9%2BAjXEmm%2BJeKWhA%3D%3D) no-repeat center / auto 100%"></div>
                                <div class="txt_wrap">
                                    <h4 class="name">전윤철</h4>
                                    <p class="position">국민통합위원회 고문단</p>
                                    <ul class="info_list dash_list">
                                        <li class="info_item">前 감사원장</li>
                                        <li class="info_item">前 재정경제부 장관 및 경제부총리(2002~2003)</li>
                                    </ul>
                                </div>
                            </li>
                            <!-- 상세 템플릿일 경우 -->
                            <li class="organization_info_item">
                                <div class="img_wrap"
                                     style="background: url(/comm/viewImage.do?f=%2FcTFXfCd1hJaTHgn79sTzQYyrsmbVoCWeNHAXTeeSfqUazSIBn7hry87zarUpE4LuhtTrBAX%2BJ9OnUD338IGaQ%3D%3D) no-repeat center / auto 100%"></div>
                                <div class="txt_wrap">
                                    <h4 class="name">김명자</h4>
                                    <p class="position">국민통합위원회 고문단</p>
                                    <ul class="info_list dash_list">
                                        <li class="info_item">前 환경부장관(1999~2003)</li>
                                        <li class="info_item">前 국회의원</li>
                                    </ul>
                                </div>
                            </li>
                            <!-- 상세 템플릿일 경우 -->
                            <li class="organization_info_item">
                                <div class="img_wrap"
                                     style="background: url(/comm/viewImage.do?f=2X7k34romIvllL2Pwlko4uE4%2FDkZv%2FgsjS28Moi2iuBHEG%2BF9kYGekTTWtVCPY7DABp9pclx5iiKRNX%2F2Ewlng%3D%3D) no-repeat center / auto 100%"></div>
                                <div class="txt_wrap">
                                    <h4 class="name">김황식</h4>
                                    <p class="position">국민통합위원회 고문단</p>
                                    <ul class="info_list dash_list">
                                        <li class="info_item">前 국무총리(2010~2013)</li>
                                        <li class="info_item">前 감사원장</li>
                                    </ul>
                                </div>
                            </li>
                            <!-- 상세 템플릿일 경우 -->
                            <li class="organization_info_item">
                                <div class="img_wrap"
                                     style="background: url(/comm/viewImage.do?f=KXy2QU3QamUFRRpLDpSlAOxF9mkKuoFEQxaF2Gk%2Bus7UpFTFBRtr2yFpL8jdsJ0rAAknVjuhJtO9Dzhl0%2FPjfA%3D%3D) no-repeat center / auto 100%"></div>
                                <div class="txt_wrap">
                                    <h4 class="name">문국현</h4>
                                    <p class="position">국민통합위원회 고문단</p>
                                    <ul class="info_list dash_list">
                                        <li class="info_item">前 국회의원</li>
                                        <li class="info_item">前 유한킴벌리 대표이사 사장</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div><!-- sub_inner end -->

                    <script>
                        $( document ).ready(function() {
                            $('.info_item').each(function() {
                                $(this).text($(this).text().trim());
                            });
                        });
                        /* 탭변경 function */
                        function fn_tabChange(estYear, orCode){
                            location.href="?estYear=" + estYear +"&orCode=" + orCode;
                        }
                    </script>
                </div>
            </div>
            <!-- //contents -->
        </div>
    </div>
    <!-- //container -->

    <!-- footer -->
    <div id="footerInclude">
        <div class="footer_top">
            <div class="inner flex_wrap flex_center_align space_between">
                <ul class="footer-util-list flex_wrap">
                    <li class="footer-util-item"><a href="/PCNC/contents/P90000000000.do" title="개인정보처리방침">개인정보처리방침</a>
                    </li>
                    <!-- 					<li class="footer-util-item"><a href="#;" onclick="showPopProblem()">고충신고</a></li> -->
                    <li class="footer-util-item"><a href="/PCNC/contents/P10200000000.do">위원장 인사말</a></li>
                    <li class="footer-util-item"><a href="/PCNC/contents/P30700000000.do">인터뷰·기고</a></li>
                    <li class="footer-util-item"><a href="/PCNC/contents/P10600000000.do">조직도</a></li>
                    <li class="footer-util-item"><a href="/PCNC/contents/P50700000000.do">청년마당</a></li>
                    <li class="footer-util-item"><a href="/PCNC/contents/P10100000000.do">활동연혁</a></li>
                    <li class="footer-util-item"><a href="/PCNC/contents/P60000000000.do">Site-Map</a></li>
                    <li class="footer-util-item"><a href="/PCNC/contents/P90000000009.do">웹진</a></li>
                    <div class="ft_select">
                        <select onchange="if(this.value); window.open(this.value);" name="slKeyword" id="slKeyword">
                            <option disabled="" hidden="" selected="">2024 핵심키워드</option>
                            <option value="/PCNC/contents/P10920000000.do">2024 핵심키워드</option>
                            <option value="/PCNC/contents/P10900000000.do">2023 핵심키워드</option>
                        </select>
                    </div>
                </ul>
                <ul class="sns_list flex_wrap">
                    <li class="sns_item youtube"><a href="https://www.youtube.com/channel/UCpahM_5JL1tEM8acntisFMQ"
                                                    target="_blank"><span class="hidden">유튜브 새 창으로 바로가기</span></a></li>
                    <li class="sns_item insta"><a href="https://www.instagram.com/k_cohesion/" target="_blank"><span
                            class="hidden">인스타그램 새 창으로 바로가기</span></a></li>
                    <li class="sns_item fb"><a href="https://www.facebook.com/국민통합위원회-101302956004912"
                                               target="_blank"><span class="hidden">페이스북 새 창으로 바로가기</span></a></li>
                    <li class="sns_item blog"><a
                            href="https://blog.naver.com/prologue/PrologueList.naver?blogId=kcohesion&amp;skinType=&amp;skinId=&amp;from=menu"
                            target="_blank"><span class="hidden">블로그 새 창으로 바로가기</span></a></li>
                </ul>
            </div>
        </div>
        <footer class="footer">
            <div class="inner flex_wrap flex_center_align flex_center_justify">
                <div class="logo">
                    <span class="hidden">대통령직속 국립통합위원회</span>
                </div>
                <div class="address">
                    <p>서울특별시 종로구 세종대로 209, 본관 13층(세종로, 정부서울청사) | TEL: 02-2100-3419 / 02-2100-3434(공보팀)</p>
                    <p>Copyright ⓒ 2022 Presidential Committee of National Cohesion. All Rights Reserved.</p>
                </div>
                <div class="ic_wrap flex_center_align">
                    <a href="https://www.kogl.or.kr/index.do" target="_blank" title="공공누리 새 창으로 열기"
                       class="img_open img">
                        <img src="/resource/templete/manpa/common/img/common/open.jpg" alt="OPEN 공공누리 공공저작물 자유이용허락">
                    </a>
                    <a href="/resource/templete/manpa/common/img/common/certificate.jpg" target="_blank"
                       title="품질인증서 새창으로보기" class="img">
                        <img src="/resource/templete/manpa/common/img/common/logo_wa.png"
                             alt="과학기술정보통신부 WA(WEB접근성) 품질인증 마크,  웹와치(WebWatch) 2024.1.12 ~ 2025.1.12">
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <!-- //footer -->

    <a id="captureTarget" style="display: none">다운로드</a>
    <script src="/resource/capture/html2canvas.min.js"></script>
    <script src="/resource/capture/es6-promise.min.js"></script>
    <script src="/resource/capture/es6-promise.auto.min.js"></script>
    <script>

        /**
         * <a href="#">링크</a>
         * 위와 같은 형태로 된 링크를 '#'동작이 먹지 않게 막는다.
         */
        $(document).delegate("a[href='#']","click",function(event){
            event.preventDefault();
        });
        $(document).delegate("a[href='#none']","click",function(event){
            event.preventDefault();
        });

        $(document).ready(function(){

            $("#captureButton").on('click', function(e) {
                var today = new Date();
                var year = today.getFullYear(); // 년도
                var month = today.getMonth() + 1; // 월
                var date = today.getDate(); // 날짜
                if (month < 10) month = "0" + month;
                if (date < 10) 	date = "0" + date;
                var todayTxt = year + "-" + month + "-" + date;

                var searchWord = "";
                // html2canvas에 문서 본문을 캔버스로 넘긴다.
                html2canvas(document.body).then(function(canvas) {
                    // IE의 경우 toDataURL 미지원
                    // es6-promise 별도 플러그인 사용
                    if (navigator.msSaveBlob) {
                        var blob = canvas.msToBlob();
                        return navigator.msSaveBlob(blob, '화면탭쳐_'	+ todayTxt + '.jpg');
                        // IE가 아닌 경우
                    } else {
                        var el = document.getElementById("captureTarget");
                        el.href = canvas.toDataURL("image/jpeg");
                        el.download = document.title + '_' + todayTxt + '.jpg';
                        el.click();
                    }
                });
            });



            ManpaJs.NowPageById("P80000000000>P80100000000","SNB");
            ManpaJs.NowPageById("P80000000000>P80100000000","TAB");
            ManpaJs.NowPageById("P80000000000>P80100000000","MTAB");

            ManpaJs.NowPageById("P80000000000>P80100000000","GNB");
            ManpaJs.NowPageById("P80000000000>P80100000000","GNBB");

            addSelectText()
        });


    </script>
    <script src="/resource/templete/manpa/js/common.js"></script>
    <!-- 고충신고 모달 -->
    <script type="text/javascript" src="/resource/common/jquery_plugin/validation/validator.js"></script>
    <!-- 고충신고 팝업 -->
    <div class="dim">
        <div class="layer_popup" id="pop_problem" tabindex="1">
            <h2 class="popup_header flex_wrap flex_center_align">
                <span class="tit ellipsis txt_line1">고충신고</span>
            </h2>
            <a href="#;" class="pop_close ic_close" id="problemModalClose" onclick="javascript:$('.dim').hide();"><span
                    class="hidden">레이어 팝업 닫기</span></a>
            <div class="popup_body">
                <div class="bd_wrap">
                    <form name="cpForm" id="cpForm" method="post">
                        <input type="hidden" name="cplPhone" value="">
                        <input type="hidden" name="cplEmail" value="">
                        <input type="hidden" name="actPhone" value="">
                        <input type="hidden" name="actEmail" value="">
                        <table class="table m-lyt">
                            <colgroup class="col_pc">
                                <col style="width: 90px">
                                <col style="width: 90px">
                                <col style="width: 90px">
                                <col style="width: 100%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th rowspan="12">당사자</th>
                                <th rowspan="6">신고인 <br>정보</th>
                                <th><label for="cplNm"><span class="m_txt">신고인</span>성명</label></th>
                                <td>
                                    <div class="wrap"><input type="text" name="cplNm" id="cplNm" value="" title="신고인 성명"
                                                             class="form-control input-sm f-wd-100 required"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="cplOrg"><span class="m_txt">신고인</span>소속</label></th>
                                <td>
                                    <div class="wrap"><input type="text" name="cplOrg" id="cplOrg" value=""
                                                             title="신고인 소속"
                                                             class="form-control input-sm f-wd-100 required"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="cplPos"><span class="m_txt">신고인</span>직급</label></th>
                                <td>
                                    <div class="wrap"><input type="text" name="cplPos" id="cplPos" value=""
                                                             title="신고인 직급"
                                                             class="form-control input-sm f-wd-100 required"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="m_txt">신고인</span>성별</th>
                                <td>
                                    <div class="wrap">
                                        <input type="radio" name="cplSex" id="cplSex_1" value="1" checked=""> <label
                                            for="cplSex_1">남</label>
                                        <input type="radio" name="cplSex" id="cplSex_2" value="2"> <label
                                            for="cplSex_2">여</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="m_txt">신고인</span><label for="cplPhone1">연락처</label></th>
                                <td>
                                    <div class="tel_wrap wrap">

                                        <select title="휴대폰 번호 첫번째 자리" name="cplPhone1" id="cplPhone1"
                                                class="required-select">
                                            <option value="">선택</option>
                                            <option value="010">010</option>
                                        </select>
                                        <span class="dash">-</span>
                                        <label for="cplPhone2" class="wave_label" title="휴대폰 번호 두번째 자리">휴대폰 번호 두번째
                                            자리</label>
                                        <input type="text" id="cplPhone2" maxlength="4"
                                               class="input_text required validate-digits" title="휴대폰 번호 두번째 자리">
                                        <span class="dash">-</span>
                                        <label for="cplPhone3" class="wave_label" title="휴대폰 번호 세번째 자리">휴대폰 번호 세번째
                                            자리</label>
                                        <input type="text" id="cplPhone3" maxlength="4"
                                               class="input_text required validate-digits" title="휴대폰 번호 세번째 자리">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="m_txt">신고인</span><label for="cplEmailId">E-mail</label></th>
                                <td>
                                    <div class="email_wrap wrap">
                                        <input type="text" id="cplEmailId" name="emailId" title="이메일 아이디"
                                               class="required validate-alpha-num">
                                        <span class="at">@</span>
                                        <label for="cplEmailAdd" class="wave_label">이메일 도메인</label>
                                        <input type="text" id="cplEmailAdd" name="emailAdd" title="이메일 도메인"
                                               class="required validate-domain">
                                        <!-- 											<label for="emailSelect" class="wave_label">이메일직접입력</label> -->
                                        <select name="emailSelect" id="emailSelect" title="이메일 도메인 주소 선택">
                                            <option value="0" title="직접입력">직접입력</option>
                                            <option value="naver.com" title="naver.com">naver.com</option>
                                            <option value="hanmail.net" title="hanmail.net">hanmail.net</option>
                                            <option value="google.com" title="google.com">google.com</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="6">행위자 <br>정보</th>
                                <th><label for="actNm"><span class="m_txt">행위자</span>성명</label></th>
                                <td>
                                    <div class="wrap"><input type="text" name="actNm" id="actNm" value="" title="행위자 성명"
                                                             class="form-control input-sm f-wd-100 required"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="actOrg"><span class="m_txt">행위자</span>소속</label></th>
                                <td>
                                    <div class="wrap"><input type="text" name="actOrg" id="actOrg" value=""
                                                             title="행위자 소속"
                                                             class="form-control input-sm f-wd-100 required"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="actPos"><span class="m_txt">행위자</span>직급</label></th>
                                <td>
                                    <div class="wrap"><input type="text" name="actPos" id="actPos" value=""
                                                             title="행위자 직급"
                                                             class="form-control input-sm f-wd-100 required"></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="m_txt">행위자</span>성별</th>
                                <td>
                                    <div class="wrap"><input type="radio" name="actSex" id="actSex_1" value="1"
                                                             checked=""> <label for="actSex_1">남</label> <input
                                            type="radio" name="actSex" id="actSex_2" value="2"> <label
                                            for="actSex_2">여</label></div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="m_txt">행위자</span><label for="actPhone1">연락처</label></th>
                                <td>
                                    <div class="tel_wrap wrap">
                                        <select title="휴대폰 번호 첫번째 자리" name="actPhone1" id="actPhone1"
                                                class="required-select">
                                            <option value="">선택</option>
                                            <option value="010">010</option>
                                        </select>
                                        <span class="dash">-</span>
                                        <label for="actPhone2" class="wave_label">휴대폰 번호 두번째 자리</label>
                                        <input type="text" id="actPhone2" maxlength="4"
                                               class="input_text required validate-digits" title="휴대폰 번호 두번째 자리">
                                        <label for="actPhone3" class="wave_label">휴대폰 번호 세번째 자리</label>
                                        <span class="dash">-</span> <input type="text" id="actPhone3" maxlength="4"
                                                                           class="input_text required validate-digits"
                                                                           title="휴대폰 번호 세번째 자리">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="m_txt">행위자</span><label for="actPhone3"
                                                                         class="actEmailId">E-mail</label></th>
                                <td>
                                    <div class="email_wrap wrap">
                                        <input type="text" id="actEmailId" name="emailId" title="이메일 아이디"
                                               class="required validate-alpha-num">
                                        <span class="at">@</span>
                                        <label for="actEmailAdd" class="wave_label">이메일 도메인</label>
                                        <input type="text" id="actEmailAdd" name="emailAdd" title="이메일 도메인"
                                               class="required validate-domain">
                                        <!-- 										<label for="emailSelect2" class="wave_label">이메일 직접입력</label> -->
                                        <select name="emailSelect" id="emailSelect2" title="이메일 도메인 주소 선택">
                                            <option value="0">직접입력</option>
                                            <option value="naver.com" title="naver.com">naver.com</option>
                                            <option value="hanmail.net" title="hanmail.net">hanmail.net</option>
                                            <option value="google.com" title="google.com">google.com</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><label for="cContents">내용</label></th>
                                <td colspan="2">
                                    <div class="wrap"><textarea name="cContents" id="cContents" class="requried"
                                                                title="신고내용"
                                                                placeholder="※ 문제가 되는 행위, 지속성의 여부, 목격자 혹은 증인의 유무 등을 6하원칙에 따라 기록합니다."></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">요구사항</th>
                                <td colspan="2">
                                    <div class="r_wrap">
                                        <input type="radio" name="cReq" value="성희롱(성폭력)의 중지" id="req1" required=""
                                               checked="">
                                        <label for="req1">성희롱(성폭력)의 중지</label><br>
                                    </div>
                                    <div class="r_wrap">
                                        <input type="radio" name="cReq" value="성희롱(성폭력)에 대한 사과와 재발방지 조치" id="req2">
                                        <label for="req2">성희롱(성폭력)에 대한 사과와 재발방지 조치</label><br>
                                    </div>
                                    <div class="r_wrap">
                                        <input type="radio" name="cReq" value="징계 등 인사조치" id="req5">
                                        <label for="req5">징계 등 인사조치</label><br>
                                    </div>
                                    <div class="r_wrap">
                                        <input type="radio" name="cReq" value="req4" id="req4">
                                        <label for="req4" class="mr5">기타</label>
                                        <!-- 										<label for="cReqTxt" class="wave_label">기타 요구사항 입력칸</label> -->
                                        <input type="text" name="cReqTxt" id="cReqTxt" disabled=""
                                               placeholder="기타 요구사항 입력칸" title="기타 요구사항 입력칸">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="privacy_agr">
                            <p>개인정보 수집·이용 내역(필수사항)</p>
                            <div class="tbl-wrap">
                                <table class="table">
                                    <colgroup>
                                        <col width="48%">
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>수집항목</th>
                                        <th>수집·이용 목적</th>
                                        <th>보유기간</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>[신고인정보] 성명, 소속, 직급, 성별, 연락처, E-mail<br>
                                            [행위자정보] 성명, 소속, 직급, 성별, 연락처, E-mail
                                        </td>
                                        <td>고충신고의 접수 및 관리</td>
                                        <td>국민통합위원회의 존속기한</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a class="btn_prvc_view" href="https://www.k-cohesion.go.kr/PCNC/contents/P90000000000.do"
                               target="_blank"><u>개인정보 처리방침 보기</u></a>
                            <div class="agr_box">
                                <p>위와 같이 개인정보를 수집 · 이용하는데 동의하십니까?</p>
                                <div class="chk-wrap">
                                    <input type="checkbox" id="prvc_agr" name="prvc_agr">
                                    <label for="prvc_agr">동의</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="btn_wrap">
                    <a href="#none" onclick="fn_goInput();" class="btn btn-default">등록</a>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        /* 이메일 도메인 변경 function*/
        $('select[name="emailSelect"]').change(function() {
            var emailAddId = $(this).closest('td').find('input[name="emailAdd"]').attr('id');
            var emailAdd = $('#' + emailAddId);

            if ($(this).val() === '0') {
                emailAdd.prop('readOnly', false);
                emailAdd.val('');
                emailAdd.focus();
            } else {
                emailAdd.prop('readOnly', true);
                emailAdd.val($(this).val());
            }
        });

        $('[name="cReq"]').change(function(){
            if ($(this).val() == 'req4') {
                $('#cReqTxt').prop('disabled', false).focus();
            } else {
                $('#cReqTxt').prop('disabled', true).val('');
            }
        });

        /*고충 신고 내용 체크*/
        function fn_goInput(){
            var f = document.cpForm;
            var cReqValue = $('[name="cReq"]:checked').val();
            if (cReqValue === 'req4'){
                var cReqTxt = $('#cReqTxt').val();
                if(cReqTxt == ''){
                    alert("요구사항을 작성해주셔야 합니다.");
                    $("#cReqTxt").focus();
                    return false;
                }else{
                    $('[name="cReq"]').val(cReqTxt);
                }
            }
            if(Validator.validate(f)){
                if($("#cContents").val().trim() === ""){
                    alert("신고 내용을 작성해주세요.");
                    $("#cContents").focus();
                    return false;
                } else if(!$('#prvc_agr').is(':checked')) {
                    alert("개인정보 수집·이용 내역에 동의해주세요.");
                    $("#prvc_agr").focus();
                    return false;
                } else {
                    if(confirm("저장하시겠습니까?")) {
                        f.cplPhone.value = $("#cplPhone1").val() +"-"+ $("#cplPhone2").val() +"-"+ $("#cplPhone3").val();
                        f.cplEmail.value = $("#cplEmailId").val() +"@"+ $("#cplEmailAdd").val();
                        f.actPhone.value = $("#actPhone1").val() +"-"+ $("#actPhone2").val() +"-"+ $("#actPhone3").val();
                        f.actEmail.value = $("#actEmailId").val() +"@"+ $("#actEmailAdd").val();
                        fn_goInputProc();
                    }
                }
            }
        }

        /*고충 신고 처리 function*/
        function fn_goInputProc(){
            $.ajax({
                url : "/PCNC/module/_complaint_input_proc.ajax"
                , data : $("#cpForm").serialize()
                , beforeSend : ""
                , success : function(data){
                    if (data == 1) {
                        alert("신고가 완료되었습니다.");
                        $(".pop_close").trigger("click");
                    }
                    else {
                        alert("오류가 발생하였습니다.");
                    }
                }
                , error:function(request,status,error){
                    alert("오류가 발생하였습니다.");
                }
            });
        }
    </script>
    <!-- 본문 영역 -->
    <!--footer-->


    <div id="loadingLayer"
         style="position: fixed; display: block; width: 100%; background-color: rgba(0, 0, 0, 0.6); z-index: 9999; top: 0; left: 0;"></div>
    <!--//footer-->
</div>


<div id="extension-mmplj"></div>
</body>
</html>