<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>경기 일정 / 결과</title>
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/match/matchpage.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="match-page-body">
<div class="team-container">
    <div class="matchPage" id="content">
        <div class="subTop">
            <div class="top">
                <div class="container">
                    <div class="topTitle">
                        <p class="title">
                            <span class="mobileBreak"><strong></strong>경기 일정/결과</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="tabMenu">
                <div class="container">
                    <a href="#"
                       class="main-tab wave router-link-exact-active router-link-active current"
                       onclick="openTab(event, 'K5')" id="defaultOpen"><span>K5</span></a>
                    <a href="#" class="main-tab wave"
                       onclick="openTab(event, 'K7')"><span>K7</span></a>
                    <a href="#" class="main-tab wave"
                       onclick="openTab(event, 'W1')"><span>W1</span></a>
                </div>
            </div>

            <div id="K5" class="sub_tabMenu">
                <div class="sub_container">
                    <ul class="sub-tab-bar">
                        <li data-num="1" class="sub-tab wave dark sub-tab" onclick="openSubTab(event, 'schedule_K5')">
                            <a href="#" class="subtablinks active" id="defaultSubOpen_K5">경기 일정</a>
                        </li>
                        <li data-num="2" class="sub-tab wave dark sub-tab" onclick="openSubTab(event, 'results_K5')">
                            <a href="#" class="subtablinks">경기 결과</a>
                        </li>
                    </ul>
                </div>


                <div id="schedule_K5" class="subtabcontent">
                    <div id="K5ScheduleTable" class="table">
                        <div th:each="match : ${K5Schedulelist}" class="divClass match-row">
                            <div class="left-info">
                <span th:if="${#lists.size(match.team) > 0}"
                      th:text="${match.team[0].teamLeagueGb}" style="font-size:25px;"></span>
                                <span th:text="${match.matchDate}" style="font-size:25px;"></span>
                                <span th:text="${match.matchTime}" style="font-size:35px;"></span>
                                <div class="location-home">
                                    <span th:text="${match.matchLocation}" style="font-size:25px;"></span>
                                    <span style="font-size:18px;">(</span><span th:text="${match.matchHome}"
                                                                                style="font-size:18px;">
                    </span><span style="font-size:18px;">)</span>
                                </div>
                            </div>
                            <div class="right-info">
                                <div>
                                    <span style="font-size:80px;">FC 투게더</span>
                                    <img src="" alt="teamLogo">
                                </div>
                                <div class="versus-info">
                                    <div class="versus" style="font-size:20px;">vs</div>
                                    <div><span th:text="${match.matchStatus}" style="font-size:20px;"></span></div>
                                </div>
                                <span th:if="${#lists.size(match.team) > 0}">
                        <img th:src="${match.team[0].teamLogo}" alt="Team Logo" style="height: 50px; width: auto;"/>
                    </span>
                                <span th:text="${match.teamName}" style="font-size:80px;"></span>
                            </div>
                        </div>
                    </div>


                    <div class="pagination">
                        <button id="K5ScheduleLoadMore">더보기</button>
                    </div>
                </div>
            </div>

            <div id="results_K5" class="subtabcontent">
                <div id="K5ResultTable" class="table">
                    <div th:each="match : ${K5Resultlist}" class="divClass match-row">
                        <div class="left-info">
                <span th:if="${#lists.size(match.team) > 0}"
                      th:text="${match.team[0].teamLeagueGb}" style="font-size:25px;"></span>
                            <span th:text="${match.matchDate}" style="font-size:25px;"></span>
                            <span th:text="${match.matchTime}" style="font-size:35px;"></span>
                            <div class="location-home">
                                <span th:text="${match.matchLocation}" style="font-size:25px;"></span>
                                <span style="font-size:18px;">(</span><span th:text="${match.matchHome}"
                                                                            style="font-size:18px;">
                    </span><span style="font-size:18px;">)</span>
                            </div>
                        </div>
                        <div class="right-info">
                            <div>
                                <span style="font-size:80px;">FC 투게더</span>
                                <img src="" alt="teamLogo">
                            </div>
                            <div class="versus-info">
                                <div class="versus" style="font-size:20px;">vs</div>
                                <div><span th:text="${match.matchStatus}" style="font-size:20px;"></span></div>
                            </div>
                            <span th:if="${#lists.size(match.team) > 0}">
                        <img th:src="${match.team[0].teamLogo}" alt="Team Logo" style="height: 50px; width: auto;"/>
                            <span th:text="${match.matchScore}" style="font-size:80px;"></span>
                    </span>
                            <span th:text="${match.matchRelativeScore}" style="font-size:80px;"></span>
                            <span th:text="${match.teamName}" style="font-size:80px;"></span>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button id="K5ResultLoadMore">더보기</button>
                </div>
            </div>
        </div>

        <div id="K7" class="sub_tabMenu">
            <div class="sub_container">
                <ul class="sub-tab-bar">
                    <li data-num="1" class="sub-tab wave dark sub-tab" onclick="openSubTab(event, 'schedule_K7')">
                        <a href="#" class="subtablinks active"
                           id="defaultSubOpen_K7">경기 일정</a>
                    </li>
                    <li data-num="2" class="sub-tab wave dark sub-tab" onclick="openSubTab(event, 'results_K7')">
                        <a href="#" class="subtablinks">경기 결과</a>
                    </li>
                </ul>
            </div>

            <div id="schedule_K7" class="subtabcontent">
                <div id="K7ScheduleTable">
                    <div th:each="match : ${K7Schedulelist}" class="divClass match-row">
                        <div class="left-info">
                <span th:if="${#lists.size(match.team) > 0}"
                      th:text="${match.team[0].teamLeagueGb}" style="font-size:25px;"></span>
                            <span th:text="${match.matchDate}" style="font-size:25px;"></span>
                            <span th:text="${match.matchTime}" style="font-size:35px;"></span>
                            <div class="location-home">
                                <span th:text="${match.matchLocation}" style="font-size:25px;"></span>
                                <span style="font-size:18px;">(</span><span th:text="${match.matchHome}"
                                                                            style="font-size:18px;">
                    </span><span style="font-size:18px;">)</span>
                            </div>
                        </div>
                        <div class="right-info">
                            <div>
                                <span style="font-size:80px;">FC 투게더</span>
                                <img src="" alt="teamLogo">
                            </div>
                            <div class="versus-info">
                                <div class="versus" style="font-size:20px;">vs</div>
                                <div><span th:text="${match.matchStatus}" style="font-size:20px;"></span></div>
                            </div>
                            <span th:if="${#lists.size(match.team) > 0}">
                        <img th:src="${match.team[0].teamLogo}" alt="Team Logo" style="height: 50px; width: auto;"/>
                    </span>
                            <span th:text="${match.teamName}" style="font-size:80px;"></span>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button id="K7ScheduleLoadMore">더보기</button>
                </div>
            </div>

            <div id="results_K7" class="subtabcontent">
                <div id="K7ResultTable" class="table">
                    <div th:each="match : ${K7Resultlist}" class="divClass match-row">
                        <div class="left-info">
                <span th:if="${#lists.size(match.team) > 0}"
                      th:text="${match.team[0].teamLeagueGb}" style="font-size:25px;"></span>
                            <span th:text="${match.matchDate}" style="font-size:25px;"></span>
                            <span th:text="${match.matchTime}" style="font-size:35px;"></span>
                            <div class="location-home">
                                <span th:text="${match.matchLocation}" style="font-size:25px;"></span>
                                <span style="font-size:18px;">(</span><span th:text="${match.matchHome}"
                                                                            style="font-size:18px;">
                    </span><span style="font-size:18px;">)</span>
                            </div>
                        </div>
                        <div class="right-info">
                            <div>
                                <span style="font-size:80px;">FC 투게더</span>
                                <img src="" alt="teamLogo">
                            </div>
                            <div class="versus-info">
                                <div class="versus" style="font-size:20px;">vs</div>
                                <div><span th:text="${match.matchStatus}" style="font-size:20px;"></span></div>
                            </div>
                            <span th:if="${#lists.size(match.team) > 0}">
                        <img th:src="${match.team[0].teamLogo}" alt="Team Logo" style="height: 50px; width: auto;"/>
                    </span>
                            <span th:text="${match.teamName}" style="font-size:80px;"></span>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button id="K7ResultLoadMore">더보기</button>
                </div>
            </div>
        </div>

        <div id="W1" class="sub_tabMenu">
            <div class="sub_container">
                <ul class="sub-tab-bar">
                    <li data-num="1" class="sub-tab wave dark sub-tab" onclick="openSubTab(event, 'schedule_W1')">
                        <a href="#" class="subtablinks active"
                           id="defaultSubOpen_W1">경기 일정</a>
                    </li>
                    <li data-num="2" class="sub-tab wave dark sub-tab" onclick="openSubTab(event, 'results_W1')">
                        <a href="#" class="subtablinks">경기 결과</a>
                    </li>
                </ul>
            </div>

            <div id="schedule_W1" class="subtabcontent">
                <div id="W1ScheduleTable">
                    <div th:each="match : ${W1Schedulelist}" class="divClass match-row">
                        <div class="left-info">
                <span th:if="${#lists.size(match.team) > 0}"
                      th:text="${match.team[0].teamLeagueGb}" style="font-size:25px;"></span>
                            <span th:text="${match.matchDate}" style="font-size:25px;"></span>
                            <span th:text="${match.matchTime}" style="font-size:35px;"></span>
                            <div class="location-home">
                                <span th:text="${match.matchLocation}" style="font-size:25px;"></span>
                                <span style="font-size:18px;">(</span><span th:text="${match.matchHome}"
                                                                            style="font-size:18px;">
                    </span><span style="font-size:18px;">)</span>
                            </div>
                        </div>
                        <div class="right-info">
                            <div>
                                <span style="font-size:80px;">FC 투게더</span>
                                <img src="" alt="teamLogo">
                            </div>
                            <div class="versus-info">
                                <div class="versus" style="font-size:20px;">vs</div>
                                <div><span th:text="${match.matchStatus}" style="font-size:20px;"></span></div>
                            </div>
                            <span th:if="${#lists.size(match.team) > 0}">
                        <img th:src="${match.team[0].teamLogo}" alt="Team Logo" style="height: 50px; width: auto;"/>
                    </span>
                            <span th:text="${match.teamName}" style="font-size:80px;"></span>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button id="W1ScheduleLoadMore">더보기</button>
                </div>
            </div>

            <div id="results_W1" class="subtabcontent">
                <div id="W1ResultTable" class="table">
                    <div th:each="match : ${W1Resultlist}" class="divClass match-row">
                        <div class="left-info">
                <span th:if="${#lists.size(match.team) > 0}"
                      th:text="${match.team[0].teamLeagueGb}" style="font-size:25px;"></span>
                            <span th:text="${match.matchDate}" style="font-size:25px;"></span>
                            <span th:text="${match.matchTime}" style="font-size:35px;"></span>
                            <div class="location-home">
                                <span th:text="${match.matchLocation}" style="font-size:25px;"></span>
                                <span style="font-size:18px;">(</span><span th:text="${match.matchHome}"
                                                                            style="font-size:18px;">
                    </span><span style="font-size:18px;">)</span>
                            </div>
                        </div>
                        <div class="right-info">
                            <div>
                                <span style="font-size:80px;">FC 투게더</span>
                                <img src="" alt="teamLogo">
                            </div>
                            <div class="versus-info">
                                <div class="versus" style="font-size:20px;">vs</div>
                                <div><span th:text="${match.matchStatus}" style="font-size:20px;"></span></div>
                            </div>
                            <span th:if="${#lists.size(match.team) > 0}">
                        <img th:src="${match.team[0].teamLogo}" alt="Team Logo" style="height: 50px; width: auto;"/>
                    </span>
                            <span th:text="${match.teamName}" style="font-size:80px;"></span>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button id="W1ResultLoadMore">더보기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript for tab functionality -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("defaultOpen").click();
        document.getElementById("defaultSubOpen_K5").click();
    });

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("sub_tabMenu");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("main-tab");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" current", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " current";

        // 현재 선택된 탭에 해당하는 서브 탭의 첫 번째 항목을 자동으로 선택
        document.querySelector("#" + tabName + " .sub-tab-bar .sub-tab:first-child .subtablinks").click();
    }

    function openSubTab(evt, subTabName) {
        var i, subtabcontent, subtablinks;

        subtabcontent = document.getElementsByClassName("subtabcontent");
        for (i = 0; i < subtabcontent.length; i++) {
            subtabcontent[i].style.display = "none";
        }

        subtablinks = document.getElementsByClassName("subtablinks");
        for (i = 0; i < subtablinks.length; i++) {
            subtablinks[i].className = subtablinks[i].className.replace(" active", "");
        }

        var subtabitems = document.querySelectorAll(".sub-tab-bar .subtablinks");
        subtabitems.forEach(function(item) {
            item.classList.remove("active");
        });

        var subTabItems = document.querySelectorAll(".sub-tab-bar .sub-tab");
        subTabItems.forEach(function(item) {
            item.classList.remove("active");
        });

        document.getElementById(subTabName).style.display = "block";
        evt.currentTarget.className += " active";
        evt.currentTarget.parentElement.className += " active";
    }


    $(document).ready(function() {
    var currentPageK5Schedule = 1;
    var currentPageK5Results = 1;
    var currentPageK7Schedule = 1;
    var currentPageK7Results = 1;
    var currentPageW1Schedule = 1;
    var currentPageW1Results = 1;

    $('#K5ScheduleLoadMore').click(function() {
        $.get("/match/matchpage?page=" + (currentPageK5Schedule + 1), function(data) {
            var newMatches = $(data).find('#K5ScheduleTable .divClass');
            $('#K5ScheduleTable').append(newMatches);
            currentPageK5Schedule++;
        });
    });

    $('#K5ResultLoadMore').click(function() {
        $.get("/match/matchpage?page=" + (currentPageK5Results + 1), function(data) {
            var newMatches = $(data).find('#K5ResultTable .divClass');
            $('#K5ResultTable').append(newMatches);
            currentPageK5Results++;
        });
    });

    $('#K7ScheduleLoadMore').click(function() {
        $.get("/match/matchpage?page=" + (currentPageK7Schedule + 1), function(data) {
            var newMatches = $(data).find('#K7ScheduleTable .divClass');
            $('#K7ScheduleTable').append(newMatches);
            currentPageK7Schedule++;
        });
    });

    $('#K7ResultLoadMore').click(function() {
        $.get("/match/matchpage?page=" + (currentPageK7Results + 1), function(data) {
            var newMatches = $(data).find('#K7ResultTable .divClass');
            $('#K7ResultTable').append(newMatches);
            currentPageK7Results++;
        });
    });

    $('#W1ScheduleLoadMore').click(function() {
        $.get("/match/matchpage?page=" + (currentPageW1Schedule + 1), function(data) {
            var newMatches = $(data).find('#W1ScheduleTable .divClass');
            $('#W1ScheduleTable').append(newMatches);
            currentPageW1Schedule++;
        });
    });

    $('#W1ResultLoadMore').click(function() {
        $.get("/match/matchpage?page=" + (currentPageW1Results + 1), function(data) {
            var newMatches = $(data).find('#W1ResultTable .divClass');
            $('#W1ResultTable').append(newMatches);
            currentPageW1Results++;
        });
    });
});


</script>

</body>
</html>
