@font-face {
    font-family: 'D-DINExp';
    src: url('/fonts/D-DIN.otf') format('opentype');
}


.match-page-body {
    display: block;
     margin-top: 10px;
     margin-right: 0;
     margin-bottom: 0;
     margin-left: 0;
}


.match-page-body {
  height: 100%;
  /*overflow: hidden;*/
  font-family: 'D-DINExp', sans-serif; /* 폰트 적용 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab-bar {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sub-tab-bar {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tab {
  width: 150px;
  padding: 17px 0;
  background: white;
  color: #607D8B;
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.sub-tab {
  width: 150px;
  padding: 17px 0;
  background: white;
  color: #607D8B;
  overflow: hidden;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tab a, .sub-tab a {
 color: #607D8B;
}


.matchPage .top .topTitle {
    padding-top: 0;
    position: relative;
}

.subTop .top .topTitle {
    padding-top: 34px;
    text-align: center;
}

.matchPage .top .topTitle .title {
    padding-top: 170px;
    text-align: center;
    font-size: 44px;
    font-weight: 500;
    background: url(/img/FcTogether-removebg.png) 50% 0/auto 120px no-repeat;
    font-family: 'D-DINExp', sans-serif; /* 폰트 적용 */
}

.heading-skew-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2.2rem 0;
    perspective: 1000px; /* 3D 효과를 위한 원근 설정 */
}

.skewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2.2rem 0;
}

.skewItem {
    transform: skewX(346deg) rotateY(309deg) translateZ(-33px);
    position: absolute;
    left: 40.5%;
    top: 18%;
    width: 173px; /* 박스 크기를 키워서 로고를 강조 */
    height: 147px; /* 박스 크기를 키워서 로고를 강조 */
    /* background: rgba(0, 64, 152, 0.2); */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* 그림자 크기와 강도를 높여 강조 */
    z-index: -1;
    /* backdrop-filter: blur(5px); */
    /* transform-origin: center; */
    clip-path: 100%, 25% 100%);
}

.skewItem.second {
    transform: skewX(12deg) rotateY(296deg) translateZ(-60px);
    width: 178px; /* 더 큰 박스를 추가하여 강조 */
    height: 151px;
    background: rgb(149 154 161 / 10%); /* 색상을 약간 다르게 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* 더 부드러운 그림자 */
    z-index: -2; /* 첫 번째 skewItem 아래에 위치 */
    transform-origin: center;
    clip-path: polygon(0 0, 100% 0, 124% 100%, 20% 100%);
}

.lightBackground {
    background: rgb(179 196 220 / 15%);
}




* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

.matchPage {
  position: relative;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.sub_container {
  position: relative;
  max-width: 1000px; /* 기존의 1260px에서 줄임 */
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px; /* 기존의 80px에서 증가 */
  padding-right: 100px; /* 기존의 30px에서 크게 증가 */
}



.subTop .tabMenu .sub_tabMenu {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #777;
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
}

.subTop .tabMenu .sub_tabMenu .current,
.subTop .tabMenu .sub_tabMenu .router-link-exact-active {
  color: #046a38;
}

.subTop .tabMenu a .sub_tabMenu a{
  display: inline-block;
  position: relative;
  padding: 0 36px;
  vertical-align: middle;
}

.subTop .tabMenu a span .sub_tabMenu a span {
  display: inline-block;
  position: relative;
  padding: 25px 0;
  vertical-align: top;
}

.tabMenu .sub_tabMenu .main-tab span {
  color: #000000; /* 검정색 */
}

.tabMenu .sub_tabMenu .main-tab.current span {
  color: #f4ae15; /* 선택된 탭의 글자 색상 */
}

.tabMenu .sub_tabMenu .main-tab.current span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffc954; /* 선택된 탭의 아래 줄 색상 */
}

.tabContent .content {
  padding-top: 30px;
}

.sub_tabMenu {
    transition: visibility 0.01s ease, height 0.01s ease;
}

.sub_tabMenu.hidden {
    visibility: hidden;
    height: 0;
    margin-bottom: 0;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}




 .subTop .tabMenu .current,
 .subTop .tabMenu .router-link-exact-active {
   color: #046a38;
 }

 .subTop .tabMenu a {
   display: inline-block;
   position: relative;
   padding: 0 36px;
   vertical-align: middle;
 }

 .subTop .tabMenu a span {
   display: inline-block;
   position: relative;
   padding: 25px 0;
   vertical-align: top;
 }

 .tabMenu .main-tab span {
   color: #000000; /* 검정색 */
 }

 .tabMenu .main-tab.current span {
   color: #f4ae15; /* 선택된 탭의 글자 색상 */
 }

 .tabMenu .main-tab.current span:before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #ffc954; /* 선택된 탭의 아래 줄 색상 */
 }

 .tabContent .content {
   padding-top: 30px;
 }

 .btns {
   display: flex;
   justify-content: center;
   align-items: center;
 }





.sub-tab {
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 색상 전환만 적용 */
}

.sub-tab.active {
    background-color: #e0e0e0; /* 활성화된 탭의 배경색을 조금 더 어둡게 조정 */
    color: #333; /* 활성화된 탭의 텍스트 색상을 어둡게 하여 대비 향상 */
}



/* CSS for tabs */

        .sub_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 300px;
            margin-top: -30px;
            overflow: hidden;
            border: none;
            background-color: inherit;
        }

        .sub_container button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 12px;
            transition: 0.3s;
            display: inline-block;
            margin-bottom: -1px;
            width: calc(50% - 1px);
        }

        .sub_container button:hover {
            background-color: #8bc34a;
        }

        .sub_container button.active {
            background-color: #8bc34a;
        }

        .sub_tabMenu {
            display: none;
            border-top: none;
            width: 100%;
            margin-top: 30px;
        }

        /* Pagination styles */
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 60px;
        }

.pagination button {
    min-width: 130px;
    font-size: 18px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 46px;
    color: #000000;
    font-family: 'D-DIN', sans-serif;
    border-radius: 4px;
    border: 1px solid #034f36;
    background-color: #FFC954;
    padding: 0;
    line-height: 46px;
    cursor: pointer;
    transition: background-color .3s, color .3s, border-color .3s;
}

.pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}



        @media (min-width: 1024px) {
            .matchPage {
                width: 1200px;
                max-width: 1260px;
            }
        }

        @media (min-width: 1024px) {
            .matchPage--narrow {
                max-width: 1024px;
            }
        }

        .topTitle {
            margin-bottom: -50px;
        }

        .tabMenu {
            margin-top: -50px;
        }

        .matchPage .top .topTitle {
            padding-top: 0;
        }


        .subTop .top .topTitle {
            padding-top: 75px;
            text-align: center;
        }

        .subTop .tabMenu .sub_tabMenu {
            padding-top: 10px;
            text-align: center;
            font-size: 18px;
            color: #777;
            vertical-align: top;
            border-bottom: 1px solid #e5e5e5;
        }

        .subTop .tabMenu .sub_tabMenu .current,
        .subTop .tabMenu .sub_tabMenu .router-link-exact-active {
            color: #046a38;
        }

        .subTop .tabMenu a .sub_tabMenu a {
            display: inline-block;
            position: relative;
            padding: 0 36px;
            vertical-align: middle;
        }

        .subTop .tabMenu a span .sub_tabMenu a span {
            display: inline-block;
            position: relative;
            padding: 25px 0;
            vertical-align: top;
        }

        .subTop .tabMenu {
            padding-top: 10px;
            text-align: center;
            font-size: 18px;
            color: #777;
            vertical-align: top;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 10px;
        }

        .subTop .tabMenu a {
            display: inline-block;
            position: relative;
            padding: 0 36px;
            vertical-align: middle;
        }

        .title {
            display: block;
            text-align: center;
            font-family: 'D-DIN', sans-serif;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1;
        }

        .sub-tab-bar .sub-tab.active {
            background-color: #ddd;
        }

        .divClass {
            padding: 5px;
            /*margin-bottom: 150px;*/
            overflow: hidden;
        }



/* 경기 결과 및 일정 */


.match-header {
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    margin-bottom: 10px;
    background: rgba(223, 225, 229, 0.65);
}

.match-header-tag.is-home {
    background: #08600b;
}

.match-header-tag.is-away {
    background: #9e9e9e;
}

.match-header-tag {
    padding: 0 0.5rem;
    height: 100%;
    font-family: Teko, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    padding-top: 0.3rem;
    font-size: 1.25rem;
}

.match-header-tag::after {
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
}

.match-header-tag.is-home::after {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #08600b 50.5%) no-repeat top left/100% 100%;
}

.match-header-tag.is-away::after {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #9e9e9e 50.5%) no-repeat top left/100% 100%;
}

.match-header-tag.is-result::after {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #454545 50.5%) no-repeat top left/100% 100%;
}

.match-header-place {
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.match-location,
.match-home,
.home-parenthesis {
    margin: 0 5px; /* 요소들 사이에 적절한 간격 추가 */
}

.match-container {
    margin-bottom: 20px; /* 각 match-container 사이의 간격 조절 */
}

.match-row {
    display: flex;
    flex-wrap: wrap;
    /*margin-right: -15px;
    margin-left: -15px;*/
}

.left-info, .right-info {
    flex: 1;
    padding: 10px;
}

.left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.7rem;
    margin-right: 180px;
    flex-basis: 210px; /* 고정된 넓이 설정 */
}

.league-info {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.league-info span {
    margin-left: 5px;
    font-size: 23px;
}

.right-info > div, .versus-info {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.team-logo {
    width: 50px;
    height: 50px;
}

.team-name {
    font-size: 1.5rem;
    margin-right: 10px;
}

.right-info {
    display: flex;
    align-items: center;
    width: 50%;
    white-space: nowrap;
    /*padding-right: 60px;
    margin-right: 100px;*/
}

.right-info span {
    margin-right: 10px;
}

.versus-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.versus {
    margin-bottom: -10px;
}

.date-time {
    display: flex;
    align-items: center;
    font-size: inherit; /* 부모 요소의 폰트 크기를 상속받음 */
}

.match-date {
    margin-right: 10px;
    font-size: 6em; /* match-date의 폰트 크기 조정 */
    font-weight: bold;
    margin-bottom: 10px;
}

.match-day {
    margin-right: 10px; /* 요소들 사이에 적절한 간격 추가 */
    font-size: 3em;
}

.match-time {
    margin-right: 10px;
    font-size: 3em;
    font-weight: bold;
}

.team-league {
    /*margin-right: 10px;*/
    font-size: 30px;
    /*margin-bottom: 2px;*/
}




.matchInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team .name {
    margin-top: 5px;
    color: black;
    font-size: 20px;
}

.minfo {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(240 240 240 / 5%);
    padding: 10px;
    border-radius: 10px;
}

.vs {
    font-size: 2.5em;
    margin: 10px;
    color: #9e9e9ea3;
}

.slider-container2 .vs {
    font-size: 1.5em;
    margin: 10px;
    color: #9e9e9ea3;
    font-weight: bold;
}

.score {
    font-size: 4em;
    margin: 10px;
    color: #9e9e9ede;
}

.matchScore {
    font-size: 4em;
    margin: 10px;
    color: #4CAF50;
    font-weight: bold;
}

.game {
    font-size: 1.2em;
}

.stadium {
    text-align: center;
    font-size: 1.1em;
    margin-top: 10px;
}

.teamLogo {
    width: 170px;
    height: 80px;
    object-fit: contain;
    margin: 5px;
}

.matchResult, .nextSchedule {
    display: flex;
    align-items: center;
    justify-content: space-around;
}




