* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.top .topTitle {
  padding-top: 0;
}

.subTop .top .topTitle {
  padding-top: 34px;
  text-align: center;
}

 .top .topTitle .title {
    margin-left: -90px;
    margin-right: -40px;
    padding-top: 110px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    background: url(/img/FcTogether.jpg) 50% 0/auto 90px no-repeat;
}