<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link th:href="@{/css/main/main.css}" rel="stylesheet"/>
    <th:block th:include="layout/header"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<!-- 섹션1 -->
<div class="slick-container">
    <div class="slick fade">
        <div th:each="image : ${sliderImages}">
            <img th:src="@{${image.filePath}}" alt="" class="swiperImg">
        </div>
    </div>
    <div class="progress-container">
        <div class="progress-bar"></div>
    </div>
    <div class="btn-bullets" id="btn-bullets">
        <!-- 버튼은 JavaScript에서 동적으로 추가됩니다 -->
    </div>
</div>
<!-- 섹션2 -->
<div class="matchSchedule">
    <div class="matchImgDiv">
        <img src="/img/FcTogether.jpg" alt="" class="matchImg">
        <div class="pastMatch">
            <h2 class="matchResult">지난 경기 결과</h2>
            <div class="slider-container">
                <div class="slider-wrapper">
                    <div class="slide">matchResult1</div>
                    <div class="slide">matchResult2</div>
                    <div class="slide">matchResult3</div>
                </div>
            </div>
            <button onclick="prevSlide1()"> <</button>
            <button onclick="nextSlide1()"> ></button>
        </div>
        <div class="nextMatch">
            <h2 class="nextSchedule">다음 경기 일정</h2>
            <div class="slider-container2">
                <div class="slider-wrapper2">
                    <div class="slide2">nextMatch1</div>
                    <div class="slide2">nextMatch2</div>
                    <div class="slide2">nextMatch3</div>
                </div>
            </div>
            <button onclick="prevSlide2()"> <</button>
            <button onclick="nextSlide2()"> ></button>
        </div>
        <div class="leagueRanking">
            <h3 class="leagueRank">리그 순위</h3>
            <div class="rankingTable">
                <table>
                    <thead>
                    <tr>
                        <th>순위</th>
                        <th>팀</th>
                        <th>경기</th>
                        <th>승</th>
                        <th>무</th>
                        <th>패</th>
                        <th>승점</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 섹션3 -->
<div class="videoDiv">
    <div class="v-story-wrap con">
        <div class="v-story-slider" data-aos="fade-up">
            <div class="slider-item" th:each="video : ${clubVideos}">
                <div class="img-box block">
                    <iframe th:src="@{${video.mvTheOriginUrl}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 섹션4 -->
<div class="tab-container">
    <p class="feeds"><strong>투게더 소식</strong></p>
    <div class="gnbBox">
        <ul class="mainMenuBox" id="nav-1">
            <li class="slide1"></li>
            <li class="slide2"></li>
            <li class="mainMenu">
                <a onclick="showTab('all')">전체</a>
            </li>
            <li class="mainMenu">
                <a onclick="showTab('tab1')">notice</a>
            </li>
            <li class="mainMenu">
                <a onclick="showTab('tab2')">news</a>
            </li>
            <li class="mainMenu">
                <a onclick="showTab('tab3')">instagram</a>
            </li>
        </ul>
        <script src="/dist/js/header.js"></script>
    </div>
    <div class="tab-content" id="all-content">
        all
    </div>
    <div class="tab-content" id="tab1-content">
        notice
    </div>
    <div class="tab-content" id="tab2-content">
        news
    </div>
    <div class="tab-content" id="tab3-content">
        instagram
    </div>
</div>

<footer>
    <th:block th:include="layout/footer"></th:block>
</footer>

<script>
    // 섹션1
    $(document).ready(function(){
        var $slickElement = $('.fade');
        var autoplaySpeed = 3000; // 자동 재생 속도를 설정 (조금 늦춤)

        $slickElement.slick({
            infinite: true,
            speed: 300, // 애니메이션 속도를 빠르게 설정
            fade: true,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: autoplaySpeed, // 자동 재생 속도 설정
            dots: false // slick-dots를 비활성화
        });

        function startProgressBar() {
            $(".progress-bar").css({
                width: "100%",
                transition: "width " + autoplaySpeed + "ms linear"
            });
        }

        function resetProgressBar() {
            $(".progress-bar").css({
                width: 0,
                transition: "width 0s"
            });
        }

        function updateBullets(slideCount) {
            var bulletsContainer = $('#btn-bullets');
            bulletsContainer.empty(); // 기존 버튼들 삭제
            for (var i = 0; i < slideCount; i++) {
                var bullet = $('<button class="btn-bullet"></button>');
                bullet.attr('onclick', 'goToSlide(' + i + ')');
                bulletsContainer.append(bullet);
            }
        }

        $slickElement.on('init reInit afterChange', function(event, slick, currentSlide){
            startProgressBar();
            $('.btn-bullet').removeClass('active');
            $('.btn-bullet').eq(currentSlide).addClass('active');
        });

        $slickElement.on('beforeChange', function(event, slick, currentSlide, nextSlide){
            resetProgressBar();
        });

        $('.btn-bullet').on('click', function(){
            var index = $(this).index();
            $slickElement.slick('slickGoTo', index);
        });

        $('.swiperImg').on('click', function(){
            $slickElement.slick('slickNext');
        });

        // 초기화 후 동적으로 버튼 업데이트
        var slideCount = $('.fade').slick('getSlick').slideCount;
        updateBullets(slideCount);

        startProgressBar(); // 초기 프로그레스 바 상태 시작
    });

    function goToSlide(index) {
        $('.fade').slick('slickGoTo', index);
    }
    // 섹션2
    let currentIndex = 0;
    const slides = document.querySelectorAll('.slide');
    const totalSlides = slides.length;
    const sliderWrapper = document.querySelector('.slider-wrapper');

    function showSlide(index) {
        if (index < 0 || index >= totalSlides) {
            return;
        }
        const translateValue = -index * 100 + '%';
        sliderWrapper.style.transform = 'translateX(' + translateValue + ')';
        currentIndex = index;
    }

    function prevSlide1() {
        showSlide(currentIndex - 1);
    }

    function nextSlide1() {
        showSlide(currentIndex + 1);
    }

    let currentIndex2 = 0;
    const slides2 = document.querySelectorAll('.slide2');
    const totalSlides2 = slides2.length;
    const sliderWrapper2 = document.querySelector('.slider-wrapper2');

    function showSlide2(index) {
        if (index < 0 || index >= totalSlides2) {
            return;
        }
        const translateValue2 = -index * 100 + '%';
        sliderWrapper2.style.transform = 'translateX(' + translateValue2 + ')';
        currentIndex2 = index;
    }

    function prevSlide2() {
        showSlide2(currentIndex2 - 1);
    }

    function nextSlide2() {
        showSlide2(currentIndex2 + 1);
    }
    // 섹션3
    console.clear();
    // animation on scroll
    AOS.init({
        duration:800,
        easing: 'ease',
    });
    $('.v-story-slider').slick({
        dots:true,
        draggable:false,
        arrows:true,
        adaptiveHeight:true,
        centerMode:true,
        centerPadding:'300px',
        responsive: [
            {
              breakpoint: 1440,
              settings: {
                centerPadding:'20vw',
              }
            },
            {
              breakpoint: 770,
              settings: {
                centerPadding:'0',
                arrows:false,
              }
            },
        ],
    }).on('beforeChange', function(event, slick, currentSlide, nextSlide) {
        // IE 호환성을 고려한 제이쿼리
        if (currentSlide !== nextSlide) {
            $('.slick-center + .slick-cloned').each(function(index, node) {
                var $node = $(node);
                setTimeout(function() {
                    $node.addClass('slick-current');
                    $node.addClass('slick-center');
                });
            });
        }
    });
    // 섹션4
    $(document).ready(function () {
        showTab('all');
    });
    function showTab(tabName) {
        $('.tab-content').removeClass('active');
        $('#' + tabName + '-content').addClass('active');
    }
</script>
</body>
</html>
