<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link th:href="@{/css/main/main.css}" rel="stylesheet"/>
    <th:block th:include="layout/header"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<!-- 섹션1 -->
<div class="slick-container">
    <div class="slick fade">
        <div th:each="image : ${sliderImages}">
            <img th:src="@{${image.filePath}}" alt="" class="swiperImg">
        </div>
    </div>
    <button class="animated-button" onclick="toggleDropdown()">입단 신청하기</button>

    <!-- 드롭다운 리스트 -->
    <div class="dropdown" id="dropdown">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7KTSJ6aOTX_W9awQinNvKjXlsvv-9Tg7lCne-HaQBi0WGqg/viewform" target="_blank">남성팀</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeNe9NGwfBnXN3zAobKiczd-mP-C2LjUI9djwU32TC6c44lZw/viewform" target="_blank">여성팀</a>
    </div>
    <div class="progress-container">
        <div class="progress-bar"></div>
    </div>
    <div class="btn-bullets" id="btn-bullets">
        <!-- 버튼은 JavaScript에서 동적으로 추가됩니다 -->
    </div>
</div>
<!-- 섹션2 -->
<div class="matchSchedule">
    <div class="matchImgDiv">
        <img src="/img/matchSectionPhoto.webp" alt="" class="matchImg">

        <!-- 리그 구분 탭 추가 -->
        <div class="leagueTabs">
            <button class="leagueTabButton" id="k5Tab">K5 리그</button>
            <button class="leagueTabButton" id="k7Tab">K7 리그</button>
            <button class="leagueTabButton" id="w1Tab">여성팀 리그</button>
        </div>

        <div class="pastMatch">
            <h2 class="matchResult">지난 경기 결과
                <div class="button-container">
                    <button id="prevPastButton"><i class="fas fa-chevron-left"></i></button>
                    <button id="nextPastButton"><i class="fas fa-chevron-right"></i></button>
                </div>
            </h2>
            <div class="slider-container">
                <div class="slider-wrapper" id="pastMatches">
                    <!-- 과거 경기 결과가 여기에 표시됩니다 -->
                </div>
            </div>
        </div>
        <div class="nextMatch">
            <h2 class="nextSchedule">다가오는 경기
                <div class="button-container">
                    <button id="prevNextButton"><i class="fas fa-chevron-left"></i></button>
                    <button id="nextNextButton"><i class="fas fa-chevron-right"></i></button>
                </div>
            </h2>
            <div class="slider-container2">
                <div class="slider-wrapper2" id="nextMatches">
                    <!-- 다음 경기 일정이 여기에 표시됩니다 -->
                </div>
            </div>
        </div>
        <div class="leagueRanking">
            <h3 class="leagueRank">리그 순위</h3>
            <div class="rankingTable">
                <table>
                    <thead>
                    <tr>
                        <th>순위</th>
                        <th>팀</th>
                        <th>경기</th>
                        <th>승</th>
                        <th>무</th>
                        <th>패</th>
                        <th>승점</th>
                    </tr>
                    </thead>
                    <tbody id="leagueRankings">
                    <!-- 리그 순위가 여기에 표시됩니다 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- 섹션3 -->
<div class="videoDiv">
    <div class="v-story-wrap con">
        <div class="v-story-slider" data-aos="fade-up">
            <div class="slider-item" th:each="video, iterStat : ${clubVideos}">
                <div class="img-box block">
                    <iframe th:src="@{${video.mvTheOriginUrl}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 섹션4 -->
<div class="tab-container">
    <p class="contents"><strong>FC Together Contents</strong></p>
    <div class="gnbBox">
        <ul class="mainMenuBox" id="nav-1">
            <li class="slide1"></li>
            <li class="slide2"></li>
            <li class="mainMenu">
                <a id="tab1-link" data-more-target="instagram" onclick="showTab('tab1', 'instagram')">
                    INSTAGRAM <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="mainMenu">
                <a id="tab2-link" data-more-target="notice" onclick="showTab('tab2', 'notice')">
                    NOTICE <i class="far fa-bell"></i>
                </a>
            </li>
            <li class="mainMenu">
                <a id="tab3-link" data-more-target="news" onclick="showTab('tab3', 'news')">
                    NEWS <i class="far fa-newspaper"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="tab1-content">
        <!-- 인스타그램 게시글이 여기 표시 -->
    </div>
    <div class="tab-content" id="tab2-content">
        <!-- 공지사항 게시글이 여기 표시 -->
    </div>
    <div class="tab-content" id="tab3-content">
        <!-- 구단소식 게시글이 여기 표시 -->
    </div>
    <div class="more-button-container">
        <button id="more-button" class="more-button" onclick="redirectToMore('instagram')">
            더보기 <i class="fas fa-angle-right"></i>
        </button>
    </div>
</div>


<footer>
    <th:block th:include="layout/footer"></th:block>
</footer>

<script th:inline="javascript">
    var instagramUserId = /*[[${instagramUserId}]]*/ 'defaultUserId';
    var instagramAccessToken = /*[[${instagramAccessToken}]]*/ 'defaultAccessToken';
</script>

<script>
    // 섹션1
    $(document).ready(function(){
        var $slickElement = $('.fade');
        var autoplaySpeed = 3000; // 자동 재생 속도를 설정 (조금 늦춤)

        $slickElement.slick({
            infinite: true,
            speed: 300, // 애니메이션 속도를 빠르게 설정
            fade: true,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: autoplaySpeed, // 자동 재생 속도 설정
            dots: false // slick-dots를 비활성화
        });

        function startProgressBar() {
            $(".progress-bar").css({
                width: "100%",
                transition: "width " + autoplaySpeed + "ms linear"
            });
        }

        function resetProgressBar() {
            $(".progress-bar").css({
                width: 0,
                transition: "width 0s"
            });
        }

        function updateBullets(slideCount) {
            var bulletsContainer = $('#btn-bullets');
            bulletsContainer.empty(); // 기존 버튼들 삭제
            for (var i = 0; i < slideCount; i++) {
                var bullet = $('<button class="btn-bullet"></button>');
                bullet.attr('onclick', 'goToSlide(' + i + ')');
                bulletsContainer.append(bullet);
            }
        }

        $slickElement.on('init reInit afterChange', function(event, slick, currentSlide){
            startProgressBar();
            $('.btn-bullet').removeClass('active');
            $('.btn-bullet').eq(currentSlide).addClass('active');
        });

        $slickElement.on('beforeChange', function(event, slick, currentSlide, nextSlide){
            resetProgressBar();
        });

        $('.btn-bullet').on('click', function(){
            var index = $(this).index();
            $slickElement.slick('slickGoTo', index);
        });

        $('.swiperImg').on('click', function(){
            $slickElement.slick('slickNext');
        });

        // 초기화 후 동적으로 버튼 업데이트
        var slideCount = $('.fade').slick('getSlick').slideCount;
        updateBullets(slideCount);

        startProgressBar(); // 초기 프로그레스 바 상태 시작
    });

    function goToSlide(index) {
        $('.fade').slick('slickGoTo', index);
    }

    // 섹션2
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('k5Tab').addEventListener('click', () => fetchMatchData('K5'));
        document.getElementById('k7Tab').addEventListener('click', () => fetchMatchData('K7'));
        document.getElementById('w1Tab').addEventListener('click', () => fetchMatchData('W1'));
        fetchMatchData('K5'); // 기본적으로 K5 리그 데이터 로드
    });


    function fetchMatchData(league) {
        fetch(`/mainMatch/get${league}MatchList`)
            .then(response => response.json())
            .then(data => {
                console.log('Fetched data:', data);
                data.forEach(match => {
                    const date = new Date(match.matchDate);
                    const days = ['일', '월', '화', '수', '목', '금', '토'];
                    match.matchDay = days[date.getDay()]; // 요일 추가
                });
                animateChange(() => {
                    displayPastMatches(data);
                    displayNextMatches(data);
                    updateLeagueRankings(data);
                    updateActiveTab(league);
                });
            })
            .catch(error => console.error('Error fetching match data:', error));
    }

    function animateChange(callback) {
        const pastMatchesContainer = document.getElementById('pastMatches');
        const nextMatchesContainer = document.getElementById('nextMatches');
        const leagueRankingsContainer = document.getElementById('leagueRankings');

        pastMatchesContainer.classList.add('fade-exit');
        nextMatchesContainer.classList.add('fade-exit');
        leagueRankingsContainer.classList.add('fade-exit');

        setTimeout(() => {
            pastMatchesContainer.classList.remove('fade-exit');
            nextMatchesContainer.classList.remove('fade-exit');
            leagueRankingsContainer.classList.remove('fade-exit');

            callback();

            pastMatchesContainer.classList.add('fade-enter');
            nextMatchesContainer.classList.add('fade-enter');
            leagueRankingsContainer.classList.add('fade-enter');

            setTimeout(() => {
                pastMatchesContainer.classList.remove('fade-enter');
                nextMatchesContainer.classList.remove('fade-enter');
                leagueRankingsContainer.classList.remove('fade-enter');
            }, 500); // Animation duration
        }, 500); // Animation duration
    }

    function updateActiveTab(activeLeague) {
        const tabs = document.querySelectorAll('.leagueTabButton');
        tabs.forEach(tab => {
            if (tab.id === `${activeLeague}Tab`) {
                tab.classList.add('active');
            } else {
                tab.classList.remove('active');
            }
        });
    }

    function displayPastMatches(matches) {
        const pastMatchesContainer = document.getElementById('pastMatches');
        pastMatchesContainer.innerHTML = '';

        const pastMatches = matches.filter(match => match.matchScore);
        pastMatches.sort((a, b) => new Date(b.matchDate) - new Date(a.matchDate)); // 최근 날짜 순으로 정렬
        const limitedPastMatches = pastMatches.slice(0, 9); // 9개 데이터만 가져옴

        displayMatchesInChunks(limitedPastMatches, pastMatchesContainer, 'prevPastButton', 'nextPastButton');
    }

    function displayNextMatches(matches) {
        const nextMatchesContainer = document.getElementById('nextMatches');
        nextMatchesContainer.innerHTML = '';

        const nextMatches = matches.filter(match => !match.matchScore);
        nextMatches.sort((a, b) => new Date(a.matchDate) - new Date(b.matchDate)); // 최근 날짜 순으로 정렬
        const limitedNextMatches = nextMatches.slice(0, 9); // 9개 데이터만 가져옴

        displayMatchesInChunks(limitedNextMatches, nextMatchesContainer, 'prevNextButton', 'nextNextButton');
    }

    function updateLeagueRankings(matches) {
        const leagueRankingsContainer = document.getElementById('leagueRankings');
        leagueRankingsContainer.innerHTML = '';

        // 리그 순위 데이터를 가져오는 부분은 가정합니다.
        // 아래 예시는 match 데이터에서 순위를 가져오는 형태로 수정이 필요합니다.
        const rankings = matches.filter(match => match.leagueRanking).slice(0, 9);

        rankings.forEach(rank => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${rank.rank}</td>
                <td>${rank.team}</td>
                <td>${rank.games}</td>
                <td>${rank.wins}</td>
                <td>${rank.draws}</td>
                <td>${rank.losses}</td>
                <td>${rank.points}</td>
            `;
            leagueRankingsContainer.appendChild(row);
        });
    }

    function displayMatchesInChunks(matches, container, prevButtonId, nextButtonId) {
        const chunkSize = 3;
        let currentPage = 0;

        const nextButton = document.getElementById(nextButtonId);
        const prevButton = document.getElementById(prevButtonId);

        nextButton.addEventListener('click', () => {
            currentPage++;
            renderMatches();
        });

        prevButton.addEventListener('click', () => {
            currentPage--;
            renderMatches();
        });

        function renderMatches() {
            container.classList.remove('fade-enter', 'fade-exit');
            void container.offsetWidth;
            container.classList.add('fade-exit');

            setTimeout(() => {
                container.innerHTML = '';
                const start = currentPage * chunkSize;
                const end = start + chunkSize;
                const currentMatches = matches.slice(start, end);

                currentMatches.forEach(match => {
                    const matchElement = document.createElement('div');
                    matchElement.className = 'matchItem';
                    matchElement.innerHTML = `
                        <div class="date">${match.matchDate} (${match.matchDay}) ${match.matchTime}</div>
                        <div class="matchInfo">
                            <div class="team home">
                                <img src="/img/FcTogether-removebg.png" alt="투게더" class="teamLogo">
                                <div class="name">투게더</div>
                            </div>
                            <div class="minfo">
                                ${match.matchScore ? `<div class="matchScore">${match.matchScore}</div>` : ''}
                                <div class="vs">VS</div>
                                ${match.matchRelativeScore ? `<div class="score">${match.matchRelativeScore}</div>` : ''}
                            </div>
                            <div class="team away">
                                <img src="${match.teamLogo}" alt="${match.teamName}" class="teamLogo">
                                <div class="name">${match.teamName}</div>
                            </div>
                        </div>
                        <div class="stadium"><i class="fas fa-map-marker-alt"></i> <span>${match.matchLocation} | ${match.matchHome}</span></div>
                    `;
                    container.appendChild(matchElement);
                });

                prevButton.disabled = currentPage === 0;
                nextButton.disabled = end >= matches.length;

                if (prevButton.disabled) {
                    prevButton.classList.add('disabled');
                } else {
                    prevButton.classList.remove('disabled');
                }

                if (nextButton.disabled) {
                    nextButton.classList.add('disabled');
                } else {
                    nextButton.classList.remove('disabled');
                }

                container.classList.remove('fade-exit');
                container.classList.add('fade-enter');
            }, 500); // Animation duration
        }

        renderMatches();
    }




    // 섹션3
    console.clear();
    // animation on scroll
    AOS.init({
        duration:800,
        easing: 'ease',
    });
    $('.v-story-slider').slick({
        dots:true,
        draggable:false,
        arrows:true,
        adaptiveHeight:true,
        centerMode:true,
        centerPadding:'300px',
        responsive: [
            {
              breakpoint: 1440,
              settings: {
                centerPadding:'20vw',
              }
            },
            {
              breakpoint: 770,
              settings: {
                centerPadding:'0',
                arrows:false,
              }
            },
        ],
    }).on('beforeChange', function(event, slick, currentSlide, nextSlide) {
        // IE 호환성을 고려한 제이쿼리
        if (currentSlide !== nextSlide) {
            $('.slick-center + .slick-cloned').each(function(index, node) {
                var $node = $(node);
                setTimeout(function() {
                    $node.addClass('slick-current');
                    $node.addClass('slick-center');
                });
            });
        }
    });

    // 섹션4
    $(document).ready(function() {
        var firstTabPosition = $("#tab1-link").parent().position();
        var firstTabWidth = $("#tab1-link").parent().width();

        $("#nav-1 .slide1").css({ opacity: 1, left: firstTabPosition.left, width: firstTabWidth });

        $("#nav-1 a").on("click", function() {
            var position = $(this).parent().position();
            var width = $(this).parent().width();
            $("#nav-1 .slide1").css({ opacity: 1, left: position.left, width: width });
            var tabId = $(this).attr('id').replace('-link', '');
            showTab(tabId, $(this).attr('data-more-target'));
        });

        $("#nav-1 a").on("mouseover", function() {
            var position = $(this).parent().position();
            var width = $(this).parent().width();
            $("#nav-1 .slide2").css({
                opacity: 1, left: position.left, width: width
            }).addClass("squeeze");
        });

        $("#nav-1 a").on("mouseout", function() {
            $("#nav-1 .slide2").css({ opacity: 0 }).removeClass("squeeze");
        });

        showTab('tab1', 'instagram'); // 인스타그램 탭을 첫 번째로 설정
        $('#tab1-link').addClass('active'); // 탭 클릭 효과 추가

        // 인스타그램 게시물 불러오기
        fetchInstagramPosts();
    });

    document.querySelector("#tab1-link").addEventListener('click', fetchInstagramPosts);
    document.querySelector("#tab2-link").addEventListener('click', fetchNoticePosts);
    document.querySelector("#tab3-link").addEventListener('click', fetchNewsPosts);

    let longLivedAccessToken = instagramAccessToken; // 민감 정보 주입

    const instagramPostsEndpoint = "https://graph.instagram.com/me/media";

    async function fetchInstagramPosts() {
        try {
            const response = await fetch(`${instagramPostsEndpoint}?fields=id,caption,media_type,media_url,permalink,timestamp,thumbnail_url&access_token=${longLivedAccessToken}&limit=12`);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            displayInstagramPosts(data.data);
        } catch (error) {
            console.error("Error fetching Instagram posts:", error);
        }
    }

    function displayInstagramPosts(posts) {
        const instagramContent = document.getElementById('tab1-content');
        instagramContent.innerHTML = '';

        posts.forEach(post => {
            const postElement = document.createElement('div');
            postElement.className = 'instagram-post';

            const mediaUrl = post.media_type === 'VIDEO' ? post.thumbnail_url : post.media_url;

            postElement.innerHTML = `
                <a href="${post.permalink}" target="_blank" class="instagram-post-link">
                    <div class="instagram-post-image" style="background-image: url('${mediaUrl}');"></div>
                    <div class="instagram-post-caption">${post.caption}</div>
                    <div class="instagram-post-timestamp">${new Date(post.timestamp).toLocaleDateString()}</div>
                </a>
            `;

            instagramContent.appendChild(postElement);
        });
    }

    async function fetchNoticePosts() {
        try {
            const response = await fetch('/media/notice/list?start=0&limit=12');
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            displayNoticePosts(data);
        } catch (error) {
            console.error("Error fetching notice posts:", error);
        }
    }

    function displayNoticePosts(posts) {
        const noticeContent = document.getElementById('tab2-content');
        noticeContent.innerHTML = '';

        posts.forEach(post => {
            const postElement = document.createElement('div');
            postElement.className = 'notice-post'; // 클래스 이름 변경

            // Create a temporary element to manipulate the content
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = post.noticeContent;

            // Remove figure tags
            tempDiv.querySelectorAll('figure').forEach(figure => figure.remove());

            postElement.innerHTML = `
                <a href="/media/noticeview?no=${post.noticeNum}" target="_blank" class="notice-post-link">
                    <div class="notice-post-title">${post.noticeTitle}</div>
                    <div class="notice-post-content">${tempDiv.innerHTML}</div>
                    <div class="notice-post-timestamp">${new Date(post.noticeDate).toLocaleDateString()}</div>
                </a>
            `;

            noticeContent.appendChild(postElement);
        });
    }

    async function fetchNewsPosts() {
        try {
            const response = await fetch('/media/news/list?start=0&limit=12');
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            displayNewsPosts(data);
        } catch (error) {
            console.error("Error fetching news posts:", error);
        }
    }

    function displayNewsPosts(posts) {
        const newsContent = document.getElementById('tab3-content');
        newsContent.innerHTML = '';

        posts.forEach(post => {
            const postElement = document.createElement('div');
            postElement.className = 'news-post'; // 클래스 이름 변경

            // 콘텐츠를 조작하기 위한 임시 요소 만들기
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = post.newsContent;

            // 그림 태그 제거
            tempDiv.querySelectorAll('figure').forEach(figure => figure.remove());

            postElement.innerHTML = `
                <a href="/media/newsview?no=${post.newsIdx}" target="_blank" class="news-post-link">
                    <div class="news-post-title">${post.newsTitle}</div>
                    <div class="news-post-content">${tempDiv.innerHTML}</div>
                    <div class="news-post-timestamp">${new Date(post.newsRegdate).toLocaleDateString()}</div>
                </a>
            `;

            newsContent.appendChild(postElement);
        });
    }


    function redirectToMore(tabName) {
        switch(tabName) {
            case 'instagram':
                window.location.href = 'https://www.instagram.com/fc_together_seongdong_gu/';
                break;
            case 'notice':
                window.location.href = '/media/notice';
                break;
            case 'news':
                window.location.href = '/media/news';
                break;
            default:
                console.error('Invalid tab name:', tabName);
        }
    }

    function showTab(tabName, moreButtonTarget) {
        $('.tab-content').removeClass('active').hide(); // 모든 탭 콘텐츠를 숨김
        $('#' + tabName + '-content').addClass('active').show(); // 선택한 탭 콘텐츠만 보임
        $('.mainMenuBox .mainMenu a').removeClass('active'); // 모든 탭 링크에서 active 클래스 제거
        $('#' + tabName + '-link').addClass('active'); // 선택한 탭 링크에 active 클래스 추가
        $('#more-button').attr('onclick', `redirectToMore('${moreButtonTarget}')`); // 더보기 버튼의 onclick 이벤트를 업데이트
    }


function toggleDropdown() {
    var dropdown = document.getElementById('dropdown');
    if (dropdown.style.display === 'none' || dropdown.style.display === '') {
        dropdown.style.display = 'block';
    } else {
        dropdown.style.display = 'none';
    }
}

//입단 신청하기 버튼
function toggleDropdown() {
    var dropdown = document.getElementById('dropdown');
    if (dropdown.classList.contains('show')) {
        dropdown.classList.remove('show');
    } else {
        dropdown.classList.add('show');
    }
}

$(document).ready(function(){
    var $slickElement = $('.fade');
    var autoplaySpeed = 3000; // 자동 재생 속도를 설정 (조금 늦춤)

    $slickElement.slick({
        infinite: true,
        speed: 300, // 애니메이션 속도를 빠르게 설정
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: autoplaySpeed, // 자동 재생 속도 설정
        dots: false // slick-dots를 비활성화
    });

    function startProgressBar() {
        $(".progress-bar").css({
            width: "100%",
            transition: "width " + autoplaySpeed + "ms linear"
        });
    }

    function resetProgressBar() {
        $(".progress-bar").css({
            width: 0,
            transition: "width 0s"
        });
    }

    function updateBullets(slideCount) {
        var bulletsContainer = $('#btn-bullets');
        bulletsContainer.empty(); // 기존 버튼들 삭제
        for (var i = 0; i < slideCount; i++) {
            var bullet = $('<button class="btn-bullet"></button>');
            bullet.attr('onclick', 'goToSlide(' + i + ')');
            bulletsContainer.append(bullet);
        }
    }

    $slickElement.on('init reInit afterChange', function(event, slick, currentSlide){
        startProgressBar();
        $('.btn-bullet').removeClass('active');
        $('.btn-bullet').eq(currentSlide).addClass('active');
    });

    $slickElement.on('beforeChange', function(event, slick, currentSlide, nextSlide){
        resetProgressBar();
    });

    $('.btn-bullet').on('click', function(){
        var index = $(this).index();
        $slickElement.slick('slickGoTo', index);
    });

    $('.swiperImg').on('click', function(){
        $slickElement.slick('slickNext');
    });

    // 초기화 후 동적으로 버튼 업데이트
    var slideCount = $('.fade').slick('getSlick').slideCount;
    updateBullets(slideCount);

    startProgressBar(); // 초기 프로그레스 바 상태 시작
});

function goToSlide(index) {
    $('.fade').slick('slickGoTo', index);
}



</script>

</body>
</html>
