  .swiperImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(25%)
        }
.swiper-slide{
width: 100%;
            height: 100%;
}
.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.matchSchedule {
    position: relative;
}

.matchImgDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

.matchImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
}

.pastMatch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.85); /* Adjust background color and transparency as needed */
    color: white;
    text-align: center;
    padding: 10px; /* Add padding for better appearance */
    box-sizing: border-box;
    filter: brightness(15%);
}

