<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>management_customer_support</title>
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/management/management_customer_support.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>
<body>
<div class="container">
    <div class="teamPage" id="content">
        <div class="subTop">
            <div class="top">
                <div class="container">
                    <div class="topTitle">
                        <p class="title">
                            <span class="mobileBreak"><strong></strong>경영/고객 지원</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 메인 탭 메뉴 -->
            <div class="tabMenu">
                <div class="container">
                    <ul class="tab-bar">
                        <li data-num="1" class="tab wave dark main-tab"><a href="#">규정</a></li>
                        <li data-num="2" class="tab wave dark main-tab"><a href="#">경영공시</a></li>
                        <li data-num="3" class="tab wave dark main-tab"><a href="#">FAQ</a></li>
                        <li data-num="4" class="tab wave dark main-tab"><a href="#">훈련일정</a></li>
                        <div class="indicator"></div>
                    </ul>
                </div>
            </div>

            <section class="rule">
                <!-- board seach area -->
                <div id="board-search">
                    <div class="container">
                        <div class="search-window">
                            <form action="">
                                <div class="search-wrap">
                                    <label for="search" class="blind">공지사항 내용 검색</label>
                                    <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                    <button type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- board list area -->
                <div id="board-list">
                    <div class="container">
                        <table class="board-table">
                            <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">제목</th>
                                <th scope="col" class="th-date">등록일</th>
                                <th scope="col" class="th-name">작성자</th>
                                <th scope="col" class="th-hit">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rule : ${ruleList}">
                                <td th:text="${rule.ruleNum}">번호</td>
                                <th>
                                    <a th:href="@{/management/management_customer_support_view(no=${rule.ruleNum})}" th:text="${rule.ruleTitle}">제목</a>
                                    <span th:if="${filePresenceMap[rule.ruleNum]}" class="file-icon">📎</span> <!-- 파일이 있는 경우 아이콘 표시 -->
                                </th>
                                <td th:text="${rule.ruleDate}">등록일</td>
                                <td th:text="${rule.username}">작성자</td>
                                <td th:text="${rule.ruleHits}">조회수</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="operation" style="display: none;">
                <!-- board seach area -->
                <div id="operation_board-search">
                    <div class="container">
                        <div class="search-window">
                            <form action="">
                                <div class="search-wrap">
                                    <label for="search" class="blind">공지사항 내용 검색</label>
                                    <input id="operation_search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                    <button type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- operation_board list area -->
                <div id="operation_board-list">
                    <div class="container">
                        <table class="board-table">
                            <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">제목</th>
                                <th scope="col" class="th-date">등록일</th>
                                <th scope="col" class="th-name">작성자</th>
                                <th scope="col" class="th-hit">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="operation : ${operationList}">
                                <td th:text="${operation.operationNum}">번호</td>
                                <th>
                                    <a th:href="@{/management/management_customer_support_view(no=${operation.operationNum})}" th:text="${operation.operationTitle}">제목</a>
                                    <span th:if="${filePresenceMap[operation.operationNum]}" class="file-icon">📎</span> <!-- 파일이 있는 경우 아이콘 표시 -->
                                </th>
                                <td th:text="${operation.operationDate}">등록일</td>
                                <td th:text="${operation.username}">작성자</td>
                                <td th:text="${operation.operationHits}">조회수</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="faq" style="display: none;">
                <div class="faq-list ">
                    <div class="faq-item" data-no="1"> <!-- 활성화 .on -->
                        <a role="button" class="faq-item-tit">
                            <span class="faq-category faq-cate2">회원가입</span>
                            <em class="faq-q">
                                회원가입은 어떻게 하나요?

                            </em>
                        </a>

                        <div class="faq-item-cont">
                            <div class="faq-cont-area">
                                <div class="faq-a editor-area">

                                    웹사이트 우측 상단 로그인 옆 회원가입 버튼을 통해 회원가입을 할 수 있습니다.<br>
                                    1) 이메일로 회원가입: 이메일주소를 아이디로 하며 이메일 소유 인증 후 가입됩니다.<br>
                                    2) 소셜로 회원가입: 사용하는 SNS계정 정보를 이용하여 간편하게 회원가입이 진행됩니다.
                                </div>
                            </div>
                            <ul class="down-list">
                            </ul>
                        </div>
                    </div>
                    <div class="faq-item" data-no="2"> <!-- 활성화 .on -->
                        <a role="button" class="faq-item-tit">
                            <span class="faq-category faq-cate2">회원가입</span>
                            <em class="faq-q">
                                아이디가 유효하지 않는다고 뜹니다.

                            </em>
                        </a>

                        <div class="faq-item-cont">
                            <div class="faq-cont-area">
                                <div class="faq-a editor-area">

                                    [이메일로 회원가입]시 @를 포함한 이메일 형식으로 입력해야 합니다. 올바르게 입력했을 경우 "사용 가능한 아이디 입니다"라는 안내 문구가
                                    나타납니다. <br>
                                    예) hkinfo@hankyung.com
                                </div>
                            </div>
                            <ul class="down-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="training-schedule" style="display: none;">
                <div id="training_board-search">
                    <div class="container">
                        <div class="search-window">
                            <form action="">
                                <div class="search-wrap">
                                    <label for="training_search" class="blind">훈련일정 내용 검색</label>
                                    <input id="training_search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                    <button type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="training_board-list">
                    <div class="container">
                        <table class="board-table">
                            <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">훈련명</th>
                                <th scope="col" class="th-date">훈련 일정</th>
                                <th scope="col" class="th-name">담당자</th>
                                <th scope="col" class="th-hit">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 훈련일정 목록 항목 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <div id="pagination" class="mt-4">
                <div class="container">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <!-- 이전 페이지 링크 -->
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="${currentPage > 1} ? @{/management/management_content(page=${currentPage - 1}, limit=${limit}, section=${currentSection})} : '#'" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <!-- 페이지 번호 -->
                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active' : ''">
                                <a class="page-link" th:text="${i}" th:href="@{/management/management_content(page=${i}, limit=${limit}, section=${currentSection})}"></a>
                            </li>

                            <!-- 다음 페이지 링크 -->
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
                                <a class="page-link" th:href="${currentPage < totalPages} ? @{/management/management_content(page=${currentPage + 1}, limit=${limit}, section=${currentSection})} : '#'" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>




        </div>
    </div>

</div>
<script>
    var waveBtnInit = function () {
        var mainTabs = document.querySelectorAll('.main-tab.wave');
        var mainIndicator = document.querySelector('.tab-bar .indicator');
        var sections = document.querySelectorAll('section'); // 모든 섹션 선택
        var mobileBreakElement = document.querySelector('.mobileBreak strong'); // mobileBreak 요소 선택

        // 섹션 표시 함수
        function showSection(index) {
            sections.forEach((section, i) => {
                section.style.display = i === index ? 'block' : 'none';
            });
            updateIndicator(mainIndicator, index, mainTabs); // 인디케이터 업데이트
            updateMobileBreakText(index); // mobileBreak 텍스트 업데이트
        }

        // 인디케이터 위치 업데이트 함수
        function updateIndicator(indicator, index, tabs) {
            var tabWidth = tabs[index].offsetWidth; // 선택된 탭의 너비
            var marginLeft = tabs[index].offsetLeft; // 선택된 탭의 왼쪽 마진

            indicator.style.width = tabWidth + 'px';
            indicator.style.marginLeft = marginLeft + 'px';
        }

        // mobileBreak 텍스트 업데이트 함수
        function updateMobileBreakText(index) {
            var selectedTabText = mainTabs[index].querySelector('a').textContent.trim(); // 선택된 탭의 텍스트
            // mobileBreakElement의 대상을 .mobileBreak의 직접적인 텍스트로 업데이트
            document.querySelector('.mobileBreak').textContent = selectedTabText;
        }

        // 해시 기반으로 탭 상태 복원
        function restoreTabFromHash() {
            var hash = window.location.hash.replace('#', '');
            var tabIndex = Array.from(mainTabs).findIndex(tab => tab.dataset.num === hash);
            tabIndex = tabIndex >= 0 ? tabIndex : 0;
            showSection(tabIndex);
        }

        // 탭 클릭 이벤트 핸들러 및 웨이브 효과
        function addWaveEffect(tabs, indicator) {
            tabs.forEach(function(tab, index) {
                tab.addEventListener('click', function(e) {
                    e.preventDefault();
                    var newRound = document.createElement('div');
                    var x = e.clientX - tab.getBoundingClientRect().left;
                    var y = e.clientY - tab.getBoundingClientRect().top;

                    newRound.className = 'cercle anim';
                    newRound.style.left = x + "px";
                    newRound.style.top = y + "px";
                    tab.appendChild(newRound);

                    // URL 해시 업데이트
                    window.location.hash = tab.dataset.num;
                    showSection(index);

                    setTimeout(() => newRound.remove(), 1200);
                });
            });
        }

        // 초기화 함수
        function init() {
            if (mainTabs.length > 0) {
                addWaveEffect(mainTabs, mainIndicator);
                restoreTabFromHash(); // 페이지 로드 시 탭 상태 복원
            }
        }

        init();
    };

    waveBtnInit();

    $(function (){
        // FAQ 항목 토글
        $('.faq-item-tit').click(function() {
            $(this).parents('.faq-item').toggleClass('on');
        });
    });
</script>


<footer>
    <th:block th:include="layout/footer"></th:block>
</footer>
</body>
</html>