<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>management_customer_support</title>
    <th:block th:include="layout/header"></th:block>
    <link href="/css/layout/management/management_customer_support.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>
<body>
<div class="container">
    <div class="teamPage" id="content">
        <div class="subTop">
            <div class="top">
                <div class="container">
                    <div class="topTitle">
                        <p class="title">
                            <span class="mobileBreak"><strong></strong>경영/고객 지원</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 메인 탭 메뉴 -->
            <div class="tabMenu">
                <div class="container">
                    <ul class="tab-bar">
                        <li data-num="1" class="tab wave dark main-tab"><a href="#">규정</a></li>
                        <li data-num="2" class="tab wave dark main-tab"><a href="#">경영공시</a></li>
                        <li data-num="3" class="tab wave dark main-tab"><a href="#">FAQ</a></li>
                        <li data-num="4" class="tab wave dark main-tab"><a href="#">훈련일정</a></li>
                        <div class="indicator"></div>
                    </ul>
                </div>
            </div>

            <section class="rule">
                <!-- board seach area -->
                <div id="board-search">
                    <div class="container">
                        <div class="search-window">
                            <form action="">
                                <div class="search-wrap">
                                    <label for="search" class="blind">공지사항 내용 검색</label>
                                    <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                    <button type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- board list area -->
                <div id="rule_board-list">
                    <div class="container">
                        <table class="board-table">
                            <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">제목</th>
                                <th scope="col" class="th-date">등록일</th>
                                <th scope="col" class="th-name">작성자</th>
                                <th scope="col" class="th-hit">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                          <!--  <tr th:each="rule : ${ruleList}">
                                <td th:text="${rule.ruleNum}">번호</td>
                                <th>
                                    <a th:href="@{/management/management_customer_support_view(no=${rule.ruleNum})}" th:text="${rule.ruleTitle}">제목</a>
                                    <span th:if="${filePresenceMap[rule.ruleNum]}" class="file-icon">📎</span> &lt;!&ndash; 파일이 있는 경우 아이콘 표시 &ndash;&gt;
                                </th>
                                <td th:text="${rule.ruleDate}">등록일</td>
                                <td th:text="${rule.username}">작성자</td>
                                <td th:text="${rule.ruleHits}">조회수</td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="operation" style="display: none;">
                <!-- board seach area -->
                <div id="operation_board-search">
                    <div class="container">
                        <div class="search-window">
                            <form action="">
                                <div class="search-wrap">
                                    <label for="search" class="blind">공지사항 내용 검색</label>
                                    <input id="operation_search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                    <button type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- operation_board list area -->
                <div id="operation_board-list">
                    <div class="container">
                        <table class="board-table">
                            <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">제목</th>
                                <th scope="col" class="th-date">등록일</th>
                                <th scope="col" class="th-name">작성자</th>
                                <th scope="col" class="th-hit">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                           <!-- <tr th:each="operation : ${operationList}">
                                <td th:text="${operation.operationNum}">번호</td>
                                <th>
                                    <a th:href="@{/management/management_customer_support_view(no=${operation.operationNum})}" th:text="${operation.operationTitle}">제목</a>
                                    <span th:if="${filePresenceMap[operation.operationNum]}" class="file-icon">📎</span> &lt;!&ndash; 파일이 있는 경우 아이콘 표시 &ndash;&gt;
                                </th>
                                <td th:text="${operation.operationDate}">등록일</td>
                                <td th:text="${operation.username}">작성자</td>
                                <td th:text="${operation.operationHits}">조회수</td>
                            </tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="faq" style="display: none;">
                <div class="faq-list ">
                    <div class="faq-item" data-no="1"> <!-- 활성화 .on -->
                        <a role="button" class="faq-item-tit">
                            <span class="faq-category faq-cate2">회원가입</span>
                            <em class="faq-q">
                                회원가입은 어떻게 하나요?

                            </em>
                        </a>

                        <div class="faq-item-cont">
                            <div class="faq-cont-area">
                                <div class="faq-a editor-area">

                                    웹사이트 우측 상단 로그인 옆 회원가입 버튼을 통해 회원가입을 할 수 있습니다.<br>
                                    1) 이메일로 회원가입: 이메일주소를 아이디로 하며 이메일 소유 인증 후 가입됩니다.<br>
                                    2) 소셜로 회원가입: 사용하는 SNS계정 정보를 이용하여 간편하게 회원가입이 진행됩니다.
                                </div>
                            </div>
                            <ul class="down-list">
                            </ul>
                        </div>
                    </div>
                    <div class="faq-item" data-no="2"> <!-- 활성화 .on -->
                        <a role="button" class="faq-item-tit">
                            <span class="faq-category faq-cate2">회원가입</span>
                            <em class="faq-q">
                                아이디가 유효하지 않는다고 뜹니다.

                            </em>
                        </a>

                        <div class="faq-item-cont">
                            <div class="faq-cont-area">
                                <div class="faq-a editor-area">

                                    [이메일로 회원가입]시 @를 포함한 이메일 형식으로 입력해야 합니다. 올바르게 입력했을 경우 "사용 가능한 아이디 입니다"라는 안내 문구가
                                    나타납니다. <br>
                                    예) hkinfo@hankyung.com
                                </div>
                            </div>
                            <ul class="down-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="training-schedule" style="display: none;">
                <div id="training_board-search">
                    <div class="container">
                        <div class="search-window">
                            <form action="">
                                <div class="search-wrap">
                                    <label for="training_search" class="blind">훈련일정 내용 검색</label>
                                    <input id="training_search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                                    <button type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="training_board-list">
                    <div class="container">
                        <table class="board-table">
                            <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">훈련명</th>
                                <th scope="col" class="th-date">훈련 일정</th>
                                <th scope="col" class="th-name">담당자</th>
                                <th scope="col" class="th-hit">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 훈련일정 목록 항목 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <div id="pagination" class="mt-4">
                <div class="container">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <!-- 페이지네이션 컨텐츠는 JavaScript에 의해 동적으로 생성될 것입니다 -->
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        var sectionDataCache = {};

        function loadSectionData(sectionName, page = 0) {
            if (sectionDataCache[sectionName] && sectionDataCache[sectionName].page === page) {
                updateSectionHTML(sectionName, sectionDataCache[sectionName].data);
                updatePagination(sectionName, sectionDataCache[sectionName].pageInfo);
                return;
            }

            $.ajax({
                url: `/management/get${sectionName.charAt(0).toUpperCase() + sectionName.slice(1)}Data?page=${page}`,
                type: 'GET',
                success: function(response) {
                    console.log(response); // 응답 구조 확인

                    // 섹션 이름에 따른 데이터 처리
                    let data;
                    if (sectionName === 'rule' || sectionName === 'operation') {
                        data = response[sectionName + 's']; // 'rules' 또는 'operations'
                        data.forEach(item => item.file = response.filePresenceMap[item[`${sectionName}Num`]]);
                    } else {
                        data = response.data; // 'faq' 또는 'training-schedule'에 대한 기본 처리
                    }

                    sectionDataCache[sectionName] = {data: data, pageInfo: response.pageInfo};
                    updateSectionHTML(sectionName, data);
                    updatePagination(sectionName, response.pageInfo);
                },
                error: function(xhr, status, error) {
                    console.error(`Failed to load ${sectionName} data:`, error);
                }
            });
        }

        function updateSectionHTML(sectionName, data) {
            var htmlContent = '';
            if (sectionName === 'rule') {
                data.forEach(function(item) {
                    var num = item.ruleNum; // ruleNum
                    var title = item.ruleTitle; // ruleTitle
                    var date = item.ruleDate; // ruleDate
                    var hits = item.ruleHits; // ruleHits

                    htmlContent += `<tr>
                                        <td>${num}</td>
                                        <th><a href="/management/management_customer_support_view?no=${num}">${title}</a>${item.file ? ' <span class="file-icon">📎</span>' : ''}</th>
                                        <td>${date}</td>
                                        <td>${item.username}</td>
                                        <td>${hits}</td>
                                    </tr>`;
                });
            } else if (sectionName === 'operation') {
                data.forEach(function(item) {
                    var num = item.operationNum; // operationNum
                    var title = item.operationTitle; // operationTitle
                    var date = item.operationDate; // operationDate
                    var hits = item.operationHits; // operationHits

                    htmlContent += `<tr>
                                        <td>${num}</td>
                                        <th><a href="/management/management_customer_support_operation_view?no=${num}">${title}</a>${item.file ? ' <span class="file-icon">📎</span>' : ''}</th>
                                        <td>${date}</td>
                                        <td>${item.username}</td>
                                        <td>${hits}</td>
                                    </tr>`;
                });
            } else if (sectionName === 'faq') {
                data.forEach(function(item) {
                    var id = item.id; // FAQ ID
                    var question = item.question; // FAQ 질문
                    var answer = item.answer; // FAQ 답변

                    htmlContent += `<tr>
                                        <td>${id}</td>
                                        <td>${question}</td>
                                        <td>${answer}</td>
                                    </tr>`;
                });
            } else if (sectionName === 'training-schedule') {
                data.forEach(function(item) {
                    var scheduleNum = item.scheduleNum; // 스케줄 번호
                    var name = item.name; // 훈련명
                    var startDate = item.startDate; // 시작 날짜
                    var endDate = item.endDate; // 종료 날짜
                    var instructor = item.instructor; // 강사명
                    var registered = item.registered; // 등록 인원
                    var capacity = item.capacity; // 수용 인원

                    htmlContent += `<tr>
                                        <td>${scheduleNum}</td>
                                        <td>${name}</td>
                                        <td>${startDate} - ${endDate}</td>
                                        <td>${instructor}</td>
                                        <td>${registered}/${capacity}</td>
                                    </tr>`;
                });
            }

            // 섹션별로 HTML 컨텐츠를 업데이트합니다.
            $(`#${sectionName}_board-list table tbody`).html(htmlContent);
        }


        function updatePagination(sectionName, pageInfo) {
            var paginationHtml = '<ul class="pagination justify-content-center">';
            if (pageInfo.currentPage > 0) {
                paginationHtml += `<li class="page-item"><a class="page-link" href="#" onclick="loadSectionData('${sectionName}', ${pageInfo.currentPage - 1})">&laquo; Previous</a></li>`;
            }
            for (let i = 0; i < pageInfo.totalPages; i++) {
                paginationHtml += `<li class="page-item ${i === pageInfo.currentPage ? 'active' : ''}"><a class="page-link" href="#" onclick="loadSectionData('${sectionName}', ${i})">${i + 1}</a></li>`;
            }
            if (pageInfo.currentPage < pageInfo.totalPages - 1) {
                paginationHtml += `<li class="page-item"><a class="page-link" href="#" onclick="loadSectionData('${sectionName}', ${pageInfo.currentPage + 1})">Next &raquo;</a></li>`;
            }
            paginationHtml += '</ul>';
            $(`#${sectionName}_pagination`).html(paginationHtml);
        }


        var waveBtnInit = function() {
            var mainTabs = document.querySelectorAll('.main-tab.wave');
            var mainIndicator = document.querySelector('.tab-bar .indicator');
            var sections = document.querySelectorAll('section');

            // 인디케이터 위치 업데이트 함수
            function updateIndicator(indicator, tabIndex) {
                var tab = mainTabs[tabIndex];
                var tabWidth = tab.offsetWidth;
                var tabOffset = tab.offsetLeft;
                indicator.style.width = `${tabWidth}px`;
                indicator.style.transform = `translateX(${tabOffset}px)`;
            }

            // 섹션 표시 및 인디케이터 업데이트 함수
            function showSection(index) {
                sections.forEach((section, i) => {
                    section.style.display = i === index ? 'block' : 'none';
                });
                updateIndicator(mainIndicator, index); // 인디케이터 위치 업데이트
                var sectionNames = ['rule', 'operation', 'faq', 'training-schedule'];
                var sectionName = sectionNames[index];
                loadSectionData(sectionName); // AJAX로 섹션 데이터 로드
                updateMobileBreakText(index); // mobileBreak 텍스트 업데이트
            }

            // 탭 클릭 이벤트 핸들러 및 웨이브 효과
            function addWaveEffect(tabs) {
                tabs.forEach((tab, index) => {
                    tab.addEventListener('click', function(e) {
                        e.preventDefault();
                        var newRound = document.createElement('div');
                        var x = e.clientX - tab.getBoundingClientRect().left;
                        var y = e.clientY - tab.getBoundingClientRect().top;

                        newRound.className = 'cercle anim';
                        newRound.style.left = x + "px";
                        newRound.style.top = y + "px";
                        tab.appendChild(newRound);

                        window.location.hash = 'tab' + (index + 1); // 해시 업데이트
                        showSection(index); // 섹션 표시

                        setTimeout(() => newRound.remove(), 1200);
                    });
                });
            }

            // mobileBreak 텍스트 업데이트 함수
            function updateMobileBreakText(index) {
                var selectedTabText = mainTabs[index].querySelector('a').textContent.trim(); // 선택된 탭의 텍스트
                document.querySelector('.mobileBreak').textContent = selectedTabText;
            }

            function init() {
            // URL 해시를 기반으로 해당 섹션을 표시하는 로직
            var hash = window.location.hash;
            var tabIndex = 0; // Default to first tab
            if (hash) {
                var tabsArray = Array.from(mainTabs); // NodeList를 배열로 변환
                var match = tabsArray.findIndex((tab) => '#tab' + (tabsArray.indexOf(tab) + 1) === hash);
                tabIndex = match >= 0 ? match : 0;
            }
            addWaveEffect(mainTabs); // 웨이브 이펙트 및 탭 클릭 이벤트 추가
            showSection(tabIndex); // 기반 URL 해시에 따른 탭 활성화
        }


            init();
        };

        waveBtnInit(); // 웨이브 버튼 초기화 함수 실행

        // FAQ 항목 토글
        $('.faq-item-tit').click(function() {
            $(this).parents('.faq-item').toggleClass('on');
        });
    });
</script>

<footer>
    <th:block th:include="layout/footer"></th:block>
</footer>
</body>
</html>