<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.together.mapper.AdminMapper">


    <select id="getAllUsers" resultType="com.project.together.domain.User">
        SELECT * FROM user
    </select>

    <!-- ==============  QnA Start ============== -->

    <select id="getAllQnAs" resultType="com.project.together.domain.Qna">
        SELECT * FROM qna ORDER BY qna_num DESC
    </select>

    <select id="findById" parameterType="int" resultType="com.project.together.domain.Qna">
        SELECT * FROM qna WHERE qna_num = #{qnaNum}
    </select>

    <update id="updateQnA">
        UPDATE qna
        SET auth_id = #{authId}, qna_reply = #{qnaReply}, qna_status = '답변완료'
        WHERE qna_num = #{qnaNum}
    </update>


    <delete id="deleteQna" parameterType="list">
        DELETE FROM qna WHERE qna_num IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- ==============  QnA End ============== -->


    <!-- ==============  Notice Start ============== -->


    <select id="getAllNotice" resultType="com.project.together.domain.Notice">
        SELECT * FROM notice ORDER BY notice_num DESC
    </select>


    <select id="findNoticesById" parameterType="int" resultType="com.project.together.domain.Notice">
        SELECT * FROM notice WHERE notice_num = #{noticeNum}
    </select>

    <insert id="insertNotice" parameterType="com.project.together.domain.Notice">
        INSERT INTO notice (notice_num, username, notice_title, notice_date, notice_hits, notice_content, table_gb)
        VALUES (#{noticeNum}, #{username}, #{noticeTitle}, #{noticeDate}, #{noticeHits}, #{noticeContent}, #{tableGb})
    </insert>

    <update id="updateNotice" parameterType="com.project.together.domain.Notice">
        UPDATE notice
        SET notice_title = #{noticeTitle}, notice_content = #{noticeContent}, notice_date = #{noticeDate}
        WHERE notice_num = #{noticeNum}
    </update>

    <delete id="deleteNotice" parameterType="list">
        DELETE FROM notice WHERE notice_num IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- ==============  Notice End ============== -->

    <!-- ==============  News Start ============== -->

    <select id="getAllNews" resultType="com.project.together.domain.News">
        SELECT * FROM news ORDER BY news_idx DESC
    </select>

    <select id="findNewsById" parameterType="int" resultType="com.project.together.domain.News">
        SELECT * FROM news WHERE news_idx = #{newsIdx}
    </select>

    <insert id="insertNews" parameterType="com.project.together.domain.News">
        INSERT INTO news (news_idx, username, news_title, news_regdate, news_hits, news_content)
        VALUES (#{newsIdx}, #{username}, #{newsTitle}, #{newsRegdate}, #{newsHits}, #{newsContent})
    </insert>

    <update id="updateNews" parameterType="com.project.together.domain.News">
        UPDATE news
        SET news_title = #{newsTitle}, news_content = #{newsContent}, news_regdate = #{newsRegdate}
        WHERE news_idx = #{newsIdx}
    </update>

    <delete id="deleteNews" parameterType="list">
        DELETE FROM news WHERE news_idx IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- ==============  News End ============== -->


    <!-- ==============  ClubPhoto Start ============== -->

    <select id="getAllClubPhoto" resultType="com.project.together.domain.ClubPhoto">
        SELECT * FROM clubphoto ORDER BY cp_idx DESC
    </select>

    <select id="findClubPhotoById" parameterType="int" resultType="com.project.together.domain.ClubPhoto">
        SELECT * FROM clubphoto WHERE cp_idx = #{cpIdx}
    </select>

    <insert id="insertClubPhoto" parameterType="com.project.together.domain.ClubPhoto">
        INSERT INTO clubphoto (cp_idx, username, cp_title, cp_regdate, cp_hits, cp_content)
        VALUES (#{cpIdx}, #{username}, #{cpTitle}, #{cpRegdate}, #{cpHits}, #{cpContent})
    </insert>

    <update id="updateClubPhoto" parameterType="com.project.together.domain.ClubPhoto">
        UPDATE clubphoto
        SET cp_title = #{cpTitle}, cp_content = #{cpContent}, cp_regdate = #{cpRegdate}
        WHERE cp_idx = #{cpIdx}
    </update>

    <delete id="deleteClubPhoto" parameterType="list">
        DELETE FROM clubphoto WHERE cp_idx IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- ==============  ClubPhoto End ============== -->


    <!-- ==============  ClubVideo Start ============== -->

    <select id="getAllClubVideo" resultType="com.project.together.domain.ClubVideo">
        SELECT * FROM ClubVideo ORDER BY cv_idx DESC
    </select>

    <select id="findClubVideoById" parameterType="int" resultType="com.project.together.domain.ClubVideo">
        SELECT * FROM ClubVideo WHERE cv_idx = #{cvIdx}
    </select>

    <insert id="insertClubVideo" parameterType="com.project.together.domain.ClubVideo">
        INSERT INTO ClubVideo (cv_idx, username, cv_title, cv_date, cv_hits, mv_the_origin_url, cv_content)
        VALUES (#{cvIdx}, #{username}, #{cvTitle}, #{cvDate}, #{cvHits}, #{mvTheOriginUrl}, #{cvContent})
    </insert>

    <update id="updateClubVideo" parameterType="com.project.together.domain.ClubVideo">
        UPDATE ClubVideo
        SET cv_title = #{cvTitle}, cv_content = #{cvContent}, cv_date = #{cvDate}, mv_the_origin_url = #{mvTheOriginUrl}
        WHERE cv_idx = #{cvIdx}
    </update>

    <delete id="deleteClubVideo" parameterType="list">
        DELETE FROM ClubVideo WHERE cv_idx IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- ==============  ClubVideo End ============== -->


    <!-- ==============  Player Start ============== -->


    <select id="getK5Player" resultType="com.project.together.domain.K5_Player">
        SELECT * FROM K5_Player ORDER BY k5_player_num DESC
    </select>

    <select id="getK7Player" resultType="com.project.together.domain.K7_Player">
        SELECT * FROM K7_Player ORDER BY k7_player_num DESC
    </select>

    <select id="getW1Player" resultType="com.project.together.domain.W1_Player">
        SELECT * FROM W1_Player ORDER BY w1_player_num DESC
    </select>

    <select id="find_k5PlayerByNum" parameterType="int" resultType="com.project.together.domain.K5_Player">
        SELECT * FROM K5_Player WHERE k5_player_num = #{playerNum}
    </select>

    <select id="find_k7PlayerByNum" parameterType="int" resultType="com.project.together.domain.K7_Player">
        SELECT * FROM K7_Player WHERE k7_player_num = #{playerNum}
    </select>

    <select id="find_w1PlayerByNum" parameterType="int" resultType="com.project.together.domain.W1_Player">
        SELECT * FROM W1_Player WHERE w1_player_num = #{playerNum}
    </select>


    <delete id="deleteK5playerByPlayerNum" parameterType="java.util.List">
        DELETE FROM K5_Player
        WHERE k5_player_num IN
        <foreach item="playerNum" collection="list" open="(" separator="," close=")">
            #{playerNum}
        </foreach>
    </delete>

    <delete id="deleteK7playerByPlayerNum" parameterType="java.util.List">
        DELETE FROM K7_Player
        WHERE k7_player_num IN
        <foreach item="playerNum" collection="list" open="(" separator="," close=")">
            #{playerNum}
        </foreach>
    </delete>

    <delete id="deleteW1playerByPlayerNum" parameterType="java.util.List">
        DELETE FROM W1_Player
        WHERE w1_player_num IN
        <foreach item="playerNum" collection="list" open="(" separator="," close=")">
            #{playerNum}
        </foreach>
    </delete>



    <insert id="registerK5Player" parameterType="com.project.together.domain.K5_Player">
        INSERT INTO K5_Player (k5_player_num, k5_file_path, k5_player_name, k5_player_en_name, k5_player_cap_yn, k5_player_subcap_yn, k5_player_position, k5_player_height, k5_player_weight, k5_player_birth)
        VALUES (#{k5PlayerNum}, #{k5filePath}, #{k5PlayerName}, #{k5PlayerEnName}, #{k5PlayerCapYn}, #{k5PlayerSubCapYn}, #{k5PlayerPosition}, #{k5PlayerHeight}, #{k5PlayerWeight}, #{k5PlayerBirth})
    </insert>

    <insert id="registerK7Player" parameterType="com.project.together.domain.K7_Player">
        INSERT INTO K7_Player (k7_player_num, k7_file_path, k7_player_name, k7_player_en_name, k7_player_cap_yn, k7_player_subcap_yn, k7_player_position, k7_player_height, k7_player_weight, k7_player_birth)
        VALUES (#{k7PlayerNum}, #{k7filePath}, #{k7PlayerName}, #{k7PlayerEnName}, #{k7PlayerCapYn}, #{k7PlayerSubCapYn}, #{k7PlayerPosition}, #{k7PlayerHeight}, #{k7PlayerWeight}, #{k7PlayerBirth})
    </insert>

    <insert id="registerW1Player" parameterType="com.project.together.domain.W1_Player">
        INSERT INTO W1_Player (k7_player_num, k7_file_path, k7_player_name, k7_player_en_name, k7_player_cap_yn, k7_player_subcap_yn, k7_player_position, k7_player_height, k7_player_weight, k7_player_birth)
        VALUES (#{k7PlayerNum}, #{k7filePath}, #{k7PlayerName}, #{k7PlayerEnName}, #{k7PlayerCapYn}, #{k7PlayerSubCapYn}, #{k7PlayerPosition}, #{k7PlayerHeight}, #{k7PlayerWeight}, #{k7PlayerBirth})
    </insert>



    <!-- ==============  Player End ============== -->


</mapper>