<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.together.mapper.MatchMapper">

    <select id="K5selectSchedule" resultType="com.project.together.domain.Match">
        SELECT m.*
        FROM matches m
        JOIN teamstaff ts ON m.team_staff_name = ts.team_staff_name
        WHERE ts.team_league_gb = 'K5'
        AND m.match_result IS  NULL
        AND m.match_score IS  NULL
        AND m.league_gb = 'K5'
    </select>

    <select id="K5selectResult" resultType="com.project.together.domain.Match">
        SELECT m.*
        FROM matches m
        JOIN teamstaff ts ON m.team_staff_name = ts.team_staff_name
        WHERE ts.team_league_gb = 'K5'
        and m.match_result is not null and
        m.match_score is not null
    </select>

    <select id="K7selectSchedule" resultType="com.project.together.domain.Match">
        SELECT m.*
        FROM matches m
        JOIN teamstaff ts ON m.team_staff_name = ts.team_staff_name
        WHERE ts.team_league_gb = 'K7'
        AND m.match_result IS  NULL
        AND m.match_score IS  NULL
        AND m.league_gb = 'K7'
    </select>

    <select id="K7selectResult" resultType="com.project.together.domain.Match">
        SELECT m.*
        FROM matches m
        JOIN teamstaff ts ON m.team_staff_name = ts.team_staff_name
        WHERE ts.team_league_gb = 'K7'
        and m.match_result is not null and
        m.match_score is not null
    </select>

    <select id="W1selectSchedule" resultType="com.project.together.domain.Match">
        SELECT m.*
        FROM matches m
        JOIN teamstaff ts ON m.team_staff_name = ts.team_staff_name
        WHERE ts.team_league_gb = 'W1'
        AND m.match_result IS  NULL
        AND m.match_score IS  NULL
        AND m.league_gb = 'W1'
    </select>

    <select id="W1selectResult" resultType="com.project.together.domain.Match">
        SELECT m.*
        FROM matches m
        JOIN teamstaff ts ON m.team_staff_name = ts.team_staff_name
        WHERE ts.team_league_gb = 'W1'
        and m.match_result is not null and
        m.match_score is not null
    </select>
</mapper>