<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.together.mapper.MediaMapper">

    <select id="findAll" resultType="com.project.together.domain.Notice">
        SELECT * FROM Notice
        ORDER BY notice_num DESC
        LIMIT #{start}, #{limit}
    </select>

    <select id="findNoticeByNoticeNum" parameterType="int" resultType="com.project.together.domain.Notice">
        SELECT * FROM Notice WHERE notice_num = #{noticeNum}
    </select>

    <select id="getNewsList" resultType="com.project.together.domain.News">
        SELECT *
        FROM News
        ORDER BY news_idx DESC
        LIMIT #{start}, #{limit}
    </select>


    <select id="findNewsByNewsNumber" parameterType="int" resultType="com.project.together.domain.News">
        SELECT * FROM News WHERE news_idx = #{newsNum}
    </select>

    <select id="getClubPhotoList" resultType="com.project.together.domain.ClubPhoto">
        SELECT *
        FROM ClubPhoto
        ORDER BY cp_idx DESC
        LIMIT #{start}, #{limit}
    </select>




</mapper>