<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.together.mapper.MemberMapper">


    <select id="getPasswordById" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT member_pw FROM member WHERE member_id = #{member_id}
    </select>


    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM member WHERE member_id = #{member_id}
    </select>


    <select id="emailCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM member WHERE member_email = #{member_email}
    </select>


    <select id="getAllMembers" resultType="com.project.together.domain.Member">
        SELECT * FROM Member
    </select>

    <select id="getK5Players" resultType="com.project.together.domain.K5_Player">
        SELECT k5_player_num, k5_player_name FROM K5_Player
    </select>

    <select id="getK7Players" resultType="com.project.together.domain.K7_Player">
        SELECT k7_player_num, k7_player_name FROM K7_Player
    </select>

    <select id="getSPlayers" resultType="com.project.together.domain.S_Player">
        SELECT s_player_num, s_player_name FROM S_Player
    </select>


    <update id="updateMember" parameterType="com.project.together.domain.Member">
        UPDATE Member SET member_name = #{name}, member_gender = #{gender}, member_phone = #{phone}, member_email =
        #{email}, member_birth = #{birth}, member_address = #{address}, member_like_player = #{likePlayer},
        member_marketing = #{member_marketing} WHERE
        member_id = #{memberId}
    </update>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM Member WHERE member_id = #{memberId}
    </delete>

    <insert id="joinMember" parameterType="com.project.together.domain.Member">
        INSERT INTO Member (member_id, member_pw, member_name, member_gender, member_phone, member_email, member_birth,
        member_address, member_like_player, member_like_player_gb, member_marketing) VALUES (#{member_id}, #{member_pw},
        #{member_name}, #{member_gender},
        #{member_phone}, #{member_email},
        #{member_birth}, #{member_address}, #{member_like_player}, #{member_like_player_gb}, #{member_marketing})
    </insert>


</mapper>
