<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.together.mapper.MyMapper">

    <delete id="deleteByUserId" parameterType="string">
        DELETE FROM QnA WHERE username = #{username}
    </delete>

    <delete id="deleteQna" parameterType="map">
        DELETE FROM QnA WHERE qna_Num = #{qnaNum} AND username = #{username}
    </delete>

    <select id="findQnaByQnaNum" parameterType="int" resultType="com.project.together.domain.Qna">
        SELECT * FROM QnA WHERE qna_Num = #{qnaNum}
    </select>

    <select id="findByUsername" parameterType="string" resultType="com.project.together.domain.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="findQnaByUsername" parameterType="string" resultType="com.project.together.domain.Qna">
        SELECT * FROM QnA WHERE username = #{username}
    </select>

    <insert id="saveQna" parameterType="com.project.together.domain.Qna">
        INSERT INTO QnA (username, qna_title, qna_content, qna_date, qna_update, qna_status, qna_View, auth_Id)
        VALUES (#{username}, #{qnaTitle}, #{qnaContent}, #{qnaDate}, #{qnaUpdate}, #{qnaStatus},
        #{qnaView}, #{authId})
    </insert>


</mapper>
