<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.together.mapper.TeamMapper">

    <select id="getK5Player" resultType="com.project.together.domain.K5_Player">
        SELECT * FROM K5_Player ORDER BY k5_player_num DESC
    </select>

    <select id="getK7Player" resultType="com.project.together.domain.K7_Player">
        SELECT * FROM K7_Player ORDER BY k7_player_num DESC
    </select>

    <select id="getW1Player" resultType="com.project.together.domain.W1_Player">
        SELECT * FROM W1_Player ORDER BY W1_player_num DESC
    </select>

    <select id="getTeamStaff" resultType="com.project.together.domain.TeamStaff">
        SELECT * FROM TeamStaff ORDER BY team_staff_num DESC
    </select>


</mapper>
